<?xml version="1.0" encoding="UTF-8"?>

<!--
  Copyright 2011-2012, by the California Institute of Technology.
  ALL RIGHTS RESERVED. United States Government Sponsorship acknowledged.
  Any commercial use must be negotiated with the Office of Technology Transfer
  at the California Institute of Technology.

  This software is subject to U. S. export control laws and regulations
  (22 C.F.R. 120-130 and 15 C.F.R. 730-774). To the extent that the software
  is subject to U.S. export control laws and regulations, the recipient has
  the responsibility to obtain export licenses or other export authority as
  may be required before exporting such information to foreign countries or
  providing access to foreign nationals.

  $Id$
-->

<document>
  <properties>
    <title>Operation</title>
    <author email="Jordan.H.Padams@jpl.nasa.gov">Jordan Padams</author>
    <author email="Sean.Hardman@jpl.nasa.gov">Sean Hardman</author>
  </properties>

  <body>
    <section name="Operation">
      <p>This document describes how to operate the Generate Tool software. The following topics can be found in this document:
      </p>

      <ul>
        <li><a href="#Tool_Execution">Tool Execution</a></li>
        <li><a href="#Advanced_Usage">Advanced Usage</a></li>
      </ul>

      <p>Note: The command-line examples in this section have been broken into multiple lines for readability. The commands should be reassembled into a single line prior to execution.
      </p>
    </section>

    <section name="Tool Execution">
      <p>Generate Tool can be executed in various ways. This section describes how to run the tool, as well as its behaviors and caveats.
      </p>

      <subsection name="Command-Line Options">
        <p>The following table describes the command-line options available:
        </p>

        <table>
          <tr><th>Command-Line Option</th><th>Description</th></tr>
          <tr><td>-b,--base-path &lt;base path mask&gt;</td><td>Specify the base file path mask to be stripped from the input file path to allow output in a relative directory structure. Requires -o flag to also be specified.</td></tr>
          <tr><td>-d,--debug</td><td>Verbose debugging output. Shows each step of parsing and label generation.</td></tr>
          <tr><td>-h,--help</td><td>Display usage.</td></tr>
          <tr><td>-o,--output-path &lt;output path&gt;</td><td>Specify an output path to output the new PDS4 labels. By default, the file will output in same location as the input file.</td></tr>
          <tr><td>-p,--pds3-label &lt;pds3 label&gt;</td><td>Parse the file or list of files as PDS3 Standard labels (also applicable for VICAR labels).</td></tr>
          <tr><td>-t,--template &lt;velocity template&gt;</td><td>Specify the file path for the Velocity template used to convert the input label(s).</td></tr>
          <tr><td>-I, --include &lt;paths&gt;</td><td>Specify paths to search for files referenced by pointers in a label. This flag is valid only when using the product-tools library as the underlying parser. Separate each path with a comma. Default is to always look in the directory of the label, then search the specified directories.</td></tr>
          <tr><td>-V,--version</td><td>Display application version.</td></tr>
        </table>

      </subsection>

      <subsection name="Execute Generate Tool">
        <p>This section demonstrates execution of the tool using the command-line options. The examples below execute the tool via the batch/shell script.
        </p>

        <p>The following command demonstrates how to run the Generate Tool to convert from a PDS3 Label to a PDS4 Label using a Velocity template file and output to a file:
        </p>

        <source>
% generate -p &lt;pds3-label-path&gt; -t &lt;velocity-template-path&gt;
        </source>

        <p>The output would go into a file &lt;pds3-label-path&gt;.xml (i.e. $HOME/mpf123.img -&gt; $HOME/mpf123.xml
        </p>

        <p>The following command demonstrates how to run the Generate Tool to convert from a PDS3 Label to a PDS4 Label using a Velocity template file and output all debug information to standard out:
        </p>

        <source>
% generate -d -p &lt;pds3-label-path&gt; -t &lt;velocity-template-path&gt;
        </source>

      </subsection>
    </section>
    
    <section name="Advanced Usage">
      <p>This section describes more advanced ways to run the tool, as well as its behaviors and caveats.
      </p>
      
      <subsection name="Changing the Underlying Parser">
        <p>The Generate Tool defaults to using the VicarIO library as the underlying parser when parsing input labels. The tool provides a capability to change the underlying parser to use the Product-Tools library instead. A common use case of changing the underlying parser is when an input label contains a ^STRUCTURE pointer. This section details how to set the underlying parser to the product-tools library.
        </p>
        
        <p><b><i>UNIX-Based Environment</i></b></p>
        
        <p>To change the underlying parser, set the <i>pds.generate.parser.type</i> Java system property to <i>product-tools</i> in the <i>generate</i> shell script as follows:
        </p>
        
        <source>
Change the following line 
        
"${JAVA_HOME}"/bin/java -jar ${GENERATE_JAR} "$@"

to
        
"${JAVA_HOME}"/bin/java -Dpds.generate.parser.type=product-tools -jar ${GENERATE_JAR} "$@"                
        </source>
        
        <p><b><i>Windows Environmnet</i></b></p>
        
        <p>To change the underlying parser, set the <i>pds.generate.parser.type</i> Java system property to <i>product-tools</i> in the <i>generate.bat</i> batch file as follows:
        </p>
        
        <source>
Change the following line 
        
"%JAVA_HOME%"\bin\java -jar "%GENERATE_JAR%" %*

to

"%JAVA_HOME%"\bin\java -Dpds.generate.parser.type=product-tools -jar "%GENERATE_JAR%" %*               
        </source>
        
        <p><b><i>API Method</i></b></p>
        
        <p>When calling the Generate Tool through the API, add the following line of code to change the underlying parser to use the Product-Tools library:
        </p>
        
        <source>
System.setProperty("pds.generate.parser.type", "product-tools");
        </source>
        
      </subsection>
    </section>
  </body>
</document>
