<?xml version="1.0" encoding="UTF-8"?>

<!--
  Copyright 2011, by the California Institute of Technology.
  ALL RIGHTS RESERVED. United States Government Sponsorship acknowledged.
  Any commercial use must be negotiated with the Office of Technology Transfer
  at the California Institute of Technology.

  This software is subject to U. S. export control laws and regulations
  (22 C.F.R. 120-130 and 15 C.F.R. 730-774). To the extent that the software
  is subject to U.S. export control laws and regulations, the recipient has
  the responsibility to obtain export licenses or other export authority as
  may be required before exporting such information to foreign countries or
  providing access to foreign nationals.

  $Id$
-->

<document>
  <properties>
    <title>Operation</title>
    <author email="Jordan.H.Padams@jpl.nasa.gov">Jordan Padams</author>
    <author email="Sean.Hardman@jpl.nasa.gov">Sean Hardman</author>
  </properties>

  <body>
    <section name="Operation">
      <p>The following topics can be found in this section:
      </p>

      <ul>
        <li><a href="#Tool_Execution">Tool Execution</a></li>
      </ul>

      <p>Note: The command-line examples in this section have been broken into multiple lines for readability. The commands should be reassembled into a single line prior to execution.
      </p>
    </section>

    <section name="Tool Execution">
      <p>Generate Tool can be executed in various ways. This section describes how to run the tool, as well as its behaviors and caveats.
      </p>

      <subsection name="Command-Line Options">
        <p>The following table describes the command-line options available:
        </p>

        <table>
          <tr><th>Command-Line Option</th><th>Description</th></tr>
          <tr><td>-c, --conf-home</td><td>Specify the path for the configuration files</td></tr>
          <tr><td>-d, --debug</td><td>Directs output to screen, not file.</td></tr>
          <tr><td>-f, --file-list</td><td>Specify the path for a file containing a list of file paths for PDS3 Labels</td></tr>
          <tr><td>-h, --help</td><td>Display usage.</td></tr>
          <tr><td>-o, --output-file</td><td>Specify an output filename.  Default is PDS3 label name with _pds4 suffix.</td></tr>
          <tr><td>-p, --pds3-label</td><td>Specify the file path for the PDS3 Label to be converted to PDS4</td></tr>
          <tr><td>-t, --template</td><td>Specify the file path for the Velocity template for PDS3 -> PDS4 conversion</td></tr>
          <tr><td>-V, --version</td><td>Display application version.</td></tr>
        </table>
      </subsection>

      <subsection name="Execute Generate Tool">
        <p>This section demonstrates execution of the tool using the command-line options. The examples below execute the tool via the batch/shell script.
        </p>

        <p>The following command demonstrates how to run the Generate Tool to convert from a PDS3 Label to a PDS4 Label using a Velocity template file and output to standard out:
        </p>

        <source>
% PDS4Generate -d -p &lt;pds3-label-path&gt; -t &lt;velocity-template-path&gt;
        </source>

        <p>The following command demonstrates how to run the Generate Tool to convert from a PDS3 Label to a PDS4 Label using a Velocity template file and output to a file:
        </p>

        <source>
% PDS4Generate -p &lt;pds3-label-path&gt; -t &lt;velocity-template-path&gt;
        </source>

	<p>The output would go into a file &lt;pds3-label-path&gt;.xml (i.e. $HOME/mpf123.img -&gt; $HOME/mpf123.xml</p>
        
      </subsection>
    </section>
  </body>
</document>
