<?xml version="1.0" encoding="UTF-8"?>

<!-- 
  Copyright 2016, by the California Institute of Technology.
  ALL RIGHTS RESERVED. United States Government Sponsorship acknowledged.
  Any commercial use must be negotiated with the Office of Technology 
  Transfer at the California Institute of Technology.

  This software may be subject to U.S. export control laws. By accepting 
  this software, the user agrees to comply with all applicable U.S. export 
  laws and regulations. User has the responsibility to obtain export licenses, 
  or other export authority as may be required before exporting such 
  information to foreign countries or providing access to foreign persons.

  $Id$
-->

<web-app>
  <display-name>Transport Service (Upload)</display-name>
  <description>
    The Transport Service provides functionality for uploading files.
  </description>

  <servlet>
    <servlet-name>upload</servlet-name>
    <display-name>Upload</display-name>
    <description>
    </description>
    <servlet-class>gov.nasa.pds.transport.UploadServlet</servlet-class>
    <!-- All parameters are optional and default to the values below.
    <init-param>
      <param-name>repositoryPath</param-name>
      <param-value>/tmp</param-value>
    </init-param>
    -->
  </servlet>

  <servlet-mapping>
    <servlet-name>upload</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>
