<?xml version="1.0" encoding="UTF-8"?>

<!--
  Copyright 2010, by the California Institute of Technology.
  ALL RIGHTS RESERVED. United States Government Sponsorship acknowledged.
  Any commercial use must be negotiated with the Office of Technology
  Transfer at the California Institute of Technology.

  This software is subject to U. S. export control laws and regulations
  (22 C.F.R. 120-130 and 15 C.F.R. 730-774). To the extent that the software
  is subject to U.S. export control laws and regulations, the recipient has
  the responsibility to obtain export licenses or other export authority as
  may be required before exporting such information to foreign countries or
  providing access to foreign nationals.

  $Id$
-->

<document>
  <properties>
    <title>UNIX Setup Options</title>
    <author email="Michael.Cayanan@jpl.nasa.gov">Michael Cayanan</author>
    <author email="Sean.Hardman@jpl.nasa.gov">Sean Hardman</author>
  </properties>

  <body>
    <section name="UNIX Setup Options">
      <p>This section details a couple of options for setting up a UNIX environment for launching the Validate Tool.
      </p>

      <subsection name="Specify the CLASSPATH on the Command-Line">
        <p>An alternative method to setting the <i>CLASSPATH</i> variable with all of the tool's dependent JAR files is to specify the <i>java.ext.dirs</i> Java property on the command-line when running the tool each time. This is done by passing the property via the Java "-D" flag as demonstrated in the following example:
        </p>

        <source>
% java -Djava.ext.dirs=$HOME/${xdoc-artifactId}-${xdoc-version}/lib \
gov.nasa.pds.validate.ValidateLauncher \
&lt;targets&gt; &lt;command-line arguments&gt;
        </source>
      </subsection>

      <subsection name="Specify the JAR on the Command-Line">
        <p>Another alternative method is to specify the executable JAR file on the command-line when running the tool each time. This is done by passing the JAR file specification via the Java "-jar" flag as demonstrated in the following example:
        </p>

        <source>
% java -jar $HOME/${xdoc-artifactId}-${xdoc-version}/lib/${xdoc-artifactId}-${xdoc-version}.jar \
&lt;targets&gt; &lt;command-line arguments&gt;
        </source>
      </subsection>
    </section>
  </body>
</document>
