body {background-color:#000000;}
body, table, td, form, input, select, h1, h2, h3, h4, h5, h6, pre {font-family:Arial; font-size:12px; color:#000000;}
/* Netscape 4 font-size fix */
html body, html table, html td, html input, html select, html h1, html h2, html h3, html h4, html h5, html h6 {font-size:11px;}
h1, h2, h3, h4, h5, h6 {font-weight:bold;}
form {margin:0px; padding:0px;}
/* Modified to make default link behave like featureLnk */
a {color:#006699;text-decoration:none;}
a:hover {text-decoration:underline;}
.boldTitle {font-size:13px; font-weight:bold;}
.italic {font-style:italic;}
.light {color:#484848;}
.small {font-size:10px;}
.red {color: #FF0000;}

/* Global Styles */
.headerLnk {color:#666666; line-height:16px;}
.footerLnk {color:#000000;}
.navLnkBlack {color:#000000; line-height:18px;}
.navLnkBlue {color:#006699; line-height:18px;}
.navLnkRed {color:#FF3333; line-height:18px;}
.navLnkWhite {color:#FFFFFF; line-height:18px;}
.navLnkGreen {color:#408040; line-height:18px;}
.credits {color:#cccccc;}
.pageTitle {font-size:18px; color:#003399; font-weight:bold;}
.pageTitleSub {font-size:13px; color:#006699; font-weight:bold;}
.formLabel {color:#003399; font-weight:bold;}

/* Default blue color scheme */
.backgroundBlue {color:#006699;}
.foregroundBlue {background:#006699;}

/* Alternating row colors */
.rowColor0 {color:#E7EEF9}
.rowColor1 {color:#FFFFFF}

a.navLnkWhite:link, a.navLnkWhite:visited {text-decoration: none;}
a.navLnkWhite:hover {text-decoration: underline;}
td.leftnav {background: #E2E2E2;}
a.leftnavOff:link, a.leftnavOff:visited {background: #E2E2E2; color: #626262; text-decoration: none;}
a.leftnavOff:hover {background: #E2E2E2; color: #626262; text-decoration: underline;}
a.leftnavOn:link, a.leftnavOn:visited {background: #E2E2E2; color: #000000; text-decoration: none;}
a.leftnavOn:hover {background: #E2E2E2; color: #000000; text-decoration: underline;}
.leftNavTitle {color:#000000; font-weight:bold; font-size:12px; line-height:24px;  padding-left: 5px; }

.inputBox {
	background: #E2EAFC;
	color: #000000;
	font-family: Mono;
	font-size: 12px;
	font-weight: bold;
}
