<?xml version="1.0" encoding="UTF-8"?>

<!--
  Copyright 2010-2012, by the California Institute of Technology.
  ALL RIGHTS RESERVED. United States Government Sponsorship acknowledged.
  Any commercial use must be negotiated with the Office of Technology Transfer
  at the California Institute of Technology.

  This software is subject to U. S. export control laws and regulations
  (22 C.F.R. 120-130 and 15 C.F.R. 730-774). To the extent that the software
  is subject to U.S. export control laws and regulations, the recipient has
  the responsibility to obtain export licenses or other export authority as
  may be required before exporting such information to foreign countries or
  providing access to foreign nationals.

  $Id$
-->

<document>
  <properties>
    <title>Installation</title>
    <author email="Jordan.H.Padams@jpl.nasa.gov">Jordan Padams</author>
    <author email="Sean.Hardman@jpl.nasa.gov">Sean Hardman</author>
  </properties>

  <body>
    <section name="Installation">
      <p>This document describes how to install the Searrch User Interface software contained in the <i>${project.artifactId}</i> package. The following topics can be found in this document:
      </p>

      <ul>
        <li><a href="#System_Requirements">System Requirements</a></li>
        <li><a href="#Unpacking_the_Package">Unpacking the Package</a></li>
        <li><a href="#Deploying_the_Application">Deploying the Application</a></li>
        <li><a href="#Deploying_the_Extras">Deploying the Extras</a></li>
      </ul>
    </section>

    <section name="System Requirements">
      <p>This section details the system requirements for installing and operating the Search User Interface.
      </p>

      <subsection name="Java Runtime Environment">
        <p>The Search User Interface was developed using Java and JSP and will run on any platform with a supported Java Runtime Environment (JRE). The software was specifically developed under Java version 1.6 and has only been tested with this version. The following commands test the local Java installation in a UNIX-based environment:
        </p>

        <source>
% which java
/usr/bin/java

% java -version
java version "1.6.0_26"
Java(TM) SE Runtime Environment (build 1.6.0_26-b03-384-10M3425)
Java HotSpot(TM) 64-Bit Server VM (build 20.1-b02-384, mixed mode)
        </source>

        <p>The first command above checks whether the <i>java</i> executable is in the environment's path and the second command reports the version. If Java is not installed or the version is not at least 1.6, Java will need to be downloaded and installed in the current environment. Consult the local system administrator for installation of this software. For the do-it-yourself crowd, the Java software can be downloaded from the <a href="http://www.oracle.com/technetwork/java/javase/downloads/" target="_blank">Oracle Java Download</a> page. The software package of choice is the Java Standard Edition (SE) 6, either the JDK or the JRE package. The JDK package is not necessary to run the software but could be useful if development and compilation of Java software will also occur in the current environment.
        </p>
      </subsection>

      <subsection name="Java Application Server">
        <p>The Search User Interface requires a Java application server for hosting the web application. The suggested application server for this release is Apache Tomcat with a minimal version of 6.0.20 through version 7.0.X. Consult the local system administrator for installation of this software. For the do-it-yourself crowd, the Apache Tomcat software can be downloaded from the <a href="http://tomcat.apache.org/" target="_blank">Apache Tomcat</a> page. Choose the version to download (6.0 or 7.0) from the menu on the left.
        </p>
      </subsection>
    </section>

    <section name="Unpacking the Package">
      <p>Download the <i>${project.artifactId}</i> package from the PDS <a href="ftp://pds.nasa.gov/pub/toplevel/2010/search/" target="_blank">FTP</a> site. The binary distribution is available in identical zip or tar/gzip packages. The installation directory may vary from environment to environment but in UNIX-based environments it is typical to install software packages in the <i>/usr/local</i> directory and in Windows-based environments it is typical to install software packages in the <i>C:\Program Files</i> directory. Unpack the selected binary distribution file with one of the following commands:
      </p>

      <source>
% unzip ${project.artifactId}-${project.version}-bin.zip
or
% tar -xzvf ${project.artifactId}-${project.version}-bin.tar.gz
      </source>

      <p>Note: Depending on the platform, the native version of <i>tar</i> may produce an error when attempting to unpack the distribution file because many of the file paths are greater than 100 characters. If available, the GNU version of tar will resolve this problem. If that is not available or cannot be installed, the zipped package will work just fine in a UNIX environment.
      </p>

      <p>The commands above result in the creation of the <i>${project.artifactId}-${project.version}</i> directory with the following directory structure:
      </p>

      <ul>
        <li><b>README.txt</b><br/>
          <p>A README file directing the user to the available documentation for the project.
          </p>
        </li>
        <li><b>LICENSE.txt</b><br/>
          <p>The copyright notice from the <a href="http://www.caltech.edu/" target="_blank">California Institute of Technology</a> detailing the restrictions regarding the use and distribution of this software. Although the license is strictly worded, the software has been classified as Technology and Software Publicly Available (TSPA) and is available for <i>anyone</i> to download and use.
          </p>
        </li>
        <li><b>${project.artifactId}.war</b><br/>
          <p>This is the Web ARchive (WAR) file containing the Search User Interface software including all dependent JAR files.
          </p>
        </li>
        <li><b>doc/</b><br/>
          <p>This directory contains a local web site with the Search User Interface documentation, javadoc, unit test results and other configuration management related information. Just point the desired web browser to the <i>index.html</i> file in this directory.
          </p>
        </li>
        <li><b>extras/</b><br/>
          <p>This directory contains the css, images, javascript, and server-side include files used to build the user interface to match that provided on the PDS Engineering website.
          </p>
	</li>
      </ul>
    </section>

    <section name="Deploying the Application">
      <p>The Search User Interface web application is packaged as a WAR file and is intended for installation under a standard Java Application Server. For a Tomcat server deployment, the WAR file is normally copied directly to the <i>webapps</i> directory or installed via the Manager interface. Once this step is complete, we need to set the application to allow for cross-context so it can use the various server-side includes.  We can do this by creating <i>$TOMCAT_HOME/conf/Catalina/localhost/search-ui.xml</i> containing the following text:
      </p>
      <source>
&lt;Context docBase="/usr/local/search-ui/search-ui.war" crossContext="true"&gt;
&lt;/Context&gt;
      </source>
    </section>
    <section name="Deploying the Extras">
      <p>The Search User Interface also depends on several other directories from the PDS Website that include images, Javascript, CSS, and server-side include files that are in the <i>extras</i> directory in Search UI package.  This contains the following directories:
      </p>

      <ul>
	<li>css</li>
	<li>images</li>
	<li>include</li>
	<li>js</li>
	<li>scripts</li>
      </ul>

      <p>If these directories are not in the <i>$TOMCAT_HOME/webapps</i> directory, create the following Tomcat context files in <i>$TOMCAT_HOME/conf/Catalina/localhost</i> to include these directories:</p>

      <ul>
	<li>css.xml
	  <source>
&lt;Context docBase="/usr/local/search-ui/extras/css" &gt;&lt;/Context&gt;
	  </source>
	</li>
	<li>images.xml
	  <source>
&lt;Context docBase="/usr/local/search-ui/extras/images" &gt;&lt;/Context&gt;
	  </source>
	</li>
	<li>include.xml
	  <source>
&lt;Context docBase="/usr/local/search-ui/extras/include" &gt;&lt;/Context&gt;
	  </source>
	</li>
	<li>js.xml
	  <source>
&lt;Context docBase="/usr/local/search-ui/extras/js" &gt;&lt;/Context&gt;
	  </source>
	</li>
	<li>scripts.xml
	  <source>
&lt;Context docBase="/usr/local/search-ui/extras/scripts" &gt;&lt;/Context&gt;
	  </source>
	</li>
      </ul>

      <p>An alternative solution is to move all of the directories into the $TOMCAT_HOME/webapps directory.</p>
      
      <p>Restart Tomcat to ensure the changes take effect.</p>
    </section>

  </body>
</document>
