<?xml version="1.0" encoding="UTF-8"?>

<!--
  Copyright 2016-2017 by the California Institute of Technology.
  ALL RIGHTS RESERVED. United States Government Sponsorship acknowledged.
  Any commercial use must be negotiated with the Office of Technology Transfer
  at the California Institute of Technology.

  This software is subject to U. S. export control laws and regulations
  (22 C.F.R. 120-130 and 15 C.F.R. 730-774). To the extent that the software
  is subject to U.S. export control laws and regulations, the recipient has
  the responsibility to obtain export licenses or other export authority as
  may be required before exporting such information to foreign countries or
  providing access to foreign nationals.

  $Id$
-->

<document>
  <properties>
    <title>Development</title>
    <author email="Sean.Hardman@jpl.nasa.gov">Sean Hardman</author>
    <author email="Hyun.Lee@jpl.nasa.gov">Hyun Lee</author>
  </properties>

  <body>
    <section name="Development">
      <p>This document describes how a user can utilize the Application Program Interface (API) of the <i>${project.artifactId}</i> package to develop their own interface to a SMTP server. The following topics can be found in this document:
      </p>

      <ul>
        <li><a href="#API Entry Points">API Entry Points</a></li>
        <li><a href="#Test Executable JAR">Test Executable JAR</a></li>
      </ul>
    </section>

    <section name="API Entry Points">
      <p>Following section describes how a user can utilize the Application Program Interface (API) of the Email Core package to send an email to one or multiple recipients from a Java Application. Additional information is also available from the <a href="../apidocs/index.html">JavaDocs</a> documentation for this project.</p>   
      
      <p>1. Choose one of Constructors below: </p>
      <source>
// Default constructor
public SendEmail()

or
 
// Constructor with host and port for SMTP server    
public SendEmail(String host, String port)  
      
or

// Constructor with host, port, username, and password for SMTP server
public SendEmail(String host, String port, String user, String pass) 
      </source>

      <p>2a. Set host and port for the SMTP server:
      <br/><br/>
      If it is required to change host name and port number of the e-mail server, then you can set these properties as follows. The default host value is 'localhost'. The default port number is '25'.
      
      <source>
se.setHost(host);     // to set the smtp host name
se.setPort(port);     // to set the smtp port number
      </source>      
      </p>
      
      <p>2b. Set User Authentication:
      <br/> <br/>   
      If it is required to provide user ID and Password to the e-mail server for authentication purpose, then you can set these properties as follows.
      
      <source>
se.setUser(username);     // to set username for the email authentication
se.setPassword(password); // to set password for the email authentication
      </source>
      </p>
      
      <p>2c. Set Sender's Email ID: 
      <br/><br/>
      If it is required to change the sender's email id, then you can set it as follows.
      
      <source>
se.setFrom(from);     // to set the sender's email id
      </source>
      </p>      

      <p>3. Call send() method to send a message to one or more recipients. 
      If you send a message to multiple recipients using bottom send() method, the value of 'toAddress' should be separated by ','.</p>
      
      <source>
public void send(ArrayList&lt;String&gt; listOfEmails, String subject, String msgContent)    
         
or
        
public void send(String toAddress, String subject, String msgContent)
      </source>
    </section>

    <section name="Test Executable JAR">
      <p>To test the Email Core via command line, execute a program with the following command:</p>

      <source>
% java gov.nasa.pds.tracking.email.SendEmail &lt;recipient&gt; &lt;host&gt; &lt;port&gt; &lt;username&gt; &lt;password&gt;
      </source>

      <table>
        <tr><th>Command-Line Option</th><th>Description</th></tr>
        <tr><td>&lt;recipient&gt;</td><td>Specify an email address to receive the test email.</td></tr>
        <tr><td>&lt;host&gt;</td><td>Specify a host name of the email server. The default host is <i>localhost</i>.</td></tr>
        <tr><td>&lt;port&gt;</td><td>Specify a port number of the email server. The default port is <i>25</i>.</td></tr>
        <tr><td>&lt;username&gt;</td><td>Specify a username for authentication with the email server. This argument is optional.</td></tr>
        <tr><td>&lt;password&gt;</td><td>Specify a password associated with the username. This argument is optional.</td></tr>
      </table>
    </section>
  </body>
</document>
