<?xml version="1.0" encoding="UTF-8"?>

<!-- 
  Copyright 2016, by the California Institute of Technology.
  ALL RIGHTS RESERVED. United States Government Sponsorship acknowledged.
  Any commercial use must be negotiated with the Office of Technology 
  Transfer at the California Institute of Technology.

  This software is subject to U. S. export control laws and regulations 
  (22 C.F.R. 120-130 and 15 C.F.R. 730-774). To the extent that the software 
  is subject to U.S. export control laws and regulations, the recipient has 
  the responsibility to obtain export licenses or other export authority as 
  may be required before exporting such information to foreign countries or 
  providing access to foreign nationals.

  $Id$
-->

<document>
  <properties>
    <title>Operation</title>
    <author email="Sean.Hardman@jpl.nasa.gov">Sean Hardman</author>
  </properties>

  <body>
    <section name="Operation">
      <p>This document describes how to operate the Transport Service software contained in the <i>${project.artifactId}</i> package. The Transport Service software is a web application providing functionality for uploading files and writing them to a staging area. The following topics can be found in this section:
      </p>

      <ul>
        <li><a href="#Interface">Interface</a></li>
        <li><a href="#File_Upload">File Upload</a></li>
      </ul>
    </section>

    <section name="Interface">
      <p>The Transport Service provides a REST-based interface accessible via HTTP for interacting with the service. The service only supports "multipart/form-data" HTTP POST requests which must include a "file" part containing the name of the file to be uploaded. Because of this limitation, HTTP GET requests are not supported. The following options are available for interacting with the Transport Service:
      </p>

      <ul>
        <li>cURL<br/>
          <p>The <a href="http://curl.haxx.se/" target="_blank">cURL</a> utility offers the most flexible means for interacting with the application. The utility comes installed on most UNIX-based platforms and is available for download for the Windows platform. At this time, <i>Wget</i> does not support "multipart/form-data" form requests. The following is an example of using <i>cURL</i> to upload a file to the service:
          </p>
          <source>
% curl -X POST -v -F file=@&lt;fileSpec&gt; http://localhost:8080/transport-upload/upload
          </source>
        </li>
        <li>HTML Form<br/>
          <p>The web application includes an HTML Form test interface for uploading files to the service. The page is accessible at <i>http://localhost:8080/transport-upload</i>.
          </p>
        </li>
        <li>Upload Client<br/>
          <p>This package also includes a Java implementation (gov.nasa.pds.transport.UploadClient) for interacting with the service along with a corresponding command-line script (transport-update) for execution. Examples for using this interface are detailed below.
          </p>
        </li>
      </ul>

      <p>The examples below use <i>http://localhost:8080</i> as the default base end point for the service.
      </p>
    </section>

    <section name="File Upload">
      <p>The Transport Proxy web application provides functionality for retrieving directory listings and files from a Transport Service instance. The following table details the command-line options available:
      </p>

      <table>
        <tr><th>Command-Line Option</th><th>Description</th></tr>
        <tr><td>&lt;fileSpec&gt;</td><td>The file specification for the file to be uploaded to the service. This parameter is required.</td></tr>
        <tr><td>&lt;serverUrl&gt;</td><td>The URL for accessing the service. This parameter is optional and defaults to <i>http://localhost:8080/transport-upload/upload</i>.</td></tr>
      </table>

      <p>The following is the command-line format for the <i>transport-upload</i> script:
      </p>

      <source>
% transport-upload &lt;fileSpec&gt; [&lt;serverUrl&gt;]
      </source>

      <p>The following is an example of executing the <i>transport-upload</i> script to upload a file to the service (including expected output):
      </p>

      <source>
% transport-upload test.txt

Mar 13, 2016 7:43:12 PM gov.nasa.pds.transport.UploadClient main
INFO: Uploading file test.txt to server http://localhost:8080/transport-upload/upload.
Mar 13, 2016 7:43:12 PM gov.nasa.pds.transport.UploadClient upload
INFO: HTTP/1.1 200 OK
Mar 13, 2016 7:43:12 PM gov.nasa.pds.transport.UploadClient upload
INFO: File test.txt uploaded to /tmp.
      </source>

      <p>If the URL of the Transport Service is not the default URL (http://localhost:8080/transport-upload/upload), it can be specified on the command-line following the file specification.
      </p>
    </section>
  </body>
</document>
