<?xml version="1.0" encoding="UTF-8"?>

<!--
  Copyright 2018, by the California Institute of Technology.
  ALL RIGHTS RESERVED. United States Government Sponsorship acknowledged.
  Any commercial use must be negotiated with the Office of Technology Transfer
  at the California Institute of Technology.

  This software is subject to U. S. export control laws and regulations
  (22 C.F.R. 120-130 and 15 C.F.R. 730-774). To the extent that the software
  is subject to U.S. export control laws and regulations, the recipient has
  the responsibility to obtain export licenses or other export authority as
  may be required before exporting such information to foreign countries or
  providing access to foreign nationals.

  $Id$
-->

<document>
  <properties>
    <title>Operation</title>
    <author email="Michael.Cayanan@jpl.nasa.gov">Michael Cayanan</author>
    <author email="Sean.Hardman@jpl.nasa.gov">Sean Hardman</author>
  </properties>

  <body>
    <section name="Operation">
      <p>This document describes how to operate the Harvest-Search Tool software for use with PDS4 data product registration. This tool incorporates functionality from the Harvest Tool and the Search Core applications and utilizes as input, configuration files from both tools. For information on how to configure the tool harvesting or search index generation, please see the respective Operation guides for those tools. The following topics can be found in this document:
      </p>

      <ul>
        <li><a href="#Tool Execution">Tool Execution</a></li>
      </ul>

      <p>Note: The command-line examples in this section have been broken into multiple lines for readability. The commands should be reassembled into a single line prior to execution.
      </p>
    </section>

    <section name="Tool Execution">
      <p>This section describes how to execute the Harvest-Search Tool.
      </p>

      <subsection name="Command-Line Options">
        <p>The following table describes the command-line options available:
        </p>

        <table>
          <tr><th>Command-Line Option</th><th>Description</th></tr>
          <tr><td>-c, --harvest-config &lt;file&gt;</td><td>Specify a harvest policy configuration file to set the tool behavior. (This flag is required)</td></tr>
          <tr><td>-C, --doc-config &lt;dir&gt;</td><td>Specify the directory location where the document generation configuration files reside. The default is to look in the 'search-conf' directory that resides in the tool package.</td></tr>
          <tr><td>-D, --ignore-dir</td><td>Specify patterns to look for when traversing a target directory for sub-directories to ignore. Each pattern must be surrounded by quotes (i.e. -D "CATALOG").</td></tr>
          <tr><td>-e, --regexp</td><td>Specify file patterns to look for when registering products from a target directory. Each pattern must be surrounded by quotes (i.e. -e "*.xml").</td></tr>
          <tr><td>-h, --help</td><td>Display <i>harvest</i> usage.</td></tr>
          <tr><td>-l, --log-file</td><td>Specify a log file name. Default is standard out.</td></tr>
          <tr><td>-o, --output-dir</td><td>Specify a directory location to tell the tool where to output the Solr documents. The default is to write to the current working directory.</td></tr>
          <tr><td>-P, --port</td><td>Specify a port number to use if running the tool in persistence mode.</td></tr>
          <tr><td>-pds3, --is-pds3-dir</td><td>Specify the flag to indicate that the target passed into the command-line is a PDS3 directory. The default assumes that any targets passed into the command-line are PDS4 directories.</td></tr>
          <tr><td>-v, --verbose</td><td>Specify the message severity level and above to include in the log (0=Debug, 1=Info, 2=Warning, 3=Error). Default is Info and above (level 1).</td></tr>
          <tr><td>-V, --version</td><td>Display the release number and copyright information.</td></tr>
          <tr><td>-w, --wait</td><td>Specify the time, in seconds, to wait in between the crawls if running the tool in persistence mode.</td></tr>
        </table>
      </subsection>

      <subsection name="Execute Harvest-Search Tool">
        <p>The following command demonstrates the recommended way to run Harvest-Search:
        </p>

        <source>
%> harvest-search -c ../harvest-conf/harvest-policy-example.xml -C ../search-conf/defaults
        </source>

        <p>In the example above, the <i>-c</i> flag option specifies the example harvest policy configuration file while the <i>-C</i> flag option specifies location for the default search policy configuration files. The following command is a MAVEN-specific example:
        </p>

        <source>
% ./harvest-search -c ../harvest-conf/harvest-policy-maven-ngims.xml -C ../search-conf/maven-ngims \
-o ../ -l ../harvest-search-maven-ngims.log
        </source>

        <p>The above command will write out the search index files for the MAVEN NGIMS bundle into <i>solr-docs</i> directory one directory up from the <i>bin</i> directory. In an environment where multiple bundles will be indexed, that directory should be renamed and then copied to the local Search Service installation where the <i>search-core</i> index and post commands can be executed to make that content available from the Search Service.
        </p>

        <source>
% mv ../solr-docs ../solr-docs-maven-ngims
% cp -r ../solr-docs-maven-ngims /usr/local/search-service/pds/solr-docs
% search-core -i -H /usr/local/search-service/pds
% search-core -P -H /usr/local/search-service/pds
        </source>
      </subsection>
    </section>
  </body>
</document>
