<?xml version="1.0" encoding="UTF-8"?>

<!--
  Copyright 2013, by the California Institute of Technology.
  ALL RIGHTS RESERVED. United States Government Sponsorship acknowledged.
  Any commercial use must be negotiated with the Office of Technology Transfer
  at the California Institute of Technology.

  This software is subject to U. S. export control laws and regulations
  (22 C.F.R. 120-130 and 15 C.F.R. 730-774). To the extent that the software
  is subject to U.S. export control laws and regulations, the recipient has
  the responsibility to obtain export licenses or other export authority as
  may be required before exporting such information to foreign countries or
  providing access to foreign nationals.

  $Id: index.xml 11166 2012-11-14 07:06:58Z jpadams $
-->

<document>
  <properties>
    <title>Operation</title>
    <author email="Sean.Hardman@jpl.nasa.gov">Sean Hardman</author>
    <author email="Luca.Cinquini@jpl.nasa.gov">Luca Cinquini</author>
  </properties>

  <body>
    <section name="Operation">
      <p>This document describes how to operate the Transport Service software contained in the <i>${project.artifactId}</i> package. 
      The Transport Service software is a web application for transporting files from Discipline Node local data repositories. 
      The following topics can be found in this section:
      </p>

      <ul>
        <li><a href="#Interface">Interface</a></li>
        <li><a href="#Product_Query">Product Query</a></li>
      </ul>
    </section>

    <section name="Interface">
      <p>The Transport Service provides a REST-based interface accessible via HTTP for interacting with the service. This interface accepts both HTTP GET and HTTP POST style requests. Because the REST-based interface operates over HTTP, there are several options for interacting with the Transport Service:
      </p>

      <ul>
        <li>Web Browser<br/>
          <p>Any standard web browser (e.g., Firefox, Safari, Internet Explorer, etc.) will allow interaction with the service.
          </p>
        </li>
        <li>cURL<br/>
          <p>The <a href="http://curl.haxx.se/" target="_blank">cURL</a> utility offers the most flexible means for interacting with the service. The utility comes installed on most UNIX-based platforms and is available for download for the Windows platform. The examples in the sections that follow utilize <i>cURL</i> to interact with the service. If <i>cURL</i> is not installed on the local machine but <i>Wget</i> is, see the <a href="index-wget.html">Using Wget</a> section for converting <i>cURL</i> commands to <i>Wget</i> commands.
          </p>
        </li>
      </ul>

      <p>The examples below use <i>http://localhost:8080</i> as the default base end point for the service.
      </p>
    </section>

    <section name="Product Query">
      <p>The Transport Service provides functionality for transporting files from Discipline Node local data repositories. 
      The service can be queried using 3 possible methods for encoding the HTTP request parameters: DIS-Style syntax, XML query expressions, or
      simple HTTP (name, value) pairs.
      The following table summarizes the parameters available:
      </p>

      <table>
        <tr><th>HTTP Parameter</th><th>Description</th></tr>
        <tr><td>q</td><td>The DIS-Style query expression identifying the product (or set of files) to retrieve from the Transport Service. This is the preferred parameter for querying the Transport Service and is required if the <i>xmlq</i> parameter is not specified. Additional information regarding the DIS-Style query format can be found at the <a href="http://oodt.apache.org/components/maven/xmlquery/disquery/" target="_blank">Apache OODT DIS-Style Query</a> page.</td></tr>
        <tr><td>xmlq</td><td>The XML query expression identifying the product (or set of files) to retrieve from the Transport Service. The details for the format of this query expression will not be covered here. Although supported, the <i>q</i> parameter is preferred and is utilized by all existing client interfaces. This parameter is required if the <i>q</i> parameter is not specified.</td></tr>
        <tr><td>OFSN, RT</td><td>The Online File Specification Name (OFSN) and Return Type (RT) parameter names, set equal to the requested values.</td></tr>
      </table>

      <p>The following is an example query request via <i>cURL</i> using the <i>q</i> parameter:

<source>
% curl -X GET -o results.out -v \
http://localhost:8080/transport-service/prod?q=&lt;keyword-query&gt;
</source>
	and following is the general syntax for using <i>cURL</i> with the direct HTTP parameters encoding:
<source>
% curl -X GET -o results.out -v \
http://localhost:8080/transport-service/prod?OFSN=&lt;ofsn value&gt;&amp;RT=&lt;rt value&gt;
</source>	
     </p>

      <p>When using DIS-Style format, the OFSN and RT parameters must be encoded as part of the "q" value parameter:
      </p>

      <table>
        <tr><th>DIS Query Parameter</th><th>Description</th></tr>
        <tr><td>OFSN</td><td>The online file specification name for a file or directory accessible by the Transport Service. The keyword can be specified in long form as <i>ONLINE_FILE_SPECIFICATION_NAME</i>. This keyword is required.</td></tr>
        <tr><td>RT</td><td>The return type specifies how the file or directory will be returned to the client from the Transport Service. The keyword can be specified in long form as <i>RETURN_TYPE</i>. The table below details the valid value list for this keyword. This keyword is required.</td></tr>
      </table>

      <p>The keyword query expression must be properly encoded by the rules of Uniform Resource Identifiers whether they're part of the URL in an HTTP GET request or transmitted separately in an HTTP POST request. In general, this means that characters spaces and equals signs in query expressions need to be properly escaped. Most browsers and HTTP libraries will happily relax these rules, though, especially in cases where there is no ambiguity. For Transport Service queries, this basically means changing your spaces to <i>+</i>'s. The following example of a keyword query expression details the difference between an unencoded and encoded query:
      </p>

<source>
OFSN EQ &lt;online-file-specification-name&gt; AND RT EQ &lt;return-type&gt;

  properly encoded request:

OFSN+EQ+&lt;online-file-specification-name&gt;+AND+RT+EQ+&lt;return-type&gt;
</source>
      
      <p>
      	For example, the following query requests a directory listing from the <i>test-data1</i> sub-directory found under the Transport Service's root directory 
      	(specified by the <i>productRoot</i> property during configuration):
      </p>
<source>
% curl -X GET -o results.out -v \
http://localhost:8080/transport-service/prod?q=OFSN+EQ+/test-data1+AND+RT+EQ+DIRLIST1
</source>

      <p>The following table lists all the valid values for the return type keyword. 
         The examples provided assume the existence of a transport-service application deployed within a local Tomcat container running on port 8080.
         For each possible value of RT, the same example request is shown as encoded with DIS-Style syntax, or simple (name, value) pairs.
      </p>

      <table>
        <tr><th>Return Type</th><th>Description</th></tr>
        <tr><td>DIRFILELIST</td>
            <td>Returns an XML document containing all of the filenames (and only the files, not directories) and their sizes, recursing into subdirectories.
                <br/>Example request: 
                <a href="http://localhost:8080/transport-service/prod?q=OFSN+EQ+/+AND+RT+EQ+DIRFILELIST">http://localhost:8080/transport-service/prod?q=OFSN+EQ+/+AND+RT+EQ+DIRFILELIST</a>
            	<br/>Example request: 
                <a href="http://localhost:8080/transport-service/prod?OFSN=/&amp;RT=DIRFILELIST">http://localhost:8080/transport-service/prod?OFSN=/&amp;RT=DIRFILELIST</a>
            	
            	<br/>Example response:
            	<source>
&lt;dirResult xmlns=&quot;http://oodt.jpl.nasa.gov/xml/namespaces/dirlist/1.0&quot;&gt;
  &lt;dirEntry&gt;
	&lt;OFSN&gt;/FF01.IMG&lt;/OFSN&gt;
	&lt;fileSize&gt;1050624&lt;/fileSize&gt;
  &lt;/dirEntry&gt;
  &lt;dirEntry&gt;
	&lt;OFSN&gt;/FF01.LBL&lt;/OFSN&gt;
	&lt;fileSize&gt;5143&lt;/fileSize&gt;
  &lt;/dirEntry&gt;
  &lt;dirEntry&gt;
	&lt;OFSN&gt;/test-data2/i943630r.raw&lt;/OFSN&gt;
	&lt;fileSize&gt;126976&lt;/fileSize&gt;
  &lt;/dirEntry&gt;
  &lt;dirEntry&gt;
	&lt;OFSN&gt;/test-data2/i943630r.xml&lt;/OFSN&gt;
	&lt;fileSize&gt;7862&lt;/fileSize&gt;
  &lt;/dirEntry&gt;
  .........
&lt;/dirResult&gt;
            	</source>
            </td>
        </tr>
        <tr>
        	<td>DIRFILELIST1</td><td>Identical to <i>DIRFILELIST</i> except that it does not recurse into subdirectories.
        	    <br/>Example request: <a href="http://localhost:8080/transport-service/prod?q=OFSN+EQ+/+AND+RT+EQ+DIRFILELIST1">http://localhost:8080/transport-service/prod?q=OFSN+EQ+/+AND+RT+EQ+DIRFILELIST1</a>
        	    <br/>Example request: <a href="http://localhost:8080/transport-service/prod?OFSN=/&amp;RT=DIRFILELIST1">http://localhost:8080/transport-service/prod?OFSN=/&amp;RT=DIRFILELIST1</a>
        	    <br/>Example response:
            	<source>
&lt;dirResult xmlns=&quot;http://oodt.jpl.nasa.gov/xml/namespaces/dirlist/1.0&quot;&gt;
  &lt;dirEntry&gt;
	&lt;OFSN&gt;/FF01.IMG&lt;/OFSN&gt;
	&lt;fileSize&gt;1050624&lt;/fileSize&gt;
  &lt;/dirEntry&gt;
  &lt;dirEntry&gt;
	&lt;OFSN&gt;/FF01.LBL&lt;/OFSN&gt;
	&lt;fileSize&gt;5143&lt;/fileSize&gt;
  &lt;/dirEntry&gt;
&lt;/dirResult&gt;
            	</source>
        	</td>      	
        </tr>
        <tr>
        	<td>DIRLIST</td>
        	<td>Returns an XML document with directory names (and only directory names) and total size of files in each directory starting in the requested directory and traversing into the subdirectories.
        	    <br/>Example request: 
        	    <a href="http://localhost:8080/transport-service/prod?q=OFSN+EQ+/+AND+RT+EQ+DIRLIST">http://localhost:8080/transport-service/prod?q=OFSN+EQ+/+AND+RT+EQ+DIRLIST</a>
        	    <br/>Example request: 
        	    <a href="http://localhost:8080/transport-service/prod?OFSN=/&amp;RT=DIRLIST">http://localhost:8080/transport-service/prod?OFSN=/&amp;RT=DIRLIST</a>
        		<br/>Example response:
        		<source>
&lt;dirResult xmlns=&quot;http://oodt.jpl.nasa.gov/xml/namespaces/dirlist/1.0&quot;&gt;
  &lt;dirEntry&gt;
    &lt;OFSN&gt;/test-data1&lt;/OFSN&gt;
  &lt;fileSize&gt;8669232&lt;/fileSize&gt;
  &lt;/dirEntry&gt;
  &lt;dirEntry&gt;
    &lt;OFSN&gt;/test-data2&lt;/OFSN&gt;
    &lt;fileSize&gt;134838&lt;/fileSize&gt;
  &lt;/dirEntry&gt;
  &lt;dirEntry&gt;
    &lt;OFSN&gt;/test-data1/test-data11&lt;/OFSN&gt;
    &lt;fileSize&gt;4334616&lt;/fileSize&gt;
  &lt;/dirEntry&gt;
&lt;/dirResult&gt;
        		</source>
        	</td>
        </tr>
        <tr>
          <td>DIRLIST1</td>
          <td>Identical to <i>DIRLIST</i> but does not recursively descend into subdirectories. 
          	  <br/>Example request: <a href="http://localhost:8080/transport-service/prod?q=OFSN+EQ+/+AND+RT+EQ+DIRLIST1">http://localhost:8080/transport-service/prod?q=OFSN+EQ+/+AND+RT+EQ+DIRLIST1</a>
          	  <br/>Example request: <a href="http://localhost:8080/transport-service/prod?OFSN=/&amp;RT=DIRLIST1">http://localhost:8080/transport-service/prod?OFSN=/&amp;RT=DIRLIST1</a>
        	  <br/>Example response:
        		<source>
&lt;dirResult xmlns=&quot;http://oodt.jpl.nasa.gov/xml/namespaces/dirlist/1.0&quot;&gt;
  &lt;dirEntry&gt;
    &lt;OFSN&gt;/test-data1&lt;/OFSN&gt;
    &lt;fileSize&gt;8669232&lt;/fileSize&gt;
  &lt;/dirEntry&gt;
  &lt;dirEntry&gt;
    &lt;OFSN&gt;/test-data2&lt;/OFSN&gt;
    &lt;fileSize&gt;134838&lt;/fileSize&gt;
  &lt;/dirEntry&gt;
&lt;/dirResult&gt;
        		</source>
          </td>
        </tr>
        <tr>
          <td>FILELIST</td>
          <td>Returns an XML document naming the requested file and also giving its size.
              <br/>Example request: <a href="http://localhost:8080/transport-service/prod?q=OFSN+EQ+/test-data1/FF01.IMG+AND+RT+EQ+FILELIST">http://localhost:8080/transport-service/prod?q=OFSN+EQ+/test-data1/FF01.IMG+AND+RT+EQ+FILELIST</a>
              <br/>Example request: <a href="http://localhost:8080/transport-service/prod?OFSN=/test-data1/FF01.IMG&amp;RT=FILELIST">http://localhost:8080/transport-service/prod?OFSN=/test-data1/FF01.IMG&amp;RT=FILELIST</a>
              <br/>
              Example response:
            <source>
&lt;dirResult xmlns=&quot;http://oodt.jpl.nasa.gov/xml/namespaces/dirlist/1.0&quot;&gt;
  &lt;dirEntry&gt;
    &lt;OFSN&gt;/test-data1/FF01.IMG&lt;/OFSN&gt;
    &lt;fileSize&gt;1050624&lt;/fileSize&gt;
  &lt;/dirEntry&gt;
&lt;/dirResult&gt;
            </source>
          </td>
        </tr>
        <tr>
        	<td>FILE_LIST</td>
        	<td>An alias for FILELIST.
        	    <br/>Example request: <a href="http://localhost:8080/transport-service/prod?q=OFSN+EQ+/test-data1/FF01.IMG+AND+RT+EQ+FILE_LIST">http://localhost:8080/transport-service/prod?q=OFSN+EQ+/test-data1/FF01.IMG+AND+RT+EQ+FILE_LIST</a>
        	    <br/>Example request: <a href="http://localhost:8080/transport-service/prod?OFSN=/test-data1/FF01.IMG&amp;RT=FILE_LIST">http://localhost:8080/transport-service/prod?OFSN=/test-data1/FF01.IMG&amp;RT=FILE_LIST</a>
        	    <br/>Example response:
            	<source>
&lt;dirResult xmlns=&quot;http://oodt.jpl.nasa.gov/xml/namespaces/dirlist/1.0&quot;&gt;
  &lt;dirEntry&gt;
    &lt;OFSN&gt;/test-data1/FF01.IMG&lt;/OFSN&gt;
    &lt;fileSize&gt;1050624&lt;/fileSize&gt;
  &lt;/dirEntry&gt;
&lt;/dirResult&gt;
            </source>
        	
        	</td>
        </tr>
        <tr>
        	<td>FILELISTZIP</td>
        	<td>Similar to <i>FILELIST</i> except that it tells what the size of the requested file would be if compressed into a ZIP archive.
        	    <br/>Example request: <a href="http://localhost:8080/transport-service/prod?q=OFSN+EQ+/FF01.IMG+AND+RT+EQ+FILELISTZIP">http://localhost:8080/transport-service/prod?q=OFSN+EQ+/FF01.IMG+AND+RT+EQ+FILELISTZIP</a>
        	    <br/>Example request: <a href="http://localhost:8080/transport-service/prod?OFSN=/FF01.IMG&amp;RT=FILELISTZIP">http://localhost:8080/transport-service/prod?OFSN=/FF01.IMG&amp;RT=FILELISTZIP</a>
        		<br/>Example response:
        		<source>
&lt;dirResult xmlns=&quot;http://oodt.jpl.nasa.gov/xml/namespaces/dirlist/1.0&quot;&gt;
  &lt;dirEntry&gt;
    &lt;OFSN&gt;FF01.IMG.zip&lt;/OFSN&gt;
    &lt;fileSize&gt;816445&lt;/fileSize&gt;
  &lt;/dirEntry&gt;
&lt;/dirResult&gt;
        		</source>
        	</td>        	
        </tr>
        <tr>
        	<td>FILE_LIST_ZIP</td>
        	<td>An alias for FILELISTZIP.
        	    <br/>Example request: <a href="http://localhost:8080/transport-service/prod?q=OFSN+EQ+/FF01.IMG+AND+RT+EQ+FILE_LIST_ZIP">http://localhost:8080/transport-service/prod?q=OFSN+EQ+/FF01.IMG+AND+RT+EQ+FILE_LIST_ZIP</a>
        	    <br/>Example request: <a href="http://localhost:8080/transport-service/prod?OFSN=/FF01.IMG&amp;RT=FILE_LIST_ZIP">http://localhost:8080/transport-service/prod?OFSN=/FF01.IMG&amp;RT=FILE_LIST_ZIP</a>
        	    <br/>Example response:
        		<source>
&lt;dirResult xmlns=&quot;http://oodt.jpl.nasa.gov/xml/namespaces/dirlist/1.0&quot;&gt;
  &lt;dirEntry&gt;
    &lt;OFSN&gt;FF01.IMG.zip&lt;/OFSN&gt;
    &lt;fileSize&gt;816445&lt;/fileSize&gt;
  &lt;/dirEntry&gt;
&lt;/dirResult&gt;
        		</source>
        	</td>
        </tr>
        <tr>
        	<td>RAW</td>
        	<td>Returns the requested file without any modification (MIME type application/octet-stream).
        	    <br/>Example request: <a href="http://localhost:8080/transport-service/prod?q=OFSN+EQ+/i943630r.xml+AND+RT+EQ+RAW">http://localhost:8080/transport-service/prod?q=OFSN+EQ+/i943630r.xml+AND+RT+EQ+RAW</a>
        	    <br/>Example request: <a href="http://localhost:8080/transport-service/prod?OFSN=/i943630r.xml&amp;RT=RAW">http://localhost:8080/transport-service/prod?OFSN=/i943630r.xml&amp;RT=RAW</a>
        	</td>
        </tr>       
        <tr>
        	<td>RAW_SIZE</td>
        	<td>Generates an XML document containing the size of the raw file that would be returned by the corresponding RAW type.
        	    <br/>Example request: <a href="http://localhost:8080/transport-service/prod?q=OFSN+EQ+/FF01.IMG+AND+RT+EQ+RAW_SIZE">http://localhost:8080/transport-service/prod?q=OFSN+EQ+/FF01.IMG+AND+RT+EQ+RAW_SIZE</a>
        	    <br/>Example request: <a href="http://localhost:8080/transport-service/prod?OFSN=/FF01.IMG&amp;RT=RAW_SIZE">http://localhost:8080/transport-service/prod?OFSN=/FF01.IMG&amp;RT=RAW_SIZE</a>
        		<br/>Example response:
        		<source>
&lt;dirResult xmlns=&quot;http://oodt.jpl.nasa.gov/xml/namespaces/dirlist/1.0&quot;&gt;
  &lt;dirEntry&gt;
    &lt;fileSize&gt;1050624&lt;/fileSize&gt;
  &lt;/dirEntry&gt;
&lt;/dirResult&gt;
        		</source>
        	</td>
        </tr>
        <tr>
        	<td>MD5</td>
        	<td>Returns a MD5 hash of the file bytes generated on the server side, as plain text.
        	    <br/>Example request: <a href="http://localhost:8080/transport-service/prod?q=OFSN+EQ+/i943630r.xml+AND+RT+EQ+MD5">http://localhost:8080/transport-service/prod?q=OFSN+EQ+/i943630r.xml+AND+RT+EQ+MD5</a>
        	    <br/>Example request: <a href="http://localhost:8080/transport-service/prod?OFSN=/i943630r.xml&amp;RT=MD5">http://localhost:8080/transport-service/prod?OFSN=/i943630r.xml&amp;RT=MD5</a>
        	    <br/>Example response: c3bc003bb99d7364bc7abbdb981f6e09
        	</td>
        </tr>
        <tr>
        	<td>PDS4_TO_JPG</td>
        	<td>Converts a PDS4 image to JPEG format.
        	    <br/>Example request: <a href="http://localhost:8080/transport-service/prod?q=OFSN+EQ+/i943630r.xml+AND+RT+EQ+PDS4_TO_JPG">http://localhost:8080/transport-service/prod?q=OFSN+EQ+/i943630r.xml+AND+RT+EQ+PDS4_TO_JPG</a>
        	    <br/>Example request: <a href="http://localhost:8080/transport-service/prod?OFSN=/i943630r.xml&amp;RT=PDS4_TO_JPG">http://localhost:8080/transport-service/prod?OFSN=/i943630r.xml&amp;RT=PDS4_TO_JPG</a>
        	</td>
        </tr>
        <tr>
        	<td>PDS_LABEL</td>
        	<td>Returns a plain text (MIME type text/plain) representation of the PDS label specified in the <i>OFSN</i>, including and expanding the <i>STRUCTURE</i> pointers.
        		<br/>Example request: <a href="http://localhost:8080/transport-service/prod?q=OFSN+EQ+/CHAN_DATA_20020617.LBL+AND+RT+EQ+PDS_LABEL">http://localhost:8080/transport-service/prod?q=OFSN+EQ+/CHAN_DATA_20020617.LBL+AND+RT+EQ+PDS_LABEL</a>
        		<br/>Example request: <a href="http://localhost:8080/transport-service/prod?ofsn=/CHAN_DATA_20020617.LBL&amp;rt=PDS_LABEL">http://localhost:8080/transport-service/prod?ofsn=/CHAN_DATA_20020617.LBL&amp;rt=PDS_LABEL</a>
        	</td>
        </tr>
        
        <!--
        <tr><td>PDS_FILELIST</td><td>Returns a file listing of the requested PDS label file and its references in XML format. This is similar to <i>FILELIST</i> but instead of giving the size of the requested file, it parses the requested file as a PDS label and gives the sizes of all referenced files.</td></tr>
        <tr><td>PDS_FILELISTZIP</td><td>Returns an XML document with the size of the ZIP archive that would be downloaded with <i>PDS_ZIP</i> but not if you expanded the archive.</td></tr>
        <tr><td>PDS_JPEG</td><td>Returns the PDS-format image at the given <i>OFSN</i>, converted into the JPEG/JFIF image format.</td></tr>
        <tr><td>PDS_JPEG_SIZE</td><td>Returns an XML document with the size of the JPEG file that would be generated by the corresponding <i>PDS_JPEG</i> query.</td></tr>
        <tr><td>PDS_LABEL</td><td>Returns a plain text (MIME type text/plain) representation of the PDS label specified in the <i>OFSN</i>.</td></tr>
        <tr><td>PDS_ZIP</td><td>Returns the PDS label and its references in a ZIP file.</td></tr>
        <tr><td>PDS_ZIPD</td><td>Returns a ZIP archive of all of the files and directories under the given <i>OFSN</i>, which should be a directory.</td></tr>
        <tr><td>PDS_ZIPD_SIZE</td><td>Returns an XML document with the size of the ZIP archive that would be generated by the corresponding <i>PDS_ZIPD</i> query.</td></tr>
        <tr><td>PDS_ZIPN</td><td>Returns a ZIP archive containing the requested file and all of the files that it references.</td></tr>
        <tr><td>PDS_ZIPN_SIZE</td><td>Returns an XML document with the size of the ZIP archive that would be generated by the corresponding <i>PDS_ZIPN</i> query.</td></tr>
        <tr><td>PDS_ZIPN_TES</td><td>Returns a ZIP archive that contains all files matching the AAAnnnnn format in the same directory as the requested <i>OFSN</i>, and all of their referenced files.</td></tr>
        <tr><td>PDS_ZIPN_TES_SIZE</td><td>Returns an XML document with the size of the ZIP archive that would be generated by the corresponding <i>PDS_ZIPN_TES</i> query.</td></tr>
        <tr><td>PDS_ZIP_SIZE</td><td>Returns the total size of the PDS label file and its references in XML format if you were to download the product with <i>PDS_ZIP</i> and unzip the archive.</td></tr>
        <tr><td>RAW</td><td>Returns the requested file without any modification (MIME type application/octet-stream).</td></tr>
        <tr><td>RAW_SIZE</td><td>Returns an XML document with the size of the raw file that would be returned by the corresponding <i>RAW</i> query.</td></tr>
        -->
      </table>

    </section>
  </body>
</document>
