<?xml version="1.0" encoding="UTF-8"?>
<Product_Array_2D_Image xmlns="http://pds.nasa.gov/schema/pds4/pds/v03" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://pds.nasa.gov/schema/pds4/pds/v03 Product_Array_2D_Image_0311B_MPF_IMP_EDR.xsd ">
  <Data_Standards>
    <dd_version_id>0311B_20110709</dd_version_id>
    <std_ref_version_id>4.0.4</std_ref_version_id>
  </Data_Standards>
  <Identification_Area_Product>
    <logical_identifier>token</logical_identifier>
    <version_id>0.1</version_id>
    <product_class>Product_Array_2D_Image</product_class>
    <title>$label.OBSERVATION_NAME</title>
    <alternate_id>$label.PRODUCT_ID</alternate_id>
    <alternate_id>$label.IMAGE_ID</alternate_id>
    <last_modification_date_time>last_modification_date_time</last_modification_date_time>
    <product_subclass>token</product_subclass>
    <type>token</type>
    <Subject_Area>
      <target_name>$label.TARGET_NAME</target_name>
      <data_set_name>MPF LANDER MARS IMAGER FOR MARS PATHFINDER 2 EDR V1.0</data_set_name>
      <instrument_name>IMAGER FOR MARS PATHFINDER</instrument_name>
      <instrument_host_name>MARS PATHFINDER LANDER</instrument_host_name>
      <keywords>token</keywords>
      <full_name>ALLAN J. RUNKLE</full_name>
      <investigation_name>MARS PATHFINDER</investigation_name>
      <observing_system_name>token</observing_system_name>
    </Subject_Area>
  </Identification_Area_Product>
  <Cross_Reference_Area_Product>
    <Bibliographic_Reference>
      <local_identifier>token</local_identifier>
      <description>token</description>
      <doi>token</doi>
      <reference_text>reference_text</reference_text>
      <url>token</url>
    </Bibliographic_Reference>
    <Observing_System>
      <local_identifier>token</local_identifier>
      <name>token</name>
      <description>token</description>
      <Observing_System_Component>
        <name>token</name>
        <comment>token</comment>
        <observing_system_component_type>Analyst</observing_system_component_type>
        <Reference_Entry_Observing_System>
          <lid_reference>token</lid_reference>
          <lidvid_reference>token</lidvid_reference>
          <reference_association_type>has_association</reference_association_type>
        </Reference_Entry_Observing_System>
      </Observing_System_Component>
    </Observing_System>
    <Reference_Entry_Product>
      <lid_reference>token</lid_reference>
      <lidvid_reference>token</lidvid_reference>
      <reference_association_type>curated_by_node</reference_association_type>
    </Reference_Entry_Product>
  </Cross_Reference_Area_Product>
  <Observation_Area>
    <start_date_time>$label.IMAGE_TIME</start_date_time>
    <stop_date_time>null</stop_date_time>
    <local_true_solar_time>$label.MPF_LOCAL_TIME</local_true_solar_time>
    <planet_day_number>$label.PLANET_DAY_NUMBER</planet_day_number>
    <spacecraft_clock_start_count>$label.SPACECRAFT_CLOCK_START_COUNT</spacecraft_clock_start_count>
    <Mission_Area/>
    <Node_Area/>
  </Observation_Area>
  <File_Area_Observational>
    <File>
      <local_identifier>FILE</local_identifier>
      <creation_date_time>$label.PRODUCT_CREATION_TIME</creation_date_time>
      <file_name>$generate.file_name</file_name>
      <file_size>$generate.file_size</file_size>
      <max_record_bytes>$label.RECORD_BYTES</max_record_bytes>
      <md5_checksum>$generate.md5_checksum</md5_checksum>
      <records>$label.FILE_RECORDS</records>
    </File>
    <Array_2D_Image base_class="Array_Base">
      <local_identifier>IMAGE</local_identifier>
      <comment>token</comment>
      <axes>2</axes>
      <axis_order>FIRST_INDEX_FASTEST</axis_order>
      <encoding_type>BINARY</encoding_type>
      <offset unit_of_measure_name="byte">0</offset>
      <Object_Statistics>
        <local_identifier>IMAGE_OBJECT_STATISTICS</local_identifier>
        <maximum>$label.IMAGE.MAXIMUM</maximum>
        <md5_checksum>$generate.obj_md5_checksum</md5_checksum>
        <mean>$label.IMAGE.MEAN</mean>
        <median>$label.IMAGE.MEDIAN</median>
        <minimum>$label.IMAGE.MINIMUM</minimum>
        <sample_bit_mask>$label.IMAGE.SAMPLE_BIT_MASK</sample_bit_mask>
        <standard_deviation>$label.IMAGE.STANDARD_DEVIATION</standard_deviation>
      </Object_Statistics>
      <Array_Axis>
        <name>SAMPLES</name>
        <elements>$label.IMAGE.LINE_SAMPLES</elements>
        <sequence_number>1</sequence_number>
      </Array_Axis>
      <Array_Axis>
        <name>LINES</name>
        <elements>$label.IMAGE.LINES</elements>
        <sequence_number>2</sequence_number>
      </Array_Axis>
      <Array_Element>
        <data_type>UnsignedMSB2</data_type>
      </Array_Element>
      <Image_2D_Display>
        <first_line>$label.IMAGE.FIRST_LINE</first_line>
        <first_line_sample>$label.IMAGE.FIRST_LINE_SAMPLE</first_line_sample>
        <line_display_direction>DOWN</line_display_direction>
        <sample_display_direction>RIGHT</sample_display_direction>
      </Image_2D_Display>
    </Array_2D_Image>
    <Header>
      <local_identifier>HEADER</local_identifier>
      <name>token</name>
      <comment>This is the original PDS3 header for this product.</comment>
      <bytes>$generate.header_bytes</bytes>
      <encoding_type>CHARACTER</encoding_type>
      <external_standard_id>ODL</external_standard_id>
      <offset unit_of_measure_name="byte">0</offset>
    </Header>
  </File_Area_Observational>
</Product_Array_2D_Image>
