<?xml version="1.0" encoding="UTF-8"?>

<!--
  Copyright 2018, by the California Institute of Technology.
  ALL RIGHTS RESERVED. United States Government Sponsorship acknowledged.
  Any commercial use must be negotiated with the Office of Technology Transfer
  at the California Institute of Technology.

  This software is subject to U. S. export control laws and regulations
  (22 C.F.R. 120-130 and 15 C.F.R. 730-774). To the extent that the software
  is subject to U.S. export control laws and regulations, the recipient has
  the responsibility to obtain export licenses or other export authority as
  may be required before exporting such information to foreign countries or
  providing access to foreign nationals.

  $Id$
-->

<document>
  <properties>
    <title>Python Dependency Installation for General Platform</title>
    <author email="James.E.Hofman@jpl.nasa.gov">Jim Hofman</author>
    <author email="Sean.Hardman@jpl.nasa.gov">Sean Hardman</author>
  </properties>

  <body>
    <section name="Python Dependency Installation for General Platform">
      <p>This document describes how to install the Python dependencies for the Inspect Tool contained in the <i>${project.artifactId}</i> package on a general platform.
      </p>

      <subsection name="Dependencies">
        <p>The following modules must be installed in order to run the Inspect Tool:
        </p>

        <ul>
          <li>pds4_tools</li>
             <p>Module and installation instruction found at <a href="http://sbndev.astro.umd.edu/wiki/Python_PDS4_Tools">Python PDS4 Tools</a></p> 
          <li>Qt (if not already installed on your machine)</li>    
              <p>Mac : <i>% brew install qt</i> or equivalent</p> 
              <p>Windows : <a href="https://www.wikihow.com/Install-Qt-SDK-on-Microsoft-Windows">Installing Qt on a Windows machine.</a></p>
              <p>Linux : <a href="https://www.codeproject.com/Tips/758893/Installing-Qt-on-Linux">Installing Qt on a Linux machine.</a>  </p>
              <p>Qt download documentation : <a href="https://www.qt.io/download">Download Qt.</a> </p>
          <li>PyQt4 and SIP (C++ to Python wrapper code (i.e. Qt to PyQt))</li>
             <p>This is the most difficult installation; installation information is found at: <a href="http://pyqt.sourceforge.net/Docs/PyQt4/installation.html">PyQt4 and SIP instructions.</a> There are possible errors and workarounds listed below.  If you get stuck feel free to send an email to <a href="mailto:james.e.hofman@jpl.nasa.gov">Installation Help</a>.</p>
          <li>Matplotlib</li>
             <p>Required by Matplotlib and should be install along with Matplotlib: <a href="https://matplotlib.org/users/installing.html">Installing Matplotlib</a></p>
          <li>Numpy - required by Matplotlib</li>
          <li>python-dateutil - required by Matplotlib</li>
          <li>pytz - required by Matplotlib</li>
          <li>cycler - required by Matplotlib</li>
          <li>pyparsing - required by Matplotlib</li>                        
        </ul>

        <p><i>pip</i> is a package management system used to install and manage python software packages.  It is included in python versions 2.7.9 onward.  It is very easy to use: <a href="http://www.pythonforbeginners.com/pip/">How to use <i>pip</i></a>.  It can be used install all of the packages listed above with the exception of PyQt4 and SIP.  If you are not sure if you have <i>pip</i> installed on your machine do the following:        
        </p>

        <source>
% which pip  (from Mac or linux)  
% where pip  (Windows in a command prompt window)
or
% python
>>> import pip  (Note: The import command can be used to test for 
                 installation of the other packages listed above.) 
        </source>

        <p>Example of using <i>pip</i> and checking for a successful installation.
        </p>

        <source>                
% pip install matplotlib
% python
>>> import matplotlib
        </source>
      </subsection>

      <subsection name="Possible Problems with PyQt4 Installation">
        <p>Listed below are workarounds for error messages that may pop up.
        </p>

        <ul>
          <li>When running : <i>% python configure-ng.py</i> </li>
            <p>Querying qmake about your Qt installation...<br/>
              Determining the details of your Qt installation...<br/>
              This is the GPL version of PyQt 4.12.1 (licensed under the GNU General Public License) for Python 2.7.14 on darwin.<br/>
              <b>Error</b>: This version of PyQt4 and the commercial version of Qt have incompatible licenses."
            </p>
          <li>Workaround</li>
             <p>Make the following changes to the <i>configure-ng.py</i> script</p>
             <p>comment out the following lines:</p>
             <p><i># if introspecting and target_config.qt_licensee not in OPEN_SOURCE_LICENSEES and ltype == 'GPL':</i></p>
             <p><i>    # error(</i>=</p>
             <p><i>          # "This version of PyQt4 and the commercial version of Qt have "</i></p>
             <p><i>          # "incompatible licenses.”)</i></p>
          <li>Try running the Inspect Tool again:</li>
            <p> You may get the following error:</p>
            <p> <i>RuntimeError: Python is not installed as a framework. The Mac OS X backend will not be able to function correctly if Python is not installed as a framework. See the Python documentation for more information on installing Python as a framework on Mac OS X. Please either reinstall Python as a framework, or try one of the other backends. If you are using (Ana)Conda please install python.app and replace the use of 'python' with 'pythonw'. See 'Working with Matplotlib on OSX' in the Matplotlib FAQ for more information.</i></p>
            <p> If so try the following steps:</p>
              <ul>
                <li> Add the <i>CXXFLAGS=-std=c++</i> environment variable before running <i>configure-ng.py again.</i></li>
                <li> Make sure the <i>backend</i> setting is set for PyQt4 in matplotlib:</li>
                <li><i>backend:qt4agg</i> in <i>~/.matplotlib/matplotlibrc</i></li>
              </ul>
        </ul>
      </subsection>
    </section>
  </body>
</document>
