<?xml version="1.0" encoding="UTF-8"?>

<!--
# Copyright (c) 2019, California Institute of Technology ("Caltech").  
# U.S. Government sponsorship acknowledged.
#
# All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#
# * Redistributions of source code must retain the above copyright notice,
#   this list of conditions and the following disclaimer.
# * Redistributions must reproduce the above copyright notice, this list of
#   conditions and the following disclaimer in the documentation and/or other
#   materials provided with the distribution.
# * Neither the name of Caltech nor its operating division, the Jet Propulsion
#   Laboratory, nor the names of its contributors may be used to endorse or
#   promote products derived from this software without specific prior written
#   permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
# ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE
# LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
# CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
# ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
# POSSIBILITY OF SUCH DAMAGE.
-->

<document>
  <properties>
    <title>Python Dependency Installation for Mac OS X</title>
    <author email="James.E.Hofman@jpl.nasa.gov">Jim Hofman</author>
    <author email="Sean.Hardman@jpl.nasa.gov">Sean Hardman</author>
  </properties>

  <body>
    <section name="Python Dependency Installation for Mac OS X">
      <p>This document describes how to install the Python dependencies for PDSView contained in the <i>${project.artifactId}</i> package on the Mac OS X platform.
      </p>

      <subsection name="Mac Ports">
        <p>This installation procedure requires Mac Ports to be installed on the target computer. Download the installer for your version of Mac OS X from the <a href="https://www.macports.org/install.php">Mac Ports</a> installation page. Mac Ports in turn requires Xcode and the Xcode command-line tools to be installed on the target computer. The above page provides a link to those instructions. Once Xcode is installed and/or verified, download the Mac Ports package and follow the instructions provided once you double-click the package file. Once Mac Ports is installed successfully, perform the following command to update the port files:
        </p>

        <source>
% sudo port -v selfupdate          
        </source>

      </subsection>

      <subsection name="Python Package">
        <p>The first step is to verify the version of Python on the target computer. As stated in the Installation document, version 2.7.8 or above is recommended. In this case below, version 2.7.10 was installed but the OpenSSL package was out of date, requiring an upgrade to the Python package:
        </p>

        <source>
% python -V
Python 2.7.10

% python -c "import ssl; print(ssl.OPENSSL_VERSION)"
OpenSSL 0.9.8zh 14 Jan 2016
        </source>

        <p>The version of OpenSSL should be 1.0.X in order to avoid other issues that will show up once you start installing the rest of the packages. If the Python version and OpenSSL version meet the requirements, you may skip the Python installation that follows. Otherwise, install the latest version of Python 2.7.X with the following commands:
        </p>

        <source>
% sudo port install python27
% sudo port select --set python python27
        </source>

        <p>For a recent installation on a Mac with OS X "Sierra", the above commands resulted with the following versions being installed:
        </p>

        <source>
% python -V
Python 2.7.15

% python -c "import ssl; print(ssl.OPENSSL_VERSION)"
OpenSSL 1.0.2o  27 Mar 2018
        </source>
      </subsection>

      <subsection name="Dependencies">
        <p>Once Mac Ports has been installed and the Python package updated, install <i>pip</i>, <i>PyQt</i>, <i>matplotlib</i> and <i>seaborn</i> and their dependencies with the following commands:
        </p>

        <source>
% sudo port install py27-pip
% sudo port select --set pip pip27
% sudo port install qt4-mac
% sudo port install py-pyqt4
% sudo port install py-tkinter
% sudo pip install matplotlib
% sudo pip install seaborn
        </source>

        <p>With the above dependencies installed, install the PDS4 Tools package. The package is available from the <a href="http://sbndev.astro.umd.edu/wiki/Python_PDS4_Tools">Python PDS4 Tools</a> page. Once the package is downloaded, install it with the following command (replacing <i>X.X</i> with the appropriate version):
        </p>

        <source>
% sudo pip install PDS4_tools-X.X.zip
        </source>

        <p>With successful installation of the PDS4 Tools package, the target computer should support execution of PDSView.
        </p>
      </subsection>
    </section>
  </body>
</document>
