<?xml version="1.0" encoding="UTF-8"?>

<!--
# Copyright (c) 2019, California Institute of Technology ("Caltech").  
# U.S. Government sponsorship acknowledged.
#
# All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#
# * Redistributions of source code must retain the above copyright notice,
#   this list of conditions and the following disclaimer.
# * Redistributions must reproduce the above copyright notice, this list of
#   conditions and the following disclaimer in the documentation and/or other
#   materials provided with the distribution.
# * Neither the name of Caltech nor its operating division, the Jet Propulsion
#   Laboratory, nor the names of its contributors may be used to endorse or
#   promote products derived from this software without specific prior written
#   permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
# ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE
# LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
# CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
# ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
# POSSIBILITY OF SUCH DAMAGE.
-->

<document>
  <properties>
    <title>Windows System Properties</title>
    <author email="Michael.Cayanan@jpl.nasa.gov">Michael Cayanan</author>
    <author email="Sean.Hardman@jpl.nasa.gov">Sean Hardman</author>
  </properties>

  <body>
    <section name="Windows System Properties">
      <p>The required environment variables for the <i>${project.artifactId}</i> package can also be set through the Windows system properties panel. The <i>Path</i> environment variable can be modified as follows:
      </p>

      <ul>
        <li>Right-click on <i>My Computer</i> icon on your desktop and select the <i>Properties</i> menu item.
        </li>
        <li>Navigate to the <i>Advanced</i> tab and select the <i>Environment Variables</i> button. At this point, you should now see a window like the one below:
        </li>
      </ul>

      <center><img src="../images/windows_panel.jpg"/></center>

      <ul>
        <li>Highlight the <i>Path</i> variable in the System Variables list and select the <i>Edit</i> button.
        </li>
        <li>Append to the current contents of the variable, the path to the <i>bin</i> directory within <i>${project.artifactId}</i> package. Separate the package path from the current contents of the variable with a semicolon.
        </li>
        <li>Select the <i>OK</i> button when you are finished editing the <i>Path</i> variable, then select the <i>OK</i> button on the Environment Variables window to apply the changes.
        </li>
      </ul>

      <p>New environment variables (e.g., JAVA_HOME) may also be specified in the system properties panel. Instead of selecting the <i>Edit</i> button from the System Variables list, select the <i>New</i> button and enter the variable name and value. Select the <i>OK</i> button when you are finished, then select the <i>OK</i> button on the Environment Variables window to apply the changes.
      </p>

      <p>Note: If you already have a DOS window open, you will need to close and re-open the window for the environment variable changes to take effect.
      </p>
    </section>
  </body>
</document>
