<?xml version="1.0" encoding="UTF-8"?>

<!--
  Copyright 2012-2014, by the California Institute of Technology.
  ALL RIGHTS RESERVED. United States Government Sponsorship acknowledged.
  Any commercial use must be negotiated with the Office of Technology Transfer
  at the California Institute of Technology.

  This software is subject to U. S. export control laws and regulations
  (22 C.F.R. 120-130 and 15 C.F.R. 730-774). To the extent that the software
  is subject to U.S. export control laws and regulations, the recipient has
  the responsibility to obtain export licenses or other export authority as
  may be required before exporting such information to foreign countries or
  providing access to foreign nationals.

  $Id$
-->

<document>
  <properties>
    <title>Operation</title>
    <author email="Sean.Hardman@jpl.nasa.gov">Sean Hardman</author>
  </properties>

  <body>
    <section name="Operation">
      <p>This document describes how to operate the Product Service software contained in the <i>${project.artifactId}</i> package. The Product Service software is a web application for retrieving product files from the Storage Service data repository. The following topics can be found in this section:
      </p>

      <ul>
        <li><a href="#Interface">Interface</a></li>
        <li><a href="#Retrieve_Product">Retrieve Product</a></li>
        <li><a href="#Retrieve_Dataset">Retrieve Dataset</a></li>
      </ul>
    </section>

    <section name="Interface">
      <p>The Product Service provides a REST-based interface accessible via HTTP for interacting with the service. Because the REST-based interface operates over HTTP, there are several options for interacting with the Product Service:
      </p>

      <ul>
        <li>Web Browser<br/>
          <p>Any standard web browser (e.g., Firefox, Safari, Internet Explorer, etc.) will allow interaction with the service.
          </p>
        </li>
        <li>cURL<br/>
          <p>The <a href="http://curl.haxx.se/" target="_blank">cURL</a> utility offers the most flexible means for interacting with the service. The utility comes installed on most UNIX-based platforms and is available for download for the Windows platform. The examples in the sections that follow utilize <i>cURL</i> to interact with the service. If <i>cURL</i> is not installed on the local machine but <i>Wget</i> is, see the <a href="index-wget.html">Using Wget</a> section for converting <i>cURL</i> commands to <i>Wget</i> commands.
          </p>
        </li>
      </ul>

      <p>The examples below use <i>http://localhost:8080</i> as the default base URL for the service.
      </p>
    </section>

    <section name="Retrieve Product">
      <p>The Product Service provides functionality for retrieving a file or files associated with a product ingested in a Storage Service instance. The following table details the parameters available for retrieving a product:
      </p>

      <table>
        <tr><th>Parameter</th><th>Description</th></tr>
        <tr><td>productID</td><td>The product identifier for the product. This is a value generated by the Storage Service upon ingestion of a product. This parameter is required.</td></tr>
        <tr><td>refIndex</td><td>The reference index indicating which file to retrieve in the case where a product was ingested with multiple files. This parameter is optional and defaults to zero (meaning the first file ingested).</td></tr>
        <tr><td>format</td><td>The format to convert the file to upon retrieval, specified as a mime type. The only valid value supported in this release is <i>application/x-zip</i> which will return a ZIP file containing all files ingested for the product. The <i>refIndex</i> parameter is ignored when this parameter is utilized. This parameter is optional and defaults to the file's native format.</td></tr>
      </table>

      <source>
% curl -X GET -o product.out -v \
http://localhost:8080/product/data?productID=&lt;product-identifier&gt;
      </source>
    </section>

    <section name="Retrieve Dataset">
      <p>The Product Service provides functionality for retrieving all files ingested in a Storage Service instance for a given product type. The following table details the only parameter available for retrieving a dataset:
      </p>

      <table>
        <tr><th>Parameter</th><th>Description</th></tr>
        <tr><td>typeID</td><td>The identifier for the product type. This parameter is required.</td></tr>
      </table>

      <source>
% curl -X GET -o dataset.zip -v \
http://localhost:8080/product/dataset?typeID=urn:pds:TransferProduct
      </source>
    </section>
  </body>
</document>
