<?xml version="1.0" encoding="UTF-8"?>

<!--
  Copyright 2016-2018, by the California Institute of Technology.
  ALL RIGHTS RESERVED. United States Government Sponsorship acknowledged.
  Any commercial use must be negotiated with the Office of Technology Transfer
  at the California Institute of Technology.

  This software is subject to U. S. export control laws and regulations
  (22 C.F.R. 120-130 and 15 C.F.R. 730-774). To the extent that the software
  is subject to U.S. export control laws and regulations, the recipient has
  the responsibility to obtain export licenses or other export authority as
  may be required before exporting such information to foreign countries or
  providing access to foreign nationals.

  $Id$
-->

<document>
  <properties>
    <title>Operation</title>
    <author email="Sean.Hardman@jpl.nasa.gov">Sean Hardman</author>
  </properties>

  <body>
    <section name="Operation">
      <p>This document describes how to operate the Tracking Service software. The following topics can be found in this document:
      </p>

      <ul>
        <li><a href="#Interface">Interface</a></li>
        <li><a href="#Delivery Queries">Delivery Queries</a></li>
        <li><a href="#Status Queries">Status Queries</a></li>
      </ul>
    </section>

    <section name="Interface">
      <p>The Tracking Service provides a REST-based interface accessible via HTTP for interacting with the service. Because the REST-based interface operates over HTTP, there are several options for interacting with the Tracking Service:
      </p>

      <ul>
        <li>Tracking User Interface<br/>
          <p>The <a href="../../tracking-ui/">tracking-ui</a> component offers a Graphical User Interface (GUI) for interacting with the service.
          </p>
        </li>
        <li>Web Browser<br/>
          <p>Any standard web browser (e.g., Firefox, Safari, Internet Explorer, etc.) will allow interaction with the query and retrieval interfaces of the service.
          </p>
        </li>
        <li>cURL<br/>
          <p>The <a href="http://curl.haxx.se/" target="_blank">cURL</a> utility offers the most flexible means for interacting with the service. The utility comes installed on most UNIX-based platforms and is available for download for the Windows platform. The examples in the sections that follow utilize <i>cURL</i> to interact with the service. <!-- If <i>cURL</i> is not installed on the local machine but <i>Wget</i> is, see the <a href="index-wget.html">Using Wget</a> section for converting <i>cURL</i> commands to <i>Wget</i> commands. -->
          </p>
        </li>
      </ul>

      <p>The base URL will vary based on the underlying implementation and its deployment. The main deployment of the Tracking Service for PDS will have the following as its base URL:
      </p>

      <source>
			https://pds.nasa.gov/services/tracking
      </source>

      <p>For the examples that follow, the base URL is represented as <i>&lt;base_url&gt;</i>.
      </p>
    </section>

    <section name="Parameters">
      <p>This section details the parameters utilized in the examples found in this document.
      </p>

      <table>
        <tr><th>Parameter</th><th>Description</th></tr>
        <tr><td>delivery_identifier</td><td>The unique identifier for a delivery which is generated automatically.</td></tr>
        <tr><td>electronic_mail_address</td><td>The unique identifier for a user within the PDS4 system representing their electronic mail address.</td></tr>
        <tr><td>flag</td><td>A flag indicating true or false. Valid values are <i>true</i> and <i>false</i>.</td></tr>
        <tr><td>logical_identifier</td><td>The unique identifier for a product within the PDS4 system. Commonly referred to as the LID and formatted as a URN (e.g., urn:nasa:pds:…).</td></tr>
        <tr><td>product_type</td><td>The type of the product. The valid values are <i>PDS3-Data-Set</i>, <i>PDS4-Bundle</i>, <i>PDS4-Collection</i>, <i>PDS4-Data</i>, <i>PDS4-Document</i>, <i>Model</i> and <i>Software</i>.</td></tr>
        <tr><td>reference_type</td><td>The type of reference. Valid values are <i>instrument_reference</i>, <i>investigation_reference</i> and <i>node_reference</i>.</td></tr>
        <tr><td>return_type</td><td>The format of the content returned from the query. Valid values are <i>html</i>, <i>json</i> and <i>xml</i>.</td></tr>
        <tr><td>version_id</td><td>The version identifier provides the version of the product, expressed in the PDS [m.n] notation (e.g., 1.0).</td></tr>
      </table>

    </section>

    <section name="Delivery Queries">
      <p>TBD
      </p>

      <subsection name="Delivery Query">
        <p>This interface retrieves a list of deliveries for a given product.
        </p>
        <source>
https://&lt;base_url&gt;/&lt;return_type&gt;/delivery/[logical_identifier/version_id]
        </source>
        <p>When the optional parameters, <i>logical_identifier</i> and <i>version_id</i>, are not specified, the query returns the list of all deliveries. When both parameters are specified, the query returns the list of deliveries for the specified product in the specified version .
        </p>
      </subsection>
      
      <subsection name="Delivery Status Query">
      	<p>This interface retrieves the status progression of a delivery for a given product.
      	</p>      	
      	<source>
https://&lt;base_url&gt;/&lt;return_type&gt;/submissionstatus/[delivery_identifier]
        </source>
        <p>When the optional parameter, <i>delivery_identifier</i>, is not specified, the query returns the list of the status progression of all deliveries. When parameter is specified, the query returns the status progression of a delivery for the specified product.
        </p>
      </subsection>
      
      <subsection name="Product Query">
	      <p>This interface retrieves a list of products by type.
	      </p>
	      <source>
https://&lt;base_url&gt;/&lt;return_type&gt;/products/[type/product_type]
          </source>
        <p>When the optional parameters, <i>type</i> and <i>product_type</i>, are not specified, the query returns the list of all products. When both parameters are specified, the query returns a list of products for the specified product type.
        </p>
      </subsection>
      
      <subsection name="Product Delivery Query">
      <p>This interface retrieves a list of products that have associated deliveries.
	      </p>
	      <source>
https://&lt;base_url&gt;/&lt;return_type&gt;products/[value of instrument_reference  | null/value of investigation_reference | null]
          </source>
        <p>When the optional parameters, <i>value of instrument_reference</i> | <i>null </i> and <i>value of investigation_reference</i> | <i>null</i>, are not specified, the query returns the list of all products. When both parameters are specified, the query returns a list of products for the specified instrument reference and investigation reference,
        	Or, returns a list of products for the specified instrument reference ( when parameter <i>value of investigation_reference</i> is <b>null</b>) or investigation reference ( when parameter <i>value of instrument_reference</i> is <b>null</b>).
        </p>
      </subsection>
      
      <subsection name="Product Instrument Reference Query">
      <p>This interface retrieves a list of instrument references for a product.
	      </p>
	      <source>
https://&lt;base_url&gt;/&lt;return_type&gt;/references/[logical_identifier/instrument_reference]
          </source>
        <p>When the optional parameters, <i>logical_identifier</i> and <i>instrument_reference</i>, are not specified, the query returns the list of all types of references (instrument, investigation and node) for all products. When both parameters are specified, the query returns a list of instrument references for the specified product.
        </p>
      </subsection>
      
      <subsection name="Product Investigation Reference Query">
      <p>This interface retrieves a list of investigation references for a product.
	      </p>
	      <source>
https://&lt;base_url&gt;/&lt;return_type&gt;/references/[logical_identifier/investigation_reference]
          </source>
        <p>When the optional parameters, <i>logical_identifier</i> and <i>investigationt_reference</i>, are not specified, the query returns the list of all types of references (instrument, investigation and node) for all products. When both parameters are specified, the query returns a list of investigation references for the specified product.
        </p>
      </subsection>
      
      <subsection name="Product Node Reference Query">
      <p>This interface retrieves a list of node references for a product.
	      </p>
	      <source>
https://&lt;base_url&gt;/&lt;return_type&gt;/references/[logical_identifier/instrument_reference]
          </source>
        <p>When the optional parameters, <i>logical_identifier</i> and <i>instrument_reference</i>, are not specified, the query returns the list of all types of references (instrument, investigation and node) for all products. When both parameters are specified, the query returns a list of node references for the specified product.
        </p>
      </subsection>
      
      <subsection name="Product Instrument Role Query ">
      <p>This interface retrieves a list of users with the instrument role for a product.
	      </p>
	      <source>
https://&lt;base_url&gt;/&lt;return_type&gt;/users/[logical_identifier/instrument_reference]
          </source>
        <p>When the optional parameters, <i>logical_identifier</i> and <i>instrumente_reference</i>, are not specified, the query returns the list of all users. When both parameters are specified, the query returns a list of users with the instrument role for the specified product.
        </p>
      </subsection>
      
      <subsection name="Product Investigation Role Query">
      <p>This interface retrieves a list of users with the investigation role for a product.
	      </p>
	      <source>
https://&lt;base_url&gt;/&lt;return_type&gt;/users/[logical_identifier/investigation_reference]
          </source>
        <p>When the optional parameters, <i>logical_identifier</i> and <i>investigation_reference</i>, are not specified, the query returns the list of all users. When both parameters are specified, the query returns a list of users with the investigation role for the specified product.
        </p>
      </subsection>
      
      <subsection name="Product Node Role Query">
      <p>This interface retrieves a list of users with the node role for a product.
	      </p>
	      <source>
https://&lt;base_url&gt;/&lt;return_type&gt;/users/[logical_identifier/node_reference]
          </source>
        <p>When the optional parameters, <i>logical_identifier</i> and <i>node_reference</i>, are not specified, the query returns the list of all users. When both parameters are specified, the query returns a list of users with the node role for the specified product.
        </p>
      </subsection>
      
      <subsection name="User Query">
      <p>This interface retrieves a list of users.
	      </p>
	      <source>
https://&lt;base_url&gt;/&lt;return_type&gt;/users
          </source>
          <p>The query returns the list of users.
          </p>        
      </subsection>
      
      <subsection name="User Role Query">
      <p>This interface retrieves a list of roles for a given user.
	      </p>
	      <source>
https://&lt;base_url&gt;/&lt;return_type&gt;/users/[electronic_mail_address]
          </source>
        <p>When the optional parameter, <i>electronic_mail_address</i>, is not specified, the query returns the list of all users. When parameter is specified, the query returns a list of roles for the specified user.
        </p>
      </subsection>
    </section>

    <section name="Status Queries">
      <p>TBD
      </p>

      <subsection name="Archive Status Query">
        <p>This interface retrieves the latest archive status of a given product.
        </p>
		<source>
https://&lt;base_url&gt;/&lt;return_type&gt;/archivestatus/[logical_identifier/version_id/true]
          </source>
        <p>When the optional parameters, <i>logical_identifier</i>, <i>version_id</i> and <i>true</i>, are not specified, the query returns the list of archive status of all products. When all three parameters are specified, the query returns the <b>latest</b> archive status of the specified product.
        </p>
      </subsection>
      
      <subsection name="Archive Status List Query">
        <p>This interface retrieves the archive status progression of a given product.
        </p>
		<source>
https://&lt;base_url&gt;/&lt;return_type&gt;/archivestatus/[logical_identifier/version_id/false]
          </source>
        <p>When the optional parameters, <i>logical_identifier</i>, <i>version_id</i> and <i>false</i>, are not specified, the query returns the list of archive status of all products. When all three parameters are specified, the query returns the archive status progression of the specified product.
        </p>
      </subsection>
      
      <subsection name="Certification Status Query">
        <p>This interface retrieves the latest certification status of a given product.
        </p>
		<source>
https://&lt;base_url&gt;/&lt;return_type&gt;/certificationstatus/[logical_identifier/version_id/true]
          </source>
        <p>When the optional parameters, <i>logical_identifier</i>, <i>version_id</i> and <i>true</i>, are not specified, the query returns the list of certification status of all products. When all three parameters are specified, the query returns the <b>latest</b> certificationstatus status of the specified product.
        </p>
      </subsection>
      
      <subsection name="Certification Status List Query">
        <p>This interface retrieves the certification status progression of a given product.
        </p>
		<source>
https://&lt;base_url&gt;/&lt;return_type&gt;/certificationstatus/[logical_identifier/version_id/false]
          </source>
        <p>When the optional parameters, <i>logical_identifier</i>, <i>version_id</i> and <i>false</i>, are not specified, the query returns the list of certification status of all products. When all three parameters are specified, the query returns the certification status progression of the specified product.
        </p>
      </subsection>
      
      <subsection name="DOI Query">
        <p>This interface retrieves the DOI and associated information of a given product.
        </p>
		<source>
https://&lt;base_url&gt;/&lt;return_type&gt;/doi/[logical_identifier/version_id]
          </source>
        <p>When the optional parameters, <i>logical_identifier</i> and <i>version_id</i>, are not specified, the query returns the list of DOIs of all products. When both parameters are specified, the query returns the DOI and associated information of the specified product.
        </p>
      </subsection>
      
      <subsection name="NSSDCA Query">
        <p>This interface retrieves the NSSDCA information of a given product.
        </p>
		<source>
https://&lt;base_url&gt;/&lt;return_type&gt;/nssdcastatus/[logical_identifier/version_id]
          </source>
        <p>When the optional parameters, <i>logical_identifier</i> and <i>version_id</i>, are not specified, the query returns the list of NSSDCA information of all products. When both parameters are specified, the query returns the NSSDCA information of the specified product.
        </p>
      </subsection>
      
      <subsection name="Release Query">
        <p>This interface retrieves the the latest release of a given product.
        </p>
		<source>
https://&lt;base_url&gt;/&lt;return_type&gt;/releases/[logical_identifier/version_id/true]
          </source>
        <p>When the optional parameters, <i>logical_identifier</i>, <i>version_id</i> and <i>true</i>, are not specified, the query returns the list of releases of all products. When all three parameters are specified, the query returns the <b>latest</b> releases of the specified product.
        </p>
      </subsection>
      
      <subsection name="Release List Query">
        <p>This interface retrieves the release progression of a given product.
        </p>
		<source>
https://&lt;base_url&gt;/&lt;return_type&gt;/releases/[logical_identifier/version_id/false]
          </source>
        <p>When the optional parameters, <i>logical_identifier</i>, <i>version_id</i> and <i>false</i>, are not specified, the query returns the list of releases of all products. When all three parameters are specified, the query returns the releases progression of the specified product.
        </p>
      </subsection>
      
    </section>
  </body>
</document>
