<?xml version="1.0" encoding="UTF-8"?>

<!--
  Copyright 2010-2012, by the California Institute of Technology.
  ALL RIGHTS RESERVED. United States Government Sponsorship acknowledged.
  Any commercial use must be negotiated with the Office of Technology Transfer
  at the California Institute of Technology.

  This software is subject to U. S. export control laws and regulations
  (22 C.F.R. 120-130 and 15 C.F.R. 730-774). To the extent that the software
  is subject to U.S. export control laws and regulations, the recipient has
  the responsibility to obtain export licenses or other export authority as
  may be required before exporting such information to foreign countries or
  providing access to foreign nationals.

  $Id: index.xml.vm 10031 2012-01-30 06:54:52Z shardman $
-->

<document>
  <properties>
    <title>Operation</title>
    <author email="Jordan.H.Padams@jpl.nasa.gov">Jordan Padams</author>
    <author email="Sean.Hardman@jpl.nasa.gov">Sean Hardman</author>
  </properties>

  <body>
    <section name="Operation">
      <p>This document describes how to operate the Report Service Manager. The following topics can be found in this document:
      </p>

      <ul>
        <li><a href="#Tool_Execution">Tool Execution</a></li>
	<ul>
	  <li><a href="#Command-Line_Options">Command-Line Options</a></li>
	  <li><a href="#Usage">Usage</a></li>
	</ul>
      </ul>

      <p>Note: The command-line examples in this section have been broken into multiple lines for readability. The commands should be reassembled into a single line prior to execution.
      </p>
    </section>

    <section name="Tool Execution">
      <p>Report Service Manager can be executed in various ways. This section describes how to run the tool, as well as its behaviors and caveats.
      </p>

      <subsection name="Command-Line Options">
        <p>The following describes the command-line options available:
        </p>
	<source>
usage: report-mgr [options]
 -b,--backup                   Force a backup of all logs in the staging
                               directory
 -c,--cleanup                  Cleanup logs in staging and old logs in final and
                               backup
 -f,--from &lt;from_date&gt;         Only pull log files on or after the date
                               specified with the format mm/dd/yyyy
 -h,--help                     Display usage.
 -i,--id-pattern &lt;pattern&gt;     Only operate on profiles with an ID that matches
                               the given RE pattern
 -n,--node-pattern &lt;pattern&gt;   Only operate on profiles with a node whose name
                               matches the given RE pattern
 -P,--process-logs             Process already downloaded logs
 -p,--pull-logs                Pull logs from remote sources.
 -r,--rebuild-sawmill          Rebuild the Sawmill DB
 -R,--sawmill-reports          Generate Sawmill reports
 -t,--to &lt;to_date&gt;             Only pull log files on or before the date
                               specified with the format mm/dd/yyyy
 -u,--update-sawmill           Update the Sawmill DB
 -v,--verbose &lt;level&gt;          Specify the severity level and above to include
                               in the log: (0=Debug, 1=Info, 2=Warning,
                               3=Error). Default is Info and above (level 1).
 -V,--version                  Display application version.
	</source>
      </subsection>

      <subsection name="Usage">
	<p>To pull logs from all nodes, execute the following from the command-line:</p>
	<source>
$ report-mgr -p
	</source>

	<p>To pull logs for a specific node (i.e. img), execute the following:</p>
	<source>
$ report-mgr -p -n img
	</source>

	<p>To pull and process logs, while also backing up the staging area (i.e. rings), run the following:</p>
	<source>
$ report-mgr -p -P -b -n rings
	</source>
	<p>To generate montly metrics for all nodes for a specific month (-f and -t), including pulling the logs (-p)  as needed, processing the logs (-P), backup the original downloaded logs (-b), update the sawmill database (-u), and generate the monthly reports (-R), execute the following from the command-line:
        </p>
	<source>
$ report-mgr -b -p -P -R -u -f 12/01/2014 -t 12/31/2014
	</source>

	</subsection>
    </section>
  </body>
</document>
