<?xml version="1.0" encoding="UTF-8"?>
<!--web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
      xmlns="http://java.sun.com/xml/ns/javaee" 
      xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
      version="3.0"-->
<web-app>

	<display-name>PDS Tools Service</display-name>
	
	<context-param>
      <param-name>tools.service.url</param-name>
      <param-value>http://localhost:8080/ts/</param-value>
  </context-param>

	<servlet>
		<servlet-name>DownloadServlet</servlet-name>
		<servlet-class>gov.nasa.pds.tools.DownloadServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DownloadServlet</servlet-name>
		<url-pattern>/servlet/DownloadServlet</url-pattern>
	</servlet-mapping>

	<context-param>
	    <param-name>tempfile.rootdir</param-name>
		<param-value>/tmp</param-value>
    </context-param>

	<!--context-param>
		<param-name>tempfile.filedir</param-name>
		<param-value>temp</param-value>
	</context-param-->
  
    <!-- Cross Origin -->
	<filter>
		<filter-name>CorsFilter</filter-name>
		<filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CorsFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

</web-app>
