<?xml version="1.0" encoding="UTF-8"?>

<!--
  Copyright 2010, by the California Institute of Technology.
  ALL RIGHTS RESERVED. United States Government Sponsorship acknowledged.
  Any commercial use must be negotiated with the Office of Technology Transfer
  at the California Institute of Technology.

  This software is subject to U. S. export control laws and regulations
  (22 C.F.R. 120-130 and 15 C.F.R. 730-774). To the extent that the software
  is subject to U.S. export control laws and regulations, the recipient has
  the responsibility to obtain export licenses or other export authority as
  may be required before exporting such information to foreign countries or
  providing access to foreign nationals.

  $Id$
-->

<document>
  <properties>
    <title>Installation</title>
    <author email="Paul.Ramirez@jpl.nasa.gov">Paul Ramirez</author>
    <author email="Sean.Hardman@jpl.nasa.gov">Sean Hardman</author>
  </properties>

  <body>
    <section name="Installation">
      <p>This section describes how to install the Registry Service software contained in the <i>${xdoc-artifactId}</i> package. The following topics can be found in this section:
      </p>

      <ul>
        <li><a href="#System_Requirements">System Requirements</a></li>
        <li><a href="#Unpacking_the_Package">Unpacking the Package</a></li>
        <li><a href="#Deploying_the_Application">Deploying the Application</a></li>
        <li><a href="#Configuration">Configuration</a></li>
      </ul>
    </section>

    <section name="System Requirements">
      <p>The Registry Service was developed using Java and <a href="http://jersey.dev.java.net/" target="_blank">Jersey</a> and will run under a standard Java Application Server. The tool was specifically developed under Sun Java version 1.6, so the tool will execute correctly under 1.6 and future versions.
      </p>

      <p>Since the tool was developed using Sun's Java, the target Java Application Server should support Sun's Java Runtime Environment (JRE). The application was tested using Apache's Tomcat version 5.5.X, which is the preferred Java Application Server for deployment. The software can be obtained from the <a href="http://tomcat.apache.org/" target="_blank"> Apache Tomcat</a> web site. Other Java Application Servers should be compatible.
      </p>

      <p>Although it is generally a useful tool for interacting with the Registry Service, the <a href="http://curl.haxx.se/" target="_blank">cURL</a> command-line application is required by the <i>load_registry</i> script for populating the service with the supported object types. See the <a href="#Configuration">Configuration</a> section for more information.
      </p>
    </section>

    <section name="Unpacking the Package">
      <p>Download the <i>${xdoc-artifactId}</i> package from the yet to be developed PDS 2010 web page. The binary distribution is available in identical zip or tar/gzip packages. Unpack the selected binary distribution file with one of the following commands:
      </p>

      <source>
% unzip ${xdoc-artifactId}-${xdoc-version}-bin.zip
or
% tar -xzvf ${xdoc-artifactId}-${xdoc-version}-bin.tar.gz
      </source>

      <p>Note: Depending on the platform, the native version of <i>tar</i> may produce an error when attempting to unpack the distribution file because many of the file paths are greater than 100 characters. If available, the GNU version of tar will resolve this problem. If that is not available or cannot be installed, the zipped package will work just fine in a UNIX environment.
      </p>

      <p>The commands above result in the creation of the <i>${xdoc-artifactId}-${xdoc-version}</i> directory with the following directory structure:
      </p>

      <ul>
        <li><b>README.txt</b><br/>
          <p>A README file directing the user to the available documentation for the project.
          </p>
        </li>
        <li><b>LICENSE.txt</b><br/>
          <p>The copyright notice from the <a href="http://www.caltech.edu/" target="_blank">California Institute of Technology</a> detailing the restrictions regarding the use and distribution of this software. Although the license is strictly worded, the software has been classified as Technology and Software Publicly Available (TSPA) and is available for <i>anyone</i> to download and use.
          </p>
        </li>
        <li><b>${xdoc-artifactId}-${xdoc-version}.war</b><br/>
          <p>This is the Web ARchive (WAR) file containing the Registry Service software including all dependent JAR files.
          </p>
        </li>
        <li><b>bin/</b><br/>
          <p>This directory contains the batch and shell scripts for registering the supported object types.
          </p>
        </li>
        <li><b>conf/</b><br/>
          <p>This directory contains the policy files identifying the supported object types.
          </p>
        </li>
        <li><b>doc/</b><br/>
          <p>This document directory contains a local web site with the Registry Service Guide, javadoc, unit test results and other configuration management related information. Just point your favorite browser to the <i>index.html</i> file in this directory.
          </p>
        </li>
      </ul>
    </section>

    <section name="Deploying the Application">
      <p>The Registry Service web application is packaged as a WAR file and is intended for installation under a standard Java Application Server. Prior to installation the WAR file should be renamed from <i>${xdoc-artifactId}-${xdoc-version}.war</i> to <i>${xdoc-artifactId}.war</i>. A WAR file is normally copied directly to the <i>webapps</i> directory or installed via the Manager interface. Once this step is complete, the application is ready for operation.
      </p>

      <p>If deploying to an Apache Tomcat server and using Derby as the backend database, you may want to permanently set the home directory of the database by adding the following to the <i>CATALINA_OPTS</i> environment variable:
      </p>

      <source>
CATALINA_OPTS="-Dderby.system.home=/path/to/registrydb/home"
      </source>

      <p>The <i>CATALINA_OPTS</i> environment variable is loaded from the Apache Tomcat startup scripts. If this value is not set, the Derby database home will default to the current working directory where the Apache Tomcat server was launched.
      </p>
    </section>

    <section name="Configuration">
      <p>Once the Registry Service is installed and running, the list of supported object types must be registered with the service. The list of objects types corresponds with the types of products that a given instance of the Registry Service will support. Execute the <i>load_registry</i> script from the <i>bin</i> directory in order to registry the full set of object types:
      </p>

      <source>
% cd ${xdoc-artifactId}-${xdoc-version}/bin
% load_registry
      </source>

      <p>The <i>load_registry</i> script defaults to a Registry Service end point of <i>http://localhost:8080/registry-service</i>. If necessary, modify the script so that it corresponds with the target installation.
      </p>
    </section>
  </body>
</document>
