<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<display-name>Registry User Interface</display-name>
	<description>A simple front-end to a provided product registry
		interface. Assumes the REST registry interface is served locally on
		port 8080 unless otherwise specified</description>

	<!-- servlets -->
	<servlet>
		<servlet-name>associationServlet</servlet-name>
		<servlet-class>gov.nasa.pds.registry.ui.server.AssociationServiceImpl</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>productsServlet</servlet-name>
		<servlet-class>gov.nasa.pds.registry.ui.server.ProductsServiceImpl</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>statusServlet</servlet-name>
		<servlet-class>gov.nasa.pds.registry.ui.server.StatusServiceImpl</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>serviceServlet</servlet-name>
		<servlet-class>gov.nasa.pds.registry.ui.server.ServiceBindingServiceImpl</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>packagesServlet</servlet-name>
		<servlet-class>gov.nasa.pds.registry.ui.server.PackageServiceImpl</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>eventsServlet</servlet-name>
		<servlet-class>gov.nasa.pds.registry.ui.server.EventsServiceImpl</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>schemesServlet</servlet-name>
		<servlet-class>gov.nasa.pds.registry.ui.server.SchemesServiceImpl</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>nodesServlet</servlet-name>
		<servlet-class>gov.nasa.pds.registry.ui.server.ClassificationNodeServiceImpl</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>linksServlet</servlet-name>
		<servlet-class>gov.nasa.pds.registry.ui.server.LinksServiceImpl</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>remoteLoggingService</servlet-name>
		<servlet-class>com.google.gwt.gen2.logging.server.RemoteLoggingService</servlet-class>
	</servlet>

	<!--  servlet mappings -->
	<servlet-mapping>
		<servlet-name>remoteLoggingService</servlet-name>
		<url-pattern>/registry_ui/logging</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>associationServlet</servlet-name>
		<url-pattern>/registry_ui/associations</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>productsServlet</servlet-name>
		<url-pattern>/registry_ui/products</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>statusServlet</servlet-name>
		<url-pattern>/registry_ui/status</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping> 
	    <servlet-name>serviceServlet</servlet-name> 
	    <url-pattern>/registry_ui/services</url-pattern> 
    </servlet-mapping>
    
    <servlet-mapping> 
	    <servlet-name>packagesServlet</servlet-name> 
	    <url-pattern>/registry_ui/packages</url-pattern> 
    </servlet-mapping>
    
    <servlet-mapping> 
	    <servlet-name>eventsServlet</servlet-name> 
	    <url-pattern>/registry_ui/events</url-pattern> 
    </servlet-mapping>
    
    <servlet-mapping> 
	    <servlet-name>schemesServlet</servlet-name> 
	    <url-pattern>/registry_ui/schemes</url-pattern> 
    </servlet-mapping>
    
    <servlet-mapping> 
	    <servlet-name>nodesServlet</servlet-name> 
	    <url-pattern>/registry_ui/nodes</url-pattern> 
    </servlet-mapping>
    
    <servlet-mapping> 
	    <servlet-name>linksServlet</servlet-name> 
	    <url-pattern>/registry_ui/links</url-pattern> 
    </servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>Registry_ui.html</welcome-file>
	</welcome-file-list>

	<!--  environment variables -->
	<env-entry>
		<description>Path to registry service REST interface, defaults in
			java code to localhost:8080</description>
		<env-entry-name>serviceEndpoint</env-entry-name>
		<env-entry-value>http://localhost:8080/registry/</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>

</web-app>