<?xml version="1.0" encoding="UTF-8"?>

<!--
# Copyright (c) 2019, California Institute of Technology ("Caltech").  
# U.S. Government sponsorship acknowledged.
#
# All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#
# * Redistributions of source code must retain the above copyright notice,
#   this list of conditions and the following disclaimer.
# * Redistributions must reproduce the above copyright notice, this list of
#   conditions and the following disclaimer in the documentation and/or other
#   materials provided with the distribution.
# * Neither the name of Caltech nor its operating division, the Jet Propulsion
#   Laboratory, nor the names of its contributors may be used to endorse or
#   promote products derived from this software without specific prior written
#   permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
# ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE
# LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
# CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
# ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
# POSSIBILITY OF SUCH DAMAGE.
-->

<document>
  <properties>
    <title>Operation</title>
        <author email="James.E.Hofman@jpl.nasa.gov">Jim Hofman</author>
  </properties>

  <body>
    <section name="Operation">
      <p>This document describes how to operate PDSView. The following topics can be found in this document:
      </p>

      <ul>
        <li><a href="#Quick_Start">Quick Start</a></li>
        <li><a href="#Feedback">Feedback</a></li>
      </ul>
    </section>

    <section name="Quick Start">
      <p>This section is intended to provide a quick and easy way to run the Inpsect Tool. The following command demonstrates how to launch the tool:
      </p>

      <source>
% python View.py
      </source>
    </section>

    <section name="Feedback">
      <p>PDSView is under development. Future releases will:
      </p>    

      <ul>
        <li>Improve the user interface</li>
        <li>Add Features</li>
        <ul>
          <li>Allow inspection of PDS 3 files</li>
          <li>Be compatible with Python 3</li>
          <li>Be released as an executable</li>
        </ul> 
      </ul>

      <p>Please send any feedback (likes/dislikes, bugs, suggested features) to <a href="mailto:james.e.hofman@jpl.nasa.gov">PDSView Feedback</a>
      </p>
    </section>
  </body>
</document>