<?xml version="1.0" encoding="UTF-8"?>

<!--
  Copyright 2016-2017 by the California Institute of Technology.
  ALL RIGHTS RESERVED. United States Government Sponsorship acknowledged.
  Any commercial use must be negotiated with the Office of Technology Transfer
  at the California Institute of Technology.

  This software is subject to U. S. export control laws and regulations
  (22 C.F.R. 120-130 and 15 C.F.R. 730-774). To the extent that the software
  is subject to U.S. export control laws and regulations, the recipient has
  the responsibility to obtain export licenses or other export authority as
  may be required before exporting such information to foreign countries or
  providing access to foreign nationals.

  $Id$
-->

<document>
  <properties>
    <title>Operation</title>
    <author email="Sean.Hardman@jpl.nasa.gov">Sean Hardman</author>
    <author email="Hyun.Lee@jpl.nasa.gov">Hyun Lee</author>
  </properties>

  <body>
    <section name="Operation">
      <p>This document describes how to operate the Email Service software contained in the <i>${project.artifactId}</i> package. The Email Service sofware is a web application providing functionality for sending an electronic mail message to one or more recipients. The following topics can be found in this section:
      </p>

      <ul>
        <li><a href="#REST-Based Interface">REST-Based Interface</a></li>
        <li><a href="#Web Form">Web Form</a></li>
      </ul>
    </section>

    <section name="REST-Based Interface">
      <p>The Email Service provides functionality to accept email requests from Javascript-based clients (e.g., Feedback Form, Tool Registry, etc.). The Email Service is implemented as a servlet wrapper so that it can be called from client interfaces via a POST request. An HTML form like the following could be used to interface with the service:
      </p>

      <source>
&lt;form action="EmailSendingServlet" method="post"&gt;   
    &lt;table border="0" width="35%" align="center"&gt;
        &lt;tr&gt;
        &lt;td width="50%"&gt;Recipient Address(es)&lt;/td&gt;
            &lt;td&gt;&lt;input type="text" name="recipients" size="50" multiple=true required /&gt;&lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr&gt;
            &lt;td&gt;Subject&lt;/td&gt;
            &lt;td&gt;&lt;input type="text" name="subject" size="50" /&gt;&lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr&gt;
            &lt;td&gt;Content&lt;/td&gt;
            &lt;td&gt;&lt;textarea rows="10" cols="70" name="content"&gt;&lt;/textarea&gt;&lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr&gt;
            &lt;td colspan="2" align="center"&gt;&lt;input type="submit" value="Send"/&gt;&lt;/td&gt;
        &lt;/tr&gt;
    &lt;/table&gt;
&lt;/form&gt;
      </source>
    
      <p>To invoke the Email Service from Javascript-based clients, use the <b><i>EmailSendingServlet</i></b> with a <b><i>POST</i></b> request. The following parameters may be specified:
      </p>

      <table>
        <tr><th>Parameter</th><th>Description</th></tr>
        <tr><td>recipients</td><td>One or more electronic mail addresses separated by a comma.</td></tr>
        <tr><td>subject</td><td>The subject of the electronic mail message.</td></tr>
        <tr><td>content</td><td>The body of the electronic mail message.</td></tr>
      </table>
    </section>

    <section name="Web Form">
      <p>To test the Email Service via web browser, go to <i>http://localhost:8080/${project.artifactId}/</i>, fills out the form and then click 'Send' button. The form will look like this in a web browser:
      </p>
       
      <center>
        <img alt="Email Form" src="../images/email_form.jpg" border="3" width="50%" height="50%" style="border:1px solid black"/>
      </center>
      
      <p>If you want to send an email to multiple recipients, enter the recipient's email addresses separated by a ',' in the <b><i>Recipient Address(es)</i></b> text box above.
      </p>
    </section>
  </body>
</document>
