<?xml version="1.0" encoding="UTF-8"?>

<!-- 
  Copyright 2009-2010, by the California Institute of Technology.
  ALL RIGHTS RESERVED. United States Government Sponsorship acknowledged.
  Any commercial use must be negotiated with the Office of Technology 
  Transfer at the California Institute of Technology.

  This software is subject to U. S. export control laws and regulations 
  (22 C.F.R. 120-130 and 15 C.F.R. 730-774). To the extent that the software 
  is subject to U.S. export control laws and regulations, the recipient has 
  the responsibility to obtain export licenses or other export authority as 
  may be required before exporting such information to foreign countries or 
  providing access to foreign nationals.

  $Id$
-->

<document>
  <properties>
    <title>Operation</title>
    <author email="Sean.Hardman@jpl.nasa.gov">Sean Hardman</author>
  </properties>

  <body>
    <section name="Web Application Operation">
      <p>The Profile Setup software is a web application for setting up a new profile for the Report Service, and provides functionality to transfer a nodes web logs to the Engineering need for use in the Service. The application is available from the Engineering Node site at 
      <a href="http://pdsops.jpl.nasa.gov/profile-setup/" target="_blank">http://pdsops.jpl.nasa.gov/profile-setup/</a>. The main screen of the application is as follows:
      </p>

      <center><img src="../images/profile-main.jpg"/></center>

      <p>The user may begin by either entering the necessary information in the appropriate text fields in order to create a new profile, or select one from the drop-down list to modify.
      </p>
    </section>

    <section name="Command-Line Operation">
      <p>The logs transferred from remote nodes must be updated regularly as more logs become available.  This can either be done manually or on a cron job basis. To run the transferLogs.sh script, unpack the WAR file, and run the script from the <i>./WEB-INF/classes/</i> directory.  The script uses the db_config.xml and env_vars.xml files to access the MySQL database and rsync all new web logs to the specified storage location.
      </p>
    </section>
  </body>
</document>
