<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://java.sun.com/xml/ns/javaee" 
  xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
    http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  id="WebApp_ID" version="3.0">
  <display-name>Email Service</display-name>

  <!-- SMTP settings -->
  <context-param>
    <param-name>host</param-name>
    <param-value>localhost</param-value>
  </context-param>

  <context-param>
    <param-name>port</param-name>
    <param-value>25</param-value>
  </context-param>

  <context-param>
    <param-name>user</param-name>
    <param-value></param-value>
  </context-param>

  <context-param>
    <param-name>pass</param-name>
    <param-value></param-value>
  </context-param>
  
  <context-param>
    <param-name>max_msg_nums</param-name>
    <param-value>200</param-value>
  </context-param>

  <welcome-file-list>
    <welcome-file>EmailForm.jsp</welcome-file>
  </welcome-file-list>
</web-app>