<?xml version="1.0" encoding="UTF-8"?>

<!--
  Copyright 2013-2016, by the California Institute of Technology.
  ALL RIGHTS RESERVED. United States Government Sponsorship acknowledged.
  Any commercial use must be negotiated with the Office of Technology Transfer
  at the California Institute of Technology.

  This software is subject to U. S. export control laws and regulations
  (22 C.F.R. 120-130 and 15 C.F.R. 730-774). To the extent that the software
  is subject to U.S. export control laws and regulations, the recipient has
  the responsibility to obtain export licenses or other export authority as
  may be required before exporting such information to foreign countries or
  providing access to foreign nationals.

  $Id:$
-->

<document>

  <properties>
    <title>Installation</title>
    <author email="Sean.Hardman@jpl.nasa.gov">Sean Hardman</author>
    <author email="Luca.Cinquini@jpl.nasa.gov">Luca Cinquini</author>
  </properties>

  <body>
    <section name="Installation">
      <p>This document describes how to install the Transport Service software contained in the <i>${project.artifactId}</i> package. The following topics can be found in this section:
      </p>

      <ul>
        <li><a href="#System_Requirements">System Requirements</a></li>
        <li><a href="#Unpacking_the_Package">Unpacking the Package</a></li>
        <li><a href="#Configuring_the_Application">Configuring the Application</a></li>
        <li><a href="#Testing">Testing</a></li>
      </ul>
    </section>

    <section name="System Requirements">
      <p>This section details the system requirements for installing and operating the Transport Service.
      </p>

      <subsection name="Java Runtime Environment">
        <p>The Transport Service was developed using Java and will run on any platform with a supported Java Runtime Environment (JRE). The software was specifically compiled for and tested under Java version 1.8. The following commands test the local Java installation in a UNIX-based environment:
        </p>

        <source>
% which java
/usr/bin/java

% java -version
java version "1.8.0_101"
Java(TM) SE Runtime Environment (build 1.8.0_101-b13)
Java HotSpot(TM) 64-Bit Server VM (build 25.101-b13, mixed mode)
        </source>

        <p>The first command above checks whether the <i>java</i> executable is in the environment's path and the second command reports the version. If Java is not installed or the version is not at least 1.7, Java will need to be downloaded and installed in the current environment. Consult the local system administrator for installation of this software. For the do-it-yourself crowd, the Java software can be downloaded from the <a href="http://www.oracle.com/technetwork/java/javase/downloads/" target="_blank">Oracle Java Download</a> page. The suggested software package is the Java Standard Edition (SE) 8, either the JDK or the JRE package. The JDK package is not necessary to run the software but could be useful if development and compilation of Java software will also occur in the current environment.
        </p>
      </subsection>

      <subsection name="Java Application Server">
        <p>The Transport Service requires a Java application server for hosting the web application. The suggested application server for this release is Apache Tomcat with a minimal version of 7.0.X. Consult the local system administrator for installation of this software. For the do-it-yourself crowd, see the <a href="../../../release/index-tomcat.html" target="_blank">Tomcat Deployment</a> document for installation and configuration details. If viewing this document from the ${project.artifactId} package, view the <a href="http://pds-engineering.jpl.nasa.gov/development/pds4/current/release/index-tomcat.html" target="_blank">Tomcat Deployment</a> document from the Engineering Node site.
        </p>

        <p>The top-level directory where Apache Tomcat is installed (i.e. the directory containing the <i>webapps</i> and <i>conf</i> sub-directories) will be referenced in these instructions as $TOMCAT_HOME.
        </p>
      </subsection>
    </section>
    
    <section name="Unpacking the Package">
      <p>Download the <i>${project.artifactId}</i> package from the PDS <a href="ftp://pds.nasa.gov/pub/toplevel/2010/transport/" target="_blank">FTP</a> site. The binary distribution is available in identical zip or tar/gzip packages. The installation directory may vary from environment to environment but in UNIX-based environments it is typical to install software packages in the <i>/usr/local</i> directory and in Windows-based environments it is typical to install software packages in the <i>C:\Program Files</i> directory. Unpack the selected binary distribution file with one of the following commands:
      </p>

      <source>
% unzip ${project.artifactId}-${project.version}-bin.zip
or
% tar -xzvf ${project.artifactId}-${project.version}-bin.tar.gz
      </source>

      <p>Note: Depending on the platform, the native version of <i>tar</i> may produce an error when attempting to unpack the distribution file because many of the file paths are greater than 100 characters. If available, the GNU version of tar will resolve this problem. If that is not available or cannot be installed, the zipped package will work just fine in a UNIX environment.
      </p>

      <p>The commands above will result in the creation of the <i>${project.artifactId}-${project.version}</i> directory with the following directory structure:
      </p>

      <ul>
        <li><b>README.txt</b><br/>
          <p>A README file directing the user to the available documentation for the project.
          </p>
        </li>
        <li><b>LICENSE.txt</b><br/>
          <p>The copyright notice from the <a href="http://www.caltech.edu/" target="_blank">California Institute of Technology</a> detailing the restrictions regarding the use and distribution of this software. Although the license is strictly worded, the software has been classified as Technology and Software Publicly Available (TSPA) and is available for <i>anyone</i> to download and use.
          </p>
        </li>
        <li><b>transport-ofsn.war</b><br/>
          <p>
            The Web ARchive file (WAR) containing the OFSN Transport Service application, which will need to be deployed to Apache Tomcat.
          </p>
        </li>
        <li><b>testdata/</b><br/>
          <p>
            Directory containing some test files.
          </p>
        </li>
      </ul>
    </section>
    
    <section name="Deploying the Application">
      <p>The Transport Service web application is packaged as a WAR file and is intended for installation under a standard Java Application Server. For a Tomcat server deployment, the WAR file is normally copied directly to the <i>webapps</i> directory within the Tomcat installation or installed via the Manager interface. Once this step is complete, the application is ready for configuration.
      </p>
    </section>

    <section name="Configuring the Application">
        <p>The preferred method to configure the transport service is to manually edit the application configuration files.
        </p>

        <p>
        First, edit the file $TOMCAT_HOME/webapps/transport-ofsn/WEB-INF/config.xml 
        and change the path of the Tomcat installation directory to properly reference the Transport Service configuration file <i>ofsn-ps.xml</i> 
        which was included in the war distribution:
<source>
&lt;property key=&quot;org.apache.oodt.product.handlers.ofsn.xmlConfigFilePath&quot;&gt; 
/usr/local/tomcat/webapps/transport-ofsn/WEB-INF/ofsn-ps.xml&lt;/property&gt;
</source>
        (enter the above instruction all in one line of the file).
        If you have installed Tomcat under $TOMCAT_HOME=/usr/local/tomcat, you may leave the <i>config.xml</i> file unchanged.
        </p>
        <p>
        Note that the step above can also be accomplished by using the web application user interface, available at:
        <a href="http://localhost:8080/transport-ofsn/">http://localhost:8080/transport-ofsn/</a> 
        (use the initial password <i>hanalei</i> to log in). See the documentation of the 
        Registry Transport Service for additional information on
        using the web interface.
        </p>
        
        <p>
        Second, edit the file $TOMCAT_HOME/webapps/transport-ofsn/WEB-INF/ofsn-ps.xml and insert the proper path of the
        root directory containing the products to be served. For testing purposes, you may want to use the <i>testdata</i> directory
        that is included in the Transport Service distribution, in the location where the application package was iniially unpacked:
<source>
&lt;oodt:ofsn xmlns:oodt=&quot;http://oodt.jpl.nasa.gov/xml/namespaces/oodt/1.0&quot;
      id=&quot;urn:oodt:prod:ofsn&quot;
      name=&quot;OODT OFSN Style Product Handler&quot;
      productRoot=&quot;/usr/local/transport-ofsn/testdata&quot;&gt;
</source>
      When the transport service is used in production, the <i>productRoot</i> directory will have to be changed to reflect
      the location of the real products.
        </p>
        <p>
        Restart Tomcat to load the configuration changes.
        </p>
    </section>

    <section name="Testing">
      <ol>
        <li>
          First of all, you should test that the Transport Service web application is up and running. 
          To do so, type the following URL in your browser:
          <source>
http://localhost:8080/transport-ofsn/
          </source>
          The above URL assumes that your Tomcat is running on the default port 8080 on localhost - if not, please adjust the URL accordingly.
          You should see a simple introductory page with a few links.
          <br/>&nbsp;
        </li>
        
        <li>
          Out of the box, the PDS Transport Service is configured to serve products in the directory 
          <i>$PDS_HOME/transport-ofsn/testdata</i> (referenced as "productRoot" in the file ofsn-ps.xml). 
          You can test your installation by accessing the following URL:
<source>
http://localhost:8080/transport-ofsn/prod?q=OFSN+EQ+/i943630r.xml+AND+RT+EQ+PDS_TO_JPG
</source>
          or equivalently, using the new product request syntax:
<source>
http://localhost:8080/transport-ofsn/prod?OFSN=/i943630r.xml&amp;RT=PDS_TO_JPG
</source>
          If you see a JPG image, your installation was successful! If not, please look into the Tomcat logs for any error messages.
          <br/>&nbsp;
        </li>
      </ol>
    </section>
  </body>
</document>
