#ddPager-header{
	padding-bottom: 5px;
}

#ddPager li,
.links li {
	display: inline;
}

#ddPager{
	padding:0;
	list-style-type:none;
}

#ddToggleSearchingMethodSearch {cursor: pointer;}
#ddToggleSearchingMethodMatch {cursor: pointer;}

#radioOptionsTable tbody tr td{
	padding-right: 20px;
}

h4.resultTitle{
	margin-bottom: 0;
}

/**Override SSI styles**/
.formp{
	max-width:none;
}

.tw-bs .clearfix:after, .tw-bs .dl-horizontal dd:after, .tw-bs .container:after, .tw-bs .container-fluid:after, .tw-bs .row:after, .tw-bs .form-horizontal .form-group:after, .tw-bs .btn-toolbar:after, .tw-bs .btn-group-vertical > .btn-group:after, .tw-bs .nav:after, .tw-bs .navbar:after, .tw-bs .navbar-header:after, .tw-bs .navbar-collapse:after, .tw-bs .pager:after, .tw-bs .panel-body:after, .tw-bs .modal-footer:after {
	clear: none;
}

.tw-bs input[type="radio"], .tw-bs input[type="checkbox"] {
	margin: 0 0 0;
	margin-top: 1px \9;
	line-height: normal;
}

.tw-bs p{
	max-width: 100%;
}

h4.resultsTitlePanelTitle{
	font-size: 20px;
	font-weight: 600;
}

hr.resultsTitleHr{
	margin-top: 0;
}

p.searchResultDescription{
	margin-bottom: 20px;
}
