<?xml version="1.0" encoding="UTF-8"?>

<!--
  Copyright 2010, by the California Institute of Technology.
  ALL RIGHTS RESERVED. United States Government Sponsorship acknowledged.
  Any commercial use must be negotiated with the Office of Technology
  Transfer at the California Institute of Technology.

  This software is subject to U. S. export control laws and regulations
  (22 C.F.R. 120-130 and 15 C.F.R. 730-774). To the extent that the software
  is subject to U.S. export control laws and regulations, the recipient has
  the responsibility to obtain export licenses or other export authority as
  may be required before exporting such information to foreign countries or
  providing access to foreign nationals.

  $Id$
-->

<document>
  <properties>
    <title>Harvest Policy Schema</title>
    <author email="Michael.Cayanan@jpl.nasa.gov">Michael Cayanan</author>
    <author email="Sean.Hardman@jpl.nasa.gov">Sean Hardman</author>
  </properties>

  <body>
    <section name="PDS4 Data Product Label Example">
      <p>The following shows a PDS4 data product label example containing metadata within the Mission_Area and Discipline_Area sections that reside in namespaces other than the default PDS namespace.
      </p>

      <source>
&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;?xml-model href="http://pds.nasa.gov/pds4/pds/v1/current.sch"?&gt;
&lt;?xml-model href="http://pds.nasa.gov/pds4/disp/v1/current.sch"?&gt;
&lt;?xml-model href="http://pds.nasa.gov/pds4/sp/v1/current.sch"?&gt;
&lt;?xml-model href="http://pds.nasa.gov/pds4/geom/v0/current.sch"?&gt;
&lt;?xml-model href="http://pds.nasa.gov/pds4/sbn/v0/current.sch"?&gt;
&lt;?xml-model href="http://pds.nasa.gov/pds4/mission/epoxi/v0/current.sch"?&gt;

&lt;Product_Observational xmlns="http://pds.nasa.gov/pds4/pds/v1"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://pds.nasa.gov/pds4/pds/v1 http://pds.nasa.gov/pds4/pds/v1/current.xsd
    http://pds.nasa.gov/pds4/disp/v1 http://pds.nasa.gov/pds4/disp/v1/current.xsd
    http://pds.nasa.gov/pds4/sp/v1 http://pds.nasa.gov/pds4/sp/v1/current.xsd
    http://pds.nasa.gov/pds4/geom/v0 http://pds.nasa.gov/pds4/geom/v0/current.xsd
    http://pds.nasa.gov/pds4/sbn/v0 http://pds.nasa.gov/pds4/sbn/v0/current.xsd
    http://pds.nasa.gov/pds4/mission/epoxi/v0 http://pds.nasa.gov/pds4/mission/epoxi/v0/current.xsd"&gt;

    &lt;Identification_Area&gt;
        &lt;logical_identifier&gt;urn:nasa:pds:epoxi-garradd:hrii-rad:hi12032607_4000001_001_r_fit&lt;/logical_identifier&gt;
        &lt;version_id&gt;9.0&lt;/version_id&gt;
        &lt;title&gt;EPOXI Observations of C/2009 P1 (Garradd) - HRI IR Spectrum&lt;/title&gt;
        &lt;information_model_version&gt;1.2.0.1&lt;/information_model_version&gt;
        &lt;product_class&gt;Product_Observational&lt;/product_class&gt;

        &lt;Modification_History&gt;
            &lt;Modification_Detail&gt;
                &lt;modification_date&gt;2014-08-01&lt;/modification_date&gt;
                &lt;version_id&gt;1.0&lt;/version_id&gt;
                &lt;description&gt;
                    Migration from PDS3
                &lt;/description&gt;
            &lt;/Modification_Detail&gt;
        &lt;/Modification_History&gt;
    &lt;/Identification_Area&gt;

    &lt;Observation_Area&gt;
        &lt;Time_Coordinates&gt;
            &lt;start_date_time&gt;2012-03-26T07:33:44.431Z&lt;/start_date_time&gt;
            &lt;stop_date_time&gt;2012-03-26T07:33:56.431Z&lt;/stop_date_time&gt;
        &lt;/Time_Coordinates&gt;

        &lt;Primary_Result_Summary&gt;
            &lt;purpose&gt;Science&lt;/purpose&gt;
            &lt;processing_level&gt;Calibrated&lt;/processing_level&gt;
            &lt;!-- DIFF: Added description --&gt;
            &lt;description&gt;
                The calibration of this product is NOT reversible.
            &lt;/description&gt;
            &lt;Science_Facets&gt;
                &lt;wavelength_range&gt;Infrared&lt;/wavelength_range&gt;
                &lt;discipline_name&gt;Spectroscopy&lt;/discipline_name&gt;
                &lt;facet1&gt;2D&lt;/facet1&gt;
            &lt;/Science_Facets&gt;
        &lt;/Primary_Result_Summary&gt;

        &lt;Investigation_Area&gt;
            &lt;name&gt;EPOXI&lt;/name&gt;
            &lt;type&gt;Mission&lt;/type&gt;
            &lt;Internal_Reference&gt;
                &lt;lid_reference&gt;urn:nasa:pds:context:investigation:mission.di-epoxi&lt;/lid_reference&gt;
                &lt;reference_type&gt;data_to_investigation&lt;/reference_type&gt;
            &lt;/Internal_Reference&gt;
        &lt;/Investigation_Area&gt;

        &lt;Observing_System&gt;
            &lt;Observing_System_Component&gt;
                &lt;name&gt;DI Flyby&lt;/name&gt;
                &lt;type&gt;Spacecraft&lt;/type&gt;
                &lt;Internal_Reference&gt;
                    &lt;lid_reference&gt;urn:nasa:pds:context:instrument_host:spacecraft.di-flyby&lt;/lid_reference&gt;
                    &lt;reference_type&gt;is_instrument_host&lt;/reference_type&gt;
                &lt;/Internal_Reference&gt;
            &lt;/Observing_System_Component&gt;
            &lt;Observing_System_Component&gt;
                &lt;name&gt;HRI-IR&lt;/name&gt;
                &lt;type&gt;Instrument&lt;/type&gt;
                &lt;Internal_Reference&gt;
                    &lt;lid_reference&gt;urn:nasa:pds:context:instrument:instrument.di-hriir&lt;/lid_reference&gt;
                    &lt;reference_type&gt;is_instrument&lt;/reference_type&gt;
                &lt;/Internal_Reference&gt;
            &lt;/Observing_System_Component&gt;
        &lt;/Observing_System&gt;

        &lt;Target_Identification&gt;
            &lt;name&gt;C/2009 P1 (Garradd)&lt;/name&gt;
            &lt;type&gt;Comet&lt;/type&gt;
        &lt;/Target_Identification&gt;

        &lt;Mission_Area&gt;
            &lt;EPOXI_Attributes xmlns="http://pds.nasa.gov/pds4/mission/epoxi/v0"&gt;
                &lt;Observation_Parameters&gt;
                    &lt;spacecraft_clock_start_count&gt;1/0386016797.063&lt;/spacecraft_clock_start_count&gt;
                    &lt;spacecraft_clock_mid_count&gt;1/0386016803.063&lt;/spacecraft_clock_mid_count&gt;
                    &lt;spacecraft_clock_stop_count&gt;1/0386016809.063&lt;/spacecraft_clock_stop_count&gt;
                    &lt;total_integration_time unit="ms"&gt;12000.3300000&lt;/total_integration_time&gt;
                    &lt;!-- DIFF: Different product_type value (but constant) --&gt;
                    &lt;product_type&gt;RADIANCE_CLEANED&lt;/product_type&gt;
                    &lt;observation_description&gt;OUTBURST MONITORING&lt;/observation_description&gt;
                    &lt;observation_id&gt;4000001&lt;/observation_id&gt;
                    &lt;spectrometer_mode_name&gt;BINFF&lt;/spectrometer_mode_name&gt;
                    &lt;image_number&gt;001&lt;/image_number&gt;
                &lt;/Observation_Parameters&gt;

                &lt;Image_Statistics&gt;
                    &lt;bad_pixel_count&gt;10192&lt;/bad_pixel_count&gt;
                    &lt;missing_pixel_count&gt;50&lt;/missing_pixel_count&gt;
                    &lt;despiked_pixel_count&gt;0&lt;/despiked_pixel_count&gt;
                    &lt;interpolated_pixel_count&gt;0&lt;/interpolated_pixel_count&gt;
                    &lt;partial_saturated_pixel_count&gt;98&lt;/partial_saturated_pixel_count&gt;
                    &lt;saturated_pixel_count&gt;11&lt;/saturated_pixel_count&gt;
                    &lt;ADC_saturated_pixel_count&gt;0&lt;/ADC_saturated_pixel_count&gt;
                    &lt;ultra-compressed_pixel_count&gt;0&lt;/ultra-compressed_pixel_count&gt;
                &lt;/Image_Statistics&gt;

                &lt;Instrument_Parameters&gt;
                    &lt;pointing_description&gt;IR SCAN&lt;/pointing_description&gt;
                    &lt;spectrometer_mode_id&gt;1&lt;/spectrometer_mode_id&gt;
                    &lt;spectrometer_mode_name&gt;BINFF&lt;/spectrometer_mode_name&gt;
                    &lt;image_compression&gt;UNCOMPRESSED&lt;/image_compression&gt;
                    &lt;commanded_image_count&gt;17&lt;/commanded_image_count&gt;
                    &lt;spacecraft_processor_id&gt;SCU-A&lt;/spacecraft_processor_id&gt;
                    &lt;Instrument_Temperature&gt;
                        &lt;measured_at&gt;INSTRUMENT CONTROLLER PROCESSING BOARD&lt;/measured_at&gt;
                        &lt;temperature unit="K"&gt;301.9799840&lt;/temperature&gt;
                    &lt;/Instrument_Temperature&gt;
                    &lt;Instrument_Temperature&gt;
                        &lt;measured_at&gt;CCD SIGNAL PROCESSING BOARD&lt;/measured_at&gt;
                        &lt;temperature unit="K"&gt;301.7348640&lt;/temperature&gt;
                    &lt;/Instrument_Temperature&gt;
                    &lt;Instrument_Temperature&gt;
                        &lt;measured_at&gt;IR SIGNAL PROCESSING BOARD&lt;/measured_at&gt;
                        &lt;temperature unit="K"&gt;294.2341920&lt;/temperature&gt;
                    &lt;/Instrument_Temperature&gt;
                    &lt;Instrument_Temperature&gt;
                        &lt;measured_at&gt;LVPS SIGNAL PROCESSING BOARD&lt;/measured_at&gt;
                        &lt;temperature unit="K"&gt;300.2151200&lt;/temperature&gt;
                    &lt;/Instrument_Temperature&gt;
                    &lt;Instrument_Temperature&gt;
                        &lt;measured_at&gt;CCD PREAMP BOX&lt;/measured_at&gt;
                        &lt;temperature unit="K"&gt;269.9550560&lt;/temperature&gt;
                    &lt;/Instrument_Temperature&gt;
                    &lt;Instrument_Temperature&gt;
                        &lt;measured_at&gt;CCD ON-CHIP SENSOR&lt;/measured_at&gt;
                        &lt;temperature unit="K"&gt;164.2184502&lt;/temperature&gt;
                    &lt;/Instrument_Temperature&gt;
                    &lt;Instrument_Temperature&gt;
                        &lt;measured_at&gt;PRISMS&lt;/measured_at&gt;
                        &lt;temperature unit="K"&gt;135.5792708&lt;/temperature&gt;
                    &lt;/Instrument_Temperature&gt;
                    &lt;Instrument_Temperature&gt;
                        &lt;measured_at&gt;PRIMARY MIRROR&lt;/measured_at&gt;
                        &lt;temperature unit="K"&gt;135.0053885&lt;/temperature&gt;
                    &lt;/Instrument_Temperature&gt;
                    &lt;Instrument_Temperature&gt;
                        &lt;measured_at&gt;SECONDARY MIRROR&lt;/measured_at&gt;
                        &lt;temperature unit="K"&gt;129.1626723&lt;/temperature&gt;
                    &lt;/Instrument_Temperature&gt;
                    &lt;Instrument_Temperature&gt;
                        &lt;measured_at&gt;SPECTRAL IMAGING MODULE COVER&lt;/measured_at&gt;
                        &lt;temperature unit="K"&gt;134.0809826&lt;/temperature&gt;
                    &lt;/Instrument_Temperature&gt;
                    &lt;Instrument_Temperature&gt;
                        &lt;measured_at&gt;IR FPA ON-CHIP SENSOR&lt;/measured_at&gt;
                        &lt;temperature unit="K"&gt;83.6070000&lt;/temperature&gt;
                    &lt;/Instrument_Temperature&gt;
                    &lt;Instrument_Voltage&gt;
                        &lt;measured_at&gt;CCD OFFSET FROM ADC REF QUAD A&lt;/measured_at&gt;
                        &lt;voltage unit="V"&gt;1.2052597&lt;/voltage&gt;
                    &lt;/Instrument_Voltage&gt;
                    &lt;Instrument_Voltage&gt;
                        &lt;measured_at&gt;CCD OFFSET FROM ADC REF QUAD B&lt;/measured_at&gt;
                        &lt;voltage unit="V"&gt;1.2138055&lt;/voltage&gt;
                    &lt;/Instrument_Voltage&gt;
                    &lt;Instrument_Voltage&gt;
                        &lt;measured_at&gt;CCD OFFSET FROM ADC REF QUAD C&lt;/measured_at&gt;
                        &lt;voltage unit="V"&gt;1.2037336&lt;/voltage&gt;
                    &lt;/Instrument_Voltage&gt;
                    &lt;Instrument_Voltage&gt;
                        &lt;measured_at&gt;CCD OFFSET FROM ADC REF QUAD D&lt;/measured_at&gt;
                        &lt;voltage unit="V"&gt;1.2171627&lt;/voltage&gt;
                    &lt;/Instrument_Voltage&gt;
                    &lt;Instrument_Voltage&gt;
                        &lt;measured_at&gt;CCD OUTPUT AMP DRAIN QUAD A&lt;/measured_at&gt;
                        &lt;voltage unit="V"&gt;5.1241209&lt;/voltage&gt;
                    &lt;/Instrument_Voltage&gt;
                    &lt;Instrument_Voltage&gt;
                        &lt;measured_at&gt;CCD OUTPUT AMP DRAIN QUAD B&lt;/measured_at&gt;
                        &lt;voltage unit="V"&gt;5.1201475&lt;/voltage&gt;
                    &lt;/Instrument_Voltage&gt;
                    &lt;Instrument_Voltage&gt;
                        &lt;measured_at&gt;CCD OUTPUT AMP DRAIN QUAD C&lt;/measured_at&gt;
                        &lt;voltage unit="V"&gt;5.1122007&lt;/voltage&gt;
                    &lt;/Instrument_Voltage&gt;
                    &lt;Instrument_Voltage&gt;
                        &lt;measured_at&gt;CCD OUTPUT AMP DRAIN QUAD D&lt;/measured_at&gt;
                        &lt;voltage unit="V"&gt;5.1026645&lt;/voltage&gt;
                    &lt;/Instrument_Voltage&gt;
                    &lt;Instrument_Voltage&gt;
                        &lt;measured_at&gt;CCD SERIAL CLOCK POSITIVE&lt;/measured_at&gt;
                        &lt;voltage unit="V"&gt;5.0247855&lt;/voltage&gt;
                    &lt;/Instrument_Voltage&gt;
                    &lt;Instrument_Voltage&gt;
                        &lt;measured_at&gt;CCD SERIAL CLOCK NEGATIVE&lt;/measured_at&gt;
                        &lt;voltage unit="V"&gt;-5.0200174&lt;/voltage&gt;
                    &lt;/Instrument_Voltage&gt;
                    &lt;Instrument_Voltage&gt;
                        &lt;measured_at&gt;CCD PARALLEL CLOCK POSITIVE&lt;/measured_at&gt;
                        &lt;voltage unit="V"&gt;5.0025343&lt;/voltage&gt;
                    &lt;/Instrument_Voltage&gt;
                    &lt;Instrument_Voltage&gt;
                        &lt;measured_at&gt;CCD PARALELL CLOCK NEGATIVE&lt;/measured_at&gt;
                        &lt;voltage unit="V"&gt;-9.1856236&lt;/voltage&gt;
                    &lt;/Instrument_Voltage&gt;
                    &lt;Instrument_Voltage&gt;
                        &lt;measured_at&gt;IR RESET&lt;/measured_at&gt;
                        &lt;voltage unit="V"&gt;0.2458221&lt;/voltage&gt;
                    &lt;/Instrument_Voltage&gt;
                    &lt;Instrument_Voltage&gt;
                        &lt;measured_at&gt;IR SUBSTRATE&lt;/measured_at&gt;
                        &lt;voltage unit="V"&gt;0.7411353&lt;/voltage&gt;
                    &lt;/Instrument_Voltage&gt;
                    &lt;Instrument_Voltage&gt;
                        &lt;measured_at&gt;IR BIASGATE&lt;/measured_at&gt;
                        &lt;voltage unit="V"&gt;3.4060428&lt;/voltage&gt;
                    &lt;/Instrument_Voltage&gt;
                &lt;/Instrument_Parameters&gt;

                &lt;Mission_Parameters&gt;
                    &lt;mission_phase&gt;CRUISE 3&lt;/mission_phase&gt;
                    &lt;mission_activity_type&gt;GARRADD&lt;/mission_activity_type&gt;
                &lt;/Mission_Parameters&gt;

                &lt;Geometry_Detail&gt;
                    &lt;geometry_quality&gt;OK&lt;/geometry_quality&gt;
                    &lt;geometry_type&gt;RECONSTRUCTED&lt;/geometry_type&gt;
                    &lt;Spacecraft_Rotational_Velocity_Vector&gt;
                        &lt;RVx unit="rad/s"&gt;1.248944246960e-06&lt;/RVx&gt;
                        &lt;RVy unit="rad/s"&gt;-1.256618492320e-06&lt;/RVy&gt;
                        &lt;RVz unit="rad/s"&gt;2.663610692450e-07&lt;/RVz&gt;
                    &lt;/Spacecraft_Rotational_Velocity_Vector&gt;
                    &lt;SPICE_file_name&gt;GARRADD_0001.TPC&lt;/SPICE_file_name&gt;
                    &lt;SPICE_file_name&gt;ISON_0000.TPC&lt;/SPICE_file_name&gt;
                    &lt;SPICE_file_name&gt;MISSION_PHASES.TK&lt;/SPICE_file_name&gt;
                    &lt;SPICE_file_name&gt;NAIF0010.TLS&lt;/SPICE_file_name&gt;
                    &lt;SPICE_file_name&gt;PCK00008.TPC&lt;/SPICE_file_name&gt;
                    &lt;SPICE_file_name&gt;DI_TEMPEL1_V01.TPC&lt;/SPICE_file_name&gt;
                    &lt;SPICE_file_name&gt;DI_HARTLEY_2_V01.TPC&lt;/SPICE_file_name&gt;
                    &lt;SPICE_file_name&gt;DIF_SCLKSCET.00121.TSC&lt;/SPICE_file_name&gt;
                    &lt;SPICE_file_name&gt;DI_V18.TF&lt;/SPICE_file_name&gt;
                    &lt;SPICE_file_name&gt;DIF_HRI_V10.TI&lt;/SPICE_file_name&gt;
                    &lt;SPICE_file_name&gt;DIF_MRI_V10.TI&lt;/SPICE_file_name&gt;
                    &lt;SPICE_file_name&gt;DIF_SC_050112_050809_V2.BC&lt;/SPICE_file_name&gt;
                    &lt;SPICE_file_name&gt;DIF_SC_050225_HIGHRATE.BC&lt;/SPICE_file_name&gt;
                    &lt;SPICE_file_name&gt;DIF_SC_050704_HIGHRATE_V2.BC&lt;/SPICE_file_name&gt;
                    &lt;SPICE_file_name&gt;DIF_SC_050823_081231_V2.BC&lt;/SPICE_file_name&gt;
                    &lt;SPICE_file_name&gt;DIF_SC_090101_110228_V2.BC&lt;/SPICE_file_name&gt;
                    &lt;SPICE_file_name&gt;DIF_SC_101104_HIGHRATE_V2.BC&lt;/SPICE_file_name&gt;
                    &lt;SPICE_file_name&gt;DIF_SC_110301_130627_V2.BC&lt;/SPICE_file_name&gt;
                    &lt;SPICE_file_name&gt;DI_TEMPEL1_SSD_V1.BSP&lt;/SPICE_file_name&gt;
                    &lt;SPICE_file_name&gt;GARRADD_C2009_P1_EPOXI_0001.BSP&lt;/SPICE_file_name&gt;
                    &lt;SPICE_file_name&gt;ISON_HORIZONS_EPOXI_0000.BSP&lt;/SPICE_file_name&gt;
                    &lt;SPICE_file_name&gt;HARTLEY_2_2005_2020.BSP&lt;/SPICE_file_name&gt;
                    &lt;SPICE_file_name&gt;JUP164_20YEAR.BSP&lt;/SPICE_file_name&gt;
                    &lt;SPICE_file_name&gt;SPK_MARS_DRM232.BSP&lt;/SPICE_file_name&gt;
                    &lt;SPICE_file_name&gt;SPK_DRM237_WITHBURN_FULL.BS&lt;/SPICE_file_name&gt;
                    &lt;SPICE_file_name&gt;SPK_DRM239_WITHBURN_FULL.BSP&lt;/SPICE_file_name&gt;
                &lt;/Geometry_Detail&gt;
            &lt;/EPOXI_Attributes&gt;
        &lt;/Mission_Area&gt;

        &lt;Discipline_Area&gt;

            &lt;!-- Additional Timing Info --&gt;

            &lt;Times xmlns="http://pds.nasa.gov/pds4/sbn/v0"&gt;
                &lt;mid_UTC&gt;2012-03-26T07:33:50.431Z&lt;/mid_UTC&gt;
                &lt;start_Julian_date&gt;2456012.8150975&lt;/start_Julian_date&gt;
                &lt;mid_Julian_date&gt;2456012.8151670&lt;/mid_Julian_date&gt;
                &lt;stop_Julian_date&gt;2456012.8152365&lt;/stop_Julian_date&gt;
                &lt;mid_earth_observer_UTC&gt;2012-03-26T07:43:58.505Z&lt;/mid_earth_observer_UTC&gt;
            &lt;/Times&gt;

            &lt;!-- Display orientation for the various images --&gt;

            &lt;Display_Settings xmlns="http://pds.nasa.gov/pds4/disp/v1"&gt;
                &lt;Local_Internal_Reference&gt;
                    &lt;local_identifier_reference&gt;Spectrum&lt;/local_identifier_reference&gt;
                    &lt;local_reference_type&gt;display_settings_to_image&lt;/local_reference_type&gt;
                &lt;/Local_Internal_Reference&gt;
                &lt;Display_Direction&gt;
                    &lt;horizontal_display_axis&gt;Sample&lt;/horizontal_display_axis&gt;
                    &lt;horizontal_display_direction&gt;Left to Right&lt;/horizontal_display_direction&gt;
                    &lt;vertical_display_axis&gt;Line&lt;/vertical_display_axis&gt;
                    &lt;vertical_display_direction&gt;Bottom to Top&lt;/vertical_display_direction&gt;
                &lt;/Display_Direction&gt;
            &lt;/Display_Settings&gt;
            &lt;Display_Settings xmlns="http://pds.nasa.gov/pds4/disp/v1"&gt;
                &lt;Local_Internal_Reference&gt;
                    &lt;local_identifier_reference&gt;Quality&lt;/local_identifier_reference&gt;
                    &lt;local_reference_type&gt;display_settings_to_image&lt;/local_reference_type&gt;
                &lt;/Local_Internal_Reference&gt;
                &lt;Display_Direction&gt;
                    &lt;horizontal_display_axis&gt;Sample&lt;/horizontal_display_axis&gt;
                    &lt;horizontal_display_direction&gt;Left to Right&lt;/horizontal_display_direction&gt;
                    &lt;vertical_display_axis&gt;Line&lt;/vertical_display_axis&gt;
                    &lt;vertical_display_direction&gt;Bottom to Top&lt;/vertical_display_direction&gt;
                &lt;/Display_Direction&gt;
            &lt;/Display_Settings&gt;
            &lt;Display_Settings xmlns="http://pds.nasa.gov/pds4/disp/v1"&gt;
                &lt;Local_Internal_Reference&gt;
                    &lt;local_identifier_reference&gt;Wavelength&lt;/local_identifier_reference&gt;
                    &lt;local_reference_type&gt;display_settings_to_image&lt;/local_reference_type&gt;
                &lt;/Local_Internal_Reference&gt;
                &lt;Display_Direction&gt;
                    &lt;horizontal_display_axis&gt;Sample&lt;/horizontal_display_axis&gt;
                    &lt;horizontal_display_direction&gt;Left to Right&lt;/horizontal_display_direction&gt;
                    &lt;vertical_display_axis&gt;Line&lt;/vertical_display_axis&gt;
                    &lt;vertical_display_direction&gt;Bottom to Top&lt;/vertical_display_direction&gt;
                &lt;/Display_Direction&gt;
            &lt;/Display_Settings&gt;
            &lt;Display_Settings xmlns="http://pds.nasa.gov/pds4/disp/v1"&gt;
                &lt;Local_Internal_Reference&gt;
                    &lt;local_identifier_reference&gt;Bandwidth&lt;/local_identifier_reference&gt;
                    &lt;local_reference_type&gt;display_settings_to_image&lt;/local_reference_type&gt;
                &lt;/Local_Internal_Reference&gt;
                &lt;Display_Direction&gt;
                    &lt;horizontal_display_axis&gt;Sample&lt;/horizontal_display_axis&gt;
                    &lt;horizontal_display_direction&gt;Left to Right&lt;/horizontal_display_direction&gt;
                    &lt;vertical_display_axis&gt;Line&lt;/vertical_display_axis&gt;
                    &lt;vertical_display_direction&gt;Bottom to Top&lt;/vertical_display_direction&gt;
                &lt;/Display_Direction&gt;
            &lt;/Display_Settings&gt;
            &lt;Display_Settings xmlns="http://pds.nasa.gov/pds4/disp/v1"&gt;
                &lt;Local_Internal_Reference&gt;
                    &lt;local_identifier_reference&gt;SNR&lt;/local_identifier_reference&gt;
                    &lt;local_reference_type&gt;display_settings_to_image&lt;/local_reference_type&gt;
                &lt;/Local_Internal_Reference&gt;
                &lt;Display_Direction&gt;
                    &lt;horizontal_display_axis&gt;Sample&lt;/horizontal_display_axis&gt;
                    &lt;horizontal_display_direction&gt;Left to Right&lt;/horizontal_display_direction&gt;
                    &lt;vertical_display_axis&gt;Line&lt;/vertical_display_axis&gt;
                    &lt;vertical_display_direction&gt;Bottom to Top&lt;/vertical_display_direction&gt;
                &lt;/Display_Direction&gt;
            &lt;/Display_Settings&gt;

            &lt;!-- Spectral Info --&gt;

            &lt;Spectral_Characteristics xmlns="http://pds.nasa.gov/pds4/sp/v1"&gt;
                &lt;bin_width_desc&gt;
                    None available
                &lt;/bin_width_desc&gt;
                &lt;Local_Internal_Reference&gt;
                    &lt;local_identifier_reference&gt;Spectrum&lt;/local_identifier_reference&gt;
                    &lt;local_reference_type&gt;spectral_characteristics_to_array_object&lt;/local_reference_type&gt;
                &lt;/Local_Internal_Reference&gt;
                &lt;Spectral_Lookup&gt;
                    &lt;Local_Internal_Reference&gt;
                        &lt;local_identifier_reference&gt;Wavelength&lt;/local_identifier_reference&gt;
                        &lt;local_reference_type&gt;spectral_characteristics_to_bin_center_values&lt;/local_reference_type&gt;
                    &lt;/Local_Internal_Reference&gt;
                    &lt;Local_Internal_Reference&gt;
                        &lt;local_identifier_reference&gt;Bandwidth&lt;/local_identifier_reference&gt;
                        &lt;local_reference_type&gt;spectral_characteristics_to_bin_width_values&lt;/local_reference_type&gt;
                    &lt;/Local_Internal_Reference&gt;
                &lt;/Spectral_Lookup&gt;
            &lt;/Spectral_Characteristics&gt;

            &lt;!-- Geometry --&gt;

            &lt;Geometry xmlns="http://pds.nasa.gov/pds4/geom/v0"&gt;
                &lt;Image_Display_Geometry&gt;
                    &lt;Display_Direction&gt;
                        &lt;horizontal_display_axis xmlns="http://pds.nasa.gov/pds4/disp/v1"&gt;Sample&lt;/horizontal_display_axis&gt;
                        &lt;horizontal_display_direction xmlns="http://pds.nasa.gov/pds4/disp/v1"&gt;Left to Right&lt;/horizontal_display_direction&gt;
                        &lt;vertical_display_axis xmlns="http://pds.nasa.gov/pds4/disp/v1"&gt;Line&lt;/vertical_display_axis&gt;
                        &lt;vertical_display_direction xmlns="http://pds.nasa.gov/pds4/disp/v1"&gt;Bottom To Top&lt;/vertical_display_direction&gt;
                    &lt;/Display_Direction&gt;
                    &lt;Object_Orientation_Clock_Angles&gt;
                        &lt;reference_frame_id&gt;J2000&lt;/reference_frame_id&gt;
                        &lt;celestial_north_clock_angle unit="deg"&gt;290.8099&lt;/celestial_north_clock_angle&gt;
                        &lt;ecliptic_north_clock_angle unit="deg"&gt;264.3704&lt;/ecliptic_north_clock_angle&gt;
                        &lt;sun_direction_clock_angle unit="deg"&gt;179.9896&lt;/sun_direction_clock_angle&gt;
                    &lt;/Object_Orientation_Clock_Angles&gt;
                    &lt;Object_Orientation_Quaternion_SPICE_Style&gt;
                        &lt;reference_frame_id&gt;J2000&lt;/reference_frame_id&gt;
                        &lt;q1&gt;0.120020300000&lt;/q1&gt;
                        &lt;q2&gt;0.419949400000&lt;/q2&gt;
                        &lt;q3&gt;0.229596100000&lt;/q3&gt;
                        &lt;q4&gt;-0.869783500000&lt;/q4&gt;
                    &lt;/Object_Orientation_Quaternion_SPICE_Style&gt;
                    &lt;Object_Orientation_RA_Dec&gt;
                        &lt;reference_frame_id&gt;J2000&lt;/reference_frame_id&gt;
                        &lt;reference_pixel_location&gt;Center&lt;/reference_pixel_location&gt;
                        &lt;right_ascension unit="deg"&gt;216.523016500&lt;/right_ascension&gt;
                        &lt;declination unit="deg"&gt;32.810095100&lt;/declination&gt;
                        &lt;celestial_north_clock_angle unit="deg"&gt;290.8099&lt;/celestial_north_clock_angle&gt;
                    &lt;/Object_Orientation_RA_Dec&gt;
                &lt;/Image_Display_Geometry&gt;

                &lt;Spacecraft_Geometry&gt;
                    &lt;geometry_reference_time&gt;2012-03-26T07:33:50.431Z&lt;/geometry_reference_time&gt;
                    &lt;reference_frame_id&gt;J2000&lt;/reference_frame_id&gt;
                    &lt;Target_Identification&gt;
                        &lt;name xmlns="http://pds.nasa.gov/pds4/pds/v1"&gt;C/2009 P1 (Garradd)&lt;/name&gt;
                        &lt;type xmlns="http://pds.nasa.gov/pds4/pds/v1"&gt;Comet&lt;/type&gt;
                    &lt;/Target_Identification&gt;

                    &lt;Distances&gt;
                        &lt;spacecraft_geocentric_distance unit="km"&gt;182296025.657&lt;/spacecraft_geocentric_distance&gt;
                        &lt;spacecraft_heliocentric_distance unit="km"&gt;179252945.372&lt;/spacecraft_heliocentric_distance&gt;
                        &lt;spacecraft_to_target-center_distance unit="km"&gt;216961066.8980&lt;/spacecraft_to_target-center_distance&gt;
                        &lt;target_geocentric_distance unit="km"&gt;213261429.118&lt;/target_geocentric_distance&gt;
                        &lt;target_heliocentric_distance unit="km"&gt;299151736.566&lt;/target_heliocentric_distance&gt;
                    &lt;/Distances&gt;

                    &lt;Pixel_Dimensions&gt;
                        &lt;Pixel_Size_Projected&gt;
                            &lt;reference_location&gt;Target Center&lt;/reference_location&gt;
                            &lt;vertical_pixel_size_projected unit="m"&gt;2169610.669&lt;/vertical_pixel_size_projected&gt;
                        &lt;/Pixel_Size_Projected&gt;
                    &lt;/Pixel_Dimensions&gt;

                    &lt;Illumination_Geometry&gt;
                        &lt;Illumination_Single_Values&gt;
                            &lt;phase_angle unit="deg"&gt;36.437&lt;/phase_angle&gt;
                            &lt;solar_elongation unit="deg"&gt;97.6487&lt;/solar_elongation&gt;
                        &lt;/Illumination_Single_Values&gt;
                    &lt;/Illumination_Geometry&gt;

                    &lt;Specific_Position_Vectors&gt;
                        &lt;Spacecraft_To_Target_Position_Vector_Cartesian&gt;
                            &lt;light_time_correction_applied&gt;Yes&lt;/light_time_correction_applied&gt;
                            &lt;stellar_aberration_correction_applied&gt;Yes&lt;/stellar_aberration_correction_applied&gt;
                            &lt;x_p unit="km"&gt;-146441548.860&lt;/x_p&gt;
                            &lt;y_p unit="km"&gt;-108681339.534&lt;/y_p&gt;
                            &lt;z_p unit="km"&gt;117538690.456&lt;/z_p&gt;
                        &lt;/Spacecraft_To_Target_Position_Vector_Cartesian&gt;
                        &lt;Sun_To_Spacecraft_Position_Vector_Cartesian&gt;
                            &lt;light_time_correction_applied&gt;Yes&lt;/light_time_correction_applied&gt;
                            &lt;stellar_aberration_correction_applied&gt;Yes&lt;/stellar_aberration_correction_applied&gt;
                            &lt;x_p unit="km"&gt;-87445681.365&lt;/x_p&gt;
                            &lt;y_p unit="km"&gt;141876015.473&lt;/y_p&gt;
                            &lt;z_p unit="km"&gt;66000511.127&lt;/z_p&gt;
                        &lt;/Sun_To_Spacecraft_Position_Vector_Cartesian&gt;
                        &lt;Sun_To_Target_Position_Vector_Cartesian&gt;
                            &lt;light_time_correction_applied&gt;Yes&lt;/light_time_correction_applied&gt;
                            &lt;stellar_aberration_correction_applied&gt;Yes&lt;/stellar_aberration_correction_applied&gt;
                            &lt;x_p unit="km"&gt;-233887230.22&lt;/x_p&gt;
                            &lt;y_p unit="km"&gt;33194675.939&lt;/y_p&gt;
                            &lt;z_p unit="km"&gt;183539201.582&lt;/z_p&gt;
                        &lt;/Sun_To_Target_Position_Vector_Cartesian&gt;
                        &lt;Earth_To_Spacecraft_Position_Vector_Cartesian&gt;
                            &lt;light_time_correction_applied&gt;Yes&lt;/light_time_correction_applied&gt;
                            &lt;stellar_aberration_correction_applied&gt;Yes&lt;/stellar_aberration_correction_applied&gt;
                            &lt;x_p unit="km"&gt;60992510.233&lt;/x_p&gt;
                            &lt;y_p unit="km"&gt;155942625.413&lt;/y_p&gt;
                            &lt;z_p unit="km"&gt;72066998.310&lt;/z_p&gt;
                        &lt;/Earth_To_Spacecraft_Position_Vector_Cartesian&gt;
                        &lt;Earth_To_Target_Position_Vector_Cartesian&gt;
                            &lt;light_time_correction_applied&gt;Yes&lt;/light_time_correction_applied&gt;
                            &lt;stellar_aberration_correction_applied&gt;Yes&lt;/stellar_aberration_correction_applied&gt;
                            &lt;x_p unit="km"&gt;-85441239.694&lt;/x_p&gt;
                            &lt;y_p unit="km"&gt;47256658.219&lt;/y_p&gt;
                            &lt;z_p unit="km"&gt;89597046.293&lt;/z_p&gt;
                        &lt;/Earth_To_Target_Position_Vector_Cartesian&gt;
                    &lt;/Specific_Position_Vectors&gt;

                    &lt;Specific_Velocity_Vectors&gt;
                        &lt;Spacecraft_Relative-To_Target_Velocity_Vector_Cartesian&gt;
                            &lt;light_time_correction_applied&gt;Yes&lt;/light_time_correction_applied&gt;
                            &lt;stellar_aberration_correction_applied&gt;Yes&lt;/stellar_aberration_correction_applied&gt;
                            &lt;x_v unit="km/s"&gt;3.940100&lt;/x_v&gt;
                            &lt;y_v unit="km/s"&gt;32.833132&lt;/y_v&gt;
                            &lt;z_v unit="km/s"&gt;-2.367815&lt;/z_v&gt;
                        &lt;/Spacecraft_Relative-To_Target_Velocity_Vector_Cartesian&gt;
                        &lt;Target_Relative-To_Earth_Velocity_Vector_Cartesian&gt;
                            &lt;light_time_correction_applied&gt;Yes&lt;/light_time_correction_applied&gt;
                            &lt;stellar_aberration_correction_applied&gt;Yes&lt;/stellar_aberration_correction_applied&gt;
                            &lt;x_v unit="km/s"&gt;-21.924519&lt;/x_v&gt;
                            &lt;y_v unit="km/s"&gt; 49.252258&lt;/y_v&gt;
                            &lt;z_v unit="km/s"&gt; 6.219824&lt;/z_v&gt;
                        &lt;/Target_Relative-To_Earth_Velocity_Vector_Cartesian&gt;
                        &lt;Target_Relative-To_Sun_Velocity_Vector_Cartesian&gt;
                            &lt;light_time_correction_applied&gt;Yes&lt;/light_time_correction_applied&gt;
                            &lt;stellar_aberration_correction_applied&gt;Yes&lt;/stellar_aberration_correction_applied&gt;
                            &lt;x_v unit="km/s"&gt;19.352439&lt;/x_v&gt;
                            &lt;y_v unit="km/s"&gt;-21.952420&lt;/y_v&gt;
                            &lt;z_v unit="km/s"&gt;5.608668&lt;/z_v&gt;
                        &lt;/Target_Relative-To_Sun_Velocity_Vector_Cartesian&gt;
                    &lt;/Specific_Velocity_Vectors&gt;
                &lt;/Spacecraft_Geometry&gt;
            &lt;/Geometry&gt;

        &lt;/Discipline_Area&gt;
    &lt;/Observation_Area&gt;

    &lt;Reference_List&gt;
        &lt;Internal_Reference&gt;
            &lt;lidvid_reference&gt;urn:nasa:pds:epoxi-garradd:hrii-cal::1.0&lt;/lidvid_reference&gt;
            &lt;reference_type&gt;data_to_calibration_product&lt;/reference_type&gt;
            &lt;comment&gt;
                The referenced collection contains all the standard calibration files
                used by the pipeline to product this calibrated spectrum and associated
                maps.
            &lt;/comment&gt;
        &lt;/Internal_Reference&gt;
        &lt;Internal_Reference&gt;
            &lt;lidvid_reference&gt;urn:nasa:pds:epoxi-garradd:hrii-raw:hi12032607_4000001_001_fit::1.0&lt;/lidvid_reference&gt;
            &lt;reference_type&gt;data_to_raw_product&lt;/reference_type&gt;
        &lt;/Internal_Reference&gt;
    &lt;/Reference_List&gt;

    &lt;File_Area_Observational&gt;
        &lt;File&gt;
            &lt;file_name&gt;hi12032607_4000001_001_r.fit&lt;/file_name&gt;
        &lt;/File&gt;

        &lt;!-- Primary Data --&gt;

        &lt;Header&gt;
            &lt;offset unit="byte"&gt;0&lt;/offset&gt;
            &lt;object_length unit="byte"&gt;54720&lt;/object_length&gt;
            &lt;parsing_standard_id&gt;FITS 3.0&lt;/parsing_standard_id&gt;
            &lt;description&gt;
                This header contains a fair amount of detail regarding
                processing history and parameters.
            &lt;/description&gt;
        &lt;/Header&gt;

        &lt;Array_2D_Spectrum&gt;
            &lt;local_identifier&gt;Spectrum&lt;/local_identifier&gt;
            &lt;offset unit="byte"&gt;54720&lt;/offset&gt;
            &lt;axes&gt;2&lt;/axes&gt;
            &lt;axis_index_order&gt;Last Index Fastest&lt;/axis_index_order&gt;
            &lt;Element_Array&gt;
                &lt;data_type&gt;IEEE754MSBSingle&lt;/data_type&gt;
                &lt;unit&gt;W/(m**2*sr*micrometer)&lt;/unit&gt;
            &lt;/Element_Array&gt;
            &lt;Axis_Array&gt;
                &lt;axis_name&gt;Line&lt;/axis_name&gt;
                &lt;elements&gt;256&lt;/elements&gt;
                &lt;sequence_number&gt;1&lt;/sequence_number&gt;
            &lt;/Axis_Array&gt;
            &lt;Axis_Array&gt;
                &lt;axis_name&gt;Sample&lt;/axis_name&gt;
                &lt;elements&gt;512&lt;/elements&gt;
                &lt;sequence_number&gt;2&lt;/sequence_number&gt;
            &lt;/Axis_Array&gt;
            &lt;Object_Statistics&gt;
                &lt;maximum&gt;3.26054000000e+00&lt;/maximum&gt;
                &lt;minimum&gt;-4.22231000000e+00&lt;/minimum&gt;
                &lt;standard_deviation&gt;3.47089000000e-02&lt;/standard_deviation&gt;
                &lt;median&gt;1.77100000000e-04&lt;/median&gt;
            &lt;/Object_Statistics&gt;
        &lt;/Array_2D_Spectrum&gt;

        &lt;!-- Quality Flags --&gt;

        &lt;Header&gt;
            &lt;offset unit="byte"&gt;581760&lt;/offset&gt;
            &lt;object_length unit="byte"&gt;2880&lt;/object_length&gt;
            &lt;parsing_standard_id&gt;FITS 3.0&lt;/parsing_standard_id&gt;
        &lt;/Header&gt;

        &lt;Array_2D&gt;
            &lt;local_identifier&gt;Quality&lt;/local_identifier&gt;
            &lt;offset unit="byte"&gt;584640&lt;/offset&gt;
            &lt;axes&gt;2&lt;/axes&gt;
            &lt;axis_index_order&gt;Last Index Fastest&lt;/axis_index_order&gt;
            &lt;description&gt;
                This extension provides quality flags for             
                each pixel in the primary image array.  Each of the one-byte pixels        
                in this map is composed of eight bits.  Each bit represents a specific     
                characteristic about the corresponding pixel in the primary image          
                array.  For a raw image, only the bit for a missing data value is set      
                (bit 1 below).  The remaining 7 bits apply only to a calibrated image      
                and are thus set to zero for a raw image.  The bits are described below    
                and are listed from the least-significant (0) to most-significant (7):     
                  0 = Bad                                                                  
                  1 = Data for this pixel was not received from the spacecraft or          
                      this pixel is one of the image header bytes.                         
                  2 = Despiked                                                             
                  3 = Interpolated                                                         
                  4 = Partially saturated                                                  
                  5 = Mostly saturated                                                     
                  6 = ADC saturated                                                        
                  7 = Ultra compressed
            &lt;/description&gt;
            &lt;Element_Array&gt;
                &lt;data_type&gt;UnsignedByte&lt;/data_type&gt;
            &lt;/Element_Array&gt;
            &lt;Axis_Array&gt;
                &lt;axis_name&gt;Line&lt;/axis_name&gt;
                &lt;elements&gt;256&lt;/elements&gt;
                &lt;sequence_number&gt;1&lt;/sequence_number&gt;
            &lt;/Axis_Array&gt;
            &lt;Axis_Array&gt;
                &lt;axis_name&gt;Sample&lt;/axis_name&gt;
                &lt;elements&gt;512&lt;/elements&gt;
                &lt;sequence_number&gt;2&lt;/sequence_number&gt;
            &lt;/Axis_Array&gt;
        &lt;/Array_2D&gt;

        &lt;!-- Wavelengths --&gt;

        &lt;Header&gt;
            &lt;offset unit="byte"&gt;717120&lt;/offset&gt;
            &lt;object_length unit="byte"&gt;2880&lt;/object_length&gt;
            &lt;parsing_standard_id&gt;FITS 3.0&lt;/parsing_standard_id&gt;
        &lt;/Header&gt;

        &lt;Array_2D&gt;
            &lt;local_identifier&gt;Wavelength&lt;/local_identifier&gt;
            &lt;offset unit="byte"&gt;720000&lt;/offset&gt;
            &lt;axes&gt;2&lt;/axes&gt;
            &lt;axis_index_order&gt;Last Index Fastest&lt;/axis_index_order&gt;
            &lt;description&gt;
                This array provides the spectral                  
                wavelength for each pixel in the primary image array.
            &lt;/description&gt;
            &lt;Element_Array&gt;
                &lt;data_type&gt;IEEE754MSBSingle&lt;/data_type&gt;
                &lt;unit&gt;micrometer&lt;/unit&gt;
            &lt;/Element_Array&gt;
            &lt;Axis_Array&gt;
                &lt;axis_name&gt;Line&lt;/axis_name&gt;
                &lt;elements&gt;256&lt;/elements&gt;
                &lt;sequence_number&gt;1&lt;/sequence_number&gt;
            &lt;/Axis_Array&gt;
            &lt;Axis_Array&gt;
                &lt;axis_name&gt;Sample&lt;/axis_name&gt;
                &lt;elements&gt;512&lt;/elements&gt;
                &lt;sequence_number&gt;2&lt;/sequence_number&gt;
            &lt;/Axis_Array&gt;
        &lt;/Array_2D&gt;

        &lt;!-- Bandwidths --&gt;

        &lt;Header&gt;
            &lt;offset unit="byte"&gt;1247040&lt;/offset&gt;
            &lt;object_length unit="byte"&gt;2880&lt;/object_length&gt;
            &lt;parsing_standard_id&gt;FITS 3.0&lt;/parsing_standard_id&gt;
        &lt;/Header&gt;

        &lt;Array_2D&gt;
            &lt;local_identifier&gt;Bandwidth&lt;/local_identifier&gt;
            &lt;offset unit="byte"&gt;1249920&lt;/offset&gt;
            &lt;axes&gt;2&lt;/axes&gt;
            &lt;axis_index_order&gt;Last Index Fastest&lt;/axis_index_order&gt;
            &lt;description&gt;
                This array provides the spectral                  
                bandwidth for each pixel in the primary image array.
            &lt;/description&gt;
            &lt;Element_Array&gt;
                &lt;data_type&gt;IEEE754MSBSingle&lt;/data_type&gt;
                &lt;unit&gt;micrometer&lt;/unit&gt;
            &lt;/Element_Array&gt;
            &lt;Axis_Array&gt;
                &lt;axis_name&gt;Line&lt;/axis_name&gt;
                &lt;elements&gt;256&lt;/elements&gt;
                &lt;sequence_number&gt;1&lt;/sequence_number&gt;
            &lt;/Axis_Array&gt;
            &lt;Axis_Array&gt;
                &lt;axis_name&gt;Sample&lt;/axis_name&gt;
                &lt;elements&gt;512&lt;/elements&gt;
                &lt;sequence_number&gt;2&lt;/sequence_number&gt;
            &lt;/Axis_Array&gt;
        &lt;/Array_2D&gt;

        &lt;!-- Signal-to-Noise --&gt;

        &lt;Header&gt;
            &lt;offset unit="byte"&gt;1776960&lt;/offset&gt;
            &lt;object_length unit="byte"&gt;2880&lt;/object_length&gt;
            &lt;parsing_standard_id&gt;FITS 3.0&lt;/parsing_standard_id&gt;
        &lt;/Header&gt;

        &lt;Array_2D&gt;
            &lt;local_identifier&gt;SNR&lt;/local_identifier&gt;
            &lt;offset unit="byte"&gt;1779840&lt;/offset&gt;
            &lt;axes&gt;2&lt;/axes&gt;
            &lt;axis_index_order&gt;Last Index Fastest&lt;/axis_index_order&gt;
            &lt;description&gt;
                This array is the signal-to-noise ratio           
                for each pixel in the primary image array.
            &lt;/description&gt;
            &lt;Element_Array&gt;
                &lt;data_type&gt;IEEE754MSBSingle&lt;/data_type&gt;
            &lt;/Element_Array&gt;
            &lt;Axis_Array&gt;
                &lt;axis_name&gt;Line&lt;/axis_name&gt;
                &lt;elements&gt;256&lt;/elements&gt;
                &lt;sequence_number&gt;1&lt;/sequence_number&gt;
            &lt;/Axis_Array&gt;
            &lt;Axis_Array&gt;
                &lt;axis_name&gt;Sample&lt;/axis_name&gt;
                &lt;elements&gt;512&lt;/elements&gt;
                &lt;sequence_number&gt;2&lt;/sequence_number&gt;
            &lt;/Axis_Array&gt;
        &lt;/Array_2D&gt;
    &lt;/File_Area_Observational&gt;
&lt;/Product_Observational&gt;
      </source>
    </section>
  </body>
</document>