/**Override SSI styles**/
.formp{
	max-width:none;
}
body{
	margin:0px;
}

.tw-bs .clearfix:after, .tw-bs .dl-horizontal dd:after, .tw-bs .container:after, .tw-bs .container-fluid:after, .tw-bs .row:after, .tw-bs .form-horizontal .form-group:after, .tw-bs .btn-toolbar:after, .tw-bs .btn-group-vertical > .btn-group:after, .tw-bs .nav:after, .tw-bs .navbar:after, .tw-bs .navbar-header:after, .tw-bs .navbar-collapse:after, .tw-bs .pager:after, .tw-bs .panel-body:after, .tw-bs .modal-footer:after {
	clear: none;
}

.tw-bs input[type="radio"], .tw-bs input[type="checkbox"] {
	margin: 0 0 0;
	margin-top: 1px \9;
	line-height: normal;
}

.tw-bs .nav-tabs{
	height: 49px;
}

.tw-bs h1, .addToolHeader .tw-bs .h1
.tw-bs .addToolHeader .h1{
	font-size: 20px
}

.asterisk{
	color:red;
}
#formHeaderInstructions{
	font-weight: normal;
  font-size: 12px;
}
.registryServiceHeader{
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
	background-repeat: repeat-x;
	margin-bottom: 40px;
	text-align: left;
}
.addToolHeader{
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
	background-repeat: repeat-x;
	font-size: 24px;
	text-align: left;
	position: relative;
	font-size: 20px;
	font-size: 24px;
	text-align: left;
}
.addToolFormContainer .panel-body{
	margin-bottom: 45px;
}
#serviceInterfaceInformationDescription .panel-body {
	margin-bottom: 0px;
}
.vresize{
		resize: vertical;
}
.pageControl{
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
	/*color: #FFFFFF;
	background-color: #00598B;
	background-image: linear-gradient(to bottom, #014C77 0px, #00598B 100%);*/
	background-repeat: repeat-x;
	text-align: left;
	position: relative;
	font-size: 20px;
	text-align: left;
	position: relative;
	margin-bottom:30px
}
.container{
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
.containerWhite{
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
.introductionAddToolContainer{
	box-sizing: border-box;
}
.introductionAddToolContainer{
	position: absolute;
	top: 0px;
	right: 15px;
	width: 330px !important;
	padding: 15px !important;
	margin: 0px !important;
}

.tw-bs .form-group.addLineButton{
	margin-bottom: 40px;
}

.steps{
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05);
	border-radius: 3px;
	overflow: hidden;
	border: 1px solid #DDD;
	padding: 0px;
	display: table;
	margin: 30px auto 0px;
	width: 100%;
	list-style: outside none none;
	font: 18px/1.4 Helvetica,arial,nimbussansl,liberationsans,freesans,clean,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
.steps li{
	display: table-cell;
	width: 33.3%;
	padding: 10px 15px;
	color: #CCC;
	cursor: default;
	border-left: 1px solid #DDD;
	background-color: #FAFAFA;
}
.steps li.current{
	background-color: #FFF;
	color: #333;
}
.steps li .step{
	/*display: block;*/
}

.step-two-btn{
	float: right;
}

.wFileTitle{
	font-size:x-large;
	font-weight:bold;
}

.wFileTypeRadios{
	padding-right: 10px;
}

#serviceInterfaceInformation{
	margin-top: 60px;
}

.labelDescription{
	font-weight: normal;
}

.serviceInterfaceInformationDescription{
	font-weight: bold;
}

.ToolRegistryTable{
	font-size:initial;
}

.ToolRegistryTableDescription{
	font-size: small;
	font-style: italic;
}

.detailLink{
	font-size:20px;
}

#radioOptionsTable td{
	padding-right:10px;
}

#radioOptionsTable th{
	padding-top:5px;
	padding-right:10px;
}

/*validation*/
input:invalid {
  border: 1px solid red;
}

input:valid {
  border: 1px solid green;
}
