<?xml version"1.0" ?>
<VOTABLE version="1.1">
  <RESOURCE type="results">
    <DESCRIPTION>NASA Planetary Data System PDAP Query Service</DESCRIPTION>
    <INFO name="PDAP VERSION" value="1.1"/>
#if ($request.params.RESOURCE_CLASS != 'METADATA')
    <INFO name="QUERY STATUS" value="OK"/>
    <PARAM name="TOTAL RECORDS" value="$page.results_found"/>
    <PARAM name="PAGE NUMBER" value="$page.current_page_number"/>
    <PARAM name="PAGE SIZE" value="$page.results_per_page"/>
#end
$content
  </RESOURCE>
</VOTABLE>