  <PARAM name="INPUT:DATA_SET_ID">
      <DESCRIPTION>The data set identifier element is a unique alphanumeric identifier for a data set or a data product. The data_set_id value for a given data set or product is constructed according to flight project naming conventions.  In most cases the data_set_id is an abbreviation of the DATA_SET_NAME. Example value: MR9/VO1/VO2-M-ISS/VIS-5-CLOUD-V1.0. Note:  In the PDS, the values for both DATA_SET_ID and DATA_SET_NAME are constructed according to standards outlined in the Standards Reference.</DESCRIPTION>
    </PARAM>
    <PARAM name="INPUT:INSTRUMENT_NAME">
      <DESCRIPTION>The instrument name element provides the full name of an instrument. Note: that the associated INSTRUMENT_ID element provides an abbreviated name or acronym for the instrument. Example values: FLUXGATE MAGNETOMETER, NEAR_INFRARED MAPPING SPECTROMETER.</DESCRIPTION>
    </PARAM>
    <PARAM name="INPUT:INSTRUMENT_TYPE">
      <DESCRIPTION>The instrument type element identifies the type of an instrument. Example values: POLARIMETER, RADIOMETER, REFLECTANCE SPECTROMETER, VIDICON CAMERA.</DESCRIPTION>
    </PARAM>
    <PARAM name="INPUT:LATITUDE">
      <DESCRIPTION>For a Planetocentric, body-fixed, rotating coordinate system, latitude is defined as:  The angle between the equatorial plane and a vector connecting the point of interest and the origin of the planetocentric coordinate system.  Positive in the hemisphere north of the equator (i.e., hemisphere to the north of the solar system invariant plane) and negative in the southern hemisphere. For a Planetographic, body-fixed, rotating coordinate system, latitude is defined as:  The angle between the equatorial plane and a vector through the point of interest that is normal to a biaxial ellipsoid reference surface.  Positive in the hemisphere north of the equator (i.e., hemisphere to the north of the solar system invariant plane) and negative in the southern hemisphere. Note: With a non-zero polar flattening, the vector does not intersect the coordinate system origin, except at the equator and the poles.</DESCRIPTION>
    </PARAM>
    <PARAM name="INPUT:LONGITUDE">
      <DESCRIPTION>For a Planetocentric, body-fixed, rotating coordinate system, longitude is defined as:  The angle increasing eastward between the prime meridian and the vector from the coordinate system origin to the point of interest, projected into the equatorial plane. This is a right-handed coordinate system. For a Planetographic, body-fixed, rotating coordinate system, longitude is defined as: The angle between the prime meridian and the vector from the coordinate system origin to the point of interest, projected into the equatorial plane. Planetographic longitudes are defined to increase with time for a distant observer. Thus, they increase to the west for prograde rotators, and to the east for retrograde rotators. For the Earth, Moon and Sun, PDS also supports the traditional use           
of the range (-180,180). Note: Longitudes are measured in the direction of rotation for all planetary rings.</DESCRIPTION>
    </PARAM>
    <PARAM name="INPUT:PAGE_NUMBER">
      <DESCRIPTION>The page number element will be used by the client to select the page number of the expected result. It should be used in combination with PAGE_SIZE.</DESCRIPTION>
    </PARAM>
    <PARAM name="INPUT:PAGE_SIZE">
      <DESCRIPTION>The page size element will be used by the client to select the page size of the expected result. This should be considered a maximum size. In case the result of the query contains less than the number requested, the full response will be offered in the result.</DESCRIPTION>
    </PARAM>
    <PARAM name="INPUT:PRODUCT_ID">
      <DESCRIPTION>The product identifier data element represents a permanent, unique identifier assigned to a data product by its producer. Note: In the PDS, the value assigned to PRODUCT_ID must be unique within its data set. Additional note: The PRODUCT_ID can describe the lowest-level data object that has a PDS label.</DESCRIPTION>
    </PARAM>
    <PARAM name="INPUT:RESOURCE_CLASS">
      <DESCRIPTION>The resource class element indicates the type of resource targeted by the query. The supported values include DATA_SET, PRODUCT and METADATA. Although MAP_PROJECTED can be specified in a query request, it is not supported at this time. If this parameter is not supplied, it defaults to METADATA.</DESCRIPTION>
    </PARAM>
    <PARAM name="INPUT:RETURN_TYPE">
      <DESCRIPTION>The return type describes the type of output that should be received after the metadata query. The default response format will be VOTable. Valid values include VOTABLE and XML.</DESCRIPTION>
    </PARAM>
    <PARAM name="INPUT:START_TIME">
      <DESCRIPTION>The start time element provides the date and time of the beginning of an event or observation (whether it be a spacecraft, ground-based, or system event) in UTC. Formation rule: YYYY-MM-DDThh:mm:ss[.fff].</DESCRIPTION>
    </PARAM>
    <PARAM name="INPUT:STOP_TIME">
      <DESCRIPTION>The stop time element provides the date and time of the end of an observation or event (whether it be a spacecraft, ground-based, or system event) in UTC. Formation rule: YYYY-MM-DDThh:mm:ss[.fff].</DESCRIPTION>
    </PARAM>
    <PARAM name="INPUT:TARGET_NAME">
      <DESCRIPTION>The target name element identifies a target. The target may be a planet, satellite, ring, region, feature, asteroid or comet.</DESCRIPTION>
    </PARAM>
    <PARAM name="INPUT:TARGET_TYPE">
      <DESCRIPTION>The target type element identifies the type of a named target. Example values: PLANET, SATELLITE, RING, REGION, FEATURE, ASTEROID, COMET.</DESCRIPTION>
    </PARAM>
