<?xml version"1.0" ?>
<VOTABLE version="1.1">
  <RESOURCE type="results">
    <DESCRIPTION>PDS Search Service</DESCRIPTION>
    <INFO name="PDS VERSION" value="1.0"/>
    <INFO name="QUERY STATUS" value="OK"/>
    <PARAM name="TOTAL RECORDS" value="$page.results_found"/>
    <PARAM name="PAGE NUMBER" value="$page.current_page_number"/>
    <PARAM name="PAGE SIZE" value="$page.results_per_page"/>
$content
  </RESOURCE>
</VOTABLE>