<?xml version="1.0" encoding="UTF-8"?>
<product>
  <specification>
    <title>PDS3-Context</title>
    <query>
      <registryPath>objectType</registryPath>
      <value>Product_Context</value>
    </query>
    <query>
      <registryPath>status</registryPath>
      <value>Approved</value>
    </query>
    <checkAssociations>true</checkAssociations>
  </specification>

  <indexFields>
    <!-- Identifier Fields -->
    <field name="search_id" type="required">
      <outputString format="text">pds3:{lid}</outputString>
    </field>
    <field name="identifier" type="required">
      <registryPath>lid</registryPath>
    </field>
    <field name="version_id" type="string">
      <registryPath>version_id</registryPath>
    </field>
    <!-- Search UI Fields -->
    <field name="title" type="required">
      <registryPath>name</registryPath>
    </field>
    <field name="description" type="required">
      <registryPath>citation_description</registryPath>
      <registryPath>resource_description</registryPath>
    </field>
    <field name="resLocation" type="required">
      <registryPath>resource_url</registryPath>
      <outputString format="url">/ds-view/pds/viewContext.jsp?identifier={lid}&amp;version={version_id}</outputString>
    </field>
    <field name="data_product_type" type="string">
      <registryPath>data_class</registryPath>
    </field>
    <field name="data_class" type="string">
      <registryPath>data_class</registryPath>
    </field>
    <field name="objectType" type="string">
      <registryPath>objectType</registryPath>
    </field>
    <field name="pds_model_version" type="string">
      <outputString format="text">pds3</outputString>
    </field>
    <field name="agency_name" type="string" default="nasa">
      <registryPath>node_ref.agency_ref.alternate_id</registryPath>
    </field>
    <!-- Identification_Area Fields -->
    <field name="product_class" type="string">
      <registryPath>product_class</registryPath>
    </field>
    <field name="alternate_id" type="string">
      <registryPath>alternate_id</registryPath>
    </field>
    <field name="alternate_title" type="string">
      <registryPath>alternate_title</registryPath>
    </field>
    <field name="citation_keyword" type="string">
      <registryPath>citation_keyword</registryPath>
    </field>
    <field name="modification_date" type="date">
      <registryPath>modification_date</registryPath>
    </field>
    <field name="modification_description" type="string">
      <registryPath>modification_description</registryPath>
    </field>
    <!-- Reference_List Fields -->
    <field name="investigation_ref" type="string">
      <registryPath>investigation_ref</registryPath>
    </field>
    <field name="investigation_name" type="string">
      <registryPath>investigation_ref.mission_name</registryPath>
    </field>
    <field name="instrument_host_ref" type="string">
      <registryPath>instrument_host_ref</registryPath>
    </field>
    <field name="instrument_host_name" type="string">
      <registryPath>instrument_host_ref.instrument_host_name</registryPath>
    </field>
    <field name="instrument_ref" type="string">
      <registryPath>instrument_ref</registryPath>
    </field>
    <field name="instrument_name" type="string">
      <registryPath>instrument_ref.instrument_name</registryPath>
    </field>
    <field name="target_ref" type="string">
      <registryPath>target_ref</registryPath>
    </field>
    <field name="target_name" type="string">
      <registryPath>target_ref.target_name</registryPath>
    </field>
    <field name="external_reference_text" type="string">
      <registryPath>external_reference_text</registryPath>
    </field>
    <!-- Resource -->
    <field name="resource_name" type="string">
      <registryPath>resource_name</registryPath>
    </field>
    <field name="resource_type" type="string">
      <registryPath>resource_type</registryPath>
    </field>
    <field name="resource_url" type="string">
      <registryPath>resource_url</registryPath>
    </field>
    <field name="resource_description" type="string">
      <registryPath>resource_description</registryPath>
    </field>
    <!-- Miscellaneous Fields -->
    <field name="associate_ref" type="string">
      <registryPath>associate_ref</registryPath>
    </field>
    <!-- File Reference Fields -->
    <field name="file_ref_name" type="string">
      <registryPath>file_ref.file_name</registryPath>
    </field>
    <field name="file_ref_location" type="string">
      <registryPath>file_ref.file_location</registryPath>
    </field>
    <field name="file_ref_url" type="string">
      <registryPath>file_ref.access_url</registryPath>
    </field>
    <field name="file_ref_size" type="string">
      <registryPath>file_ref.file_size</registryPath>
    </field>
  </indexFields>
</product>
