<?xml version="1.0" encoding="UTF-8"?>
<product>
	<object_type>Product_Context</object_type>
	
	<!-- Fields displayed in default Search Service results -->
	<field>
		<name>identifier</name>
		<type>attribute</type>
		<value>lid</value>
	</field>
	<field>
		<name>version_id</name>
		<type>slot</type>
		<value>version_id</value>
	</field>
	<field>
		<name>title</name>
		<type>attribute</type>
		<value>name</value>
	</field>
	<field>
		<name>resLocation</name>
		<type>slot</type>
		<value>accessUrls</value>
	</field>

	<!-- Product-specific fields -->
        <field>
                <name>citation_keyword</name>
                <type>slot</type>
                <value>citation_keyword</value>
        </field>
	<field>
		<name>alternate_id</name>
		<type>slot</type>
		<value>alternate_id</value>
	</field>
	<!--field>
		<name>alternate_title</name>
		<type>slot</type>
		<value>alternate_title</value>
	</field-->
	<field>
		<name>data_class</name>
		<type>slot</type>
		<value>data_class</value>
	</field>
	<field>
		<name>instrument_name</name>
		<type>slot</type>
		<value>instrument_name</value>
	</field>
	<field>
		<name>instrument_type</name>
		<type>slot</type>
		<value>instrument_type</value>
	</field>
	<field>
		<name>instrument_description</name>
		<type>slot</type>
		<value>instrument_description</value>
	</field>
	<field>
		<name>instrument_model_id</name>
		<type>slot</type>
		<value>instrument_model_id</value>
	</field>
	<field>
		<name>instrument_naif_id</name>
		<type>slot</type>
		<value>instrument_naif_id</value>
	</field>
	<field>
		<name>instrument_serial_number</name>
		<type>slot</type>
		<value>instrument_serial_number</value>
	</field>
	<field>
		<name>instrument_host_ref</name>
		<type>slot</type>
		<value>instrument_host_ref</value>
	</field>
	<field>
		<name>instrument_host_name</name>
		<type>slot</type>
		<value>instrument_host_name</value>
	</field>
	<field>
		<name>instrument_host_version_id</name>
		<type>slot</type>
		<value>instrument_host_version_id</value>
	</field>
	<field>
		<name>instrument_host_type</name>
		<type>slot</type>
		<value>instrument_host_type</value>
	</field>
	<field>
		<name>instrument_host_description</name>
		<type>slot</type>
		<value>instrument_host_description</value>
	</field>
	<field>
		<name>instrument_host_naif_id</name>
		<type>slot</type>
		<value>instrument_host_naif_id</value>
	</field>
	<field>
		<name>instrument_host_serial_number</name>
		<type>slot</type>
		<value>instrument_host_serial_number</value>
	</field>
	<field>
		<name>investigation_ref</name>
		<type>slot</type>
		<value>investigation_ref</value>
	</field>
	<field>
		<name>target_ref</name>
		<type>slot</type>
		<value>target_ref</value>
	</field>
	<field>
		<name>investigation_name</name>
		<type>slot</type>
		<value>investigation_name</value>
	</field>
	<field>
		<name>investigation_type</name>
		<type>slot</type>
		<value>investigation_type</value>
	</field>
	<field>
		<name>investigation_description</name>
		<type>slot</type>
		<value>investigation_description</value>
	</field>
	<field>
		<name>investigation_start_date</name>
		<type>slot</type>
		<value>investigation_start_date</value>
	</field>
	<field>
		<name>investigation_stop_date</name>
		<type>slot</type>
		<value>investigation_stop_date</value>
	</field>
	<field>
		<name>modification_date</name>
		<type>slot</type>
		<value>modification_date</value>
	</field>
	<field>
		<name>modification_description</name>
		<type>slot</type>
		<value>modification_description</value>
	</field>
	
	<!-- Hard-coded defaults that need to be refactored -->
	<field>
		<name>agency_name</name>
		<type>out</type>
		<value>nasa</value>
	</field>
	<field>
		<name>pds_model_version</name>
		<type>out</type>
		<value>pds3</value>
	</field>
	
	<!-- Included from old search, leave in for now -->
	<field>
		<name>format</name>
		<type>out</type>
		<value>XML</value>
	</field>
	<field>
		<name>publisher</name>
		<type>out</type>
		<value>NASA.PDS</value>
	</field>
	<field>
		<name>language</name>
		<type>out</type>
		<value>en</value>
	</field>
	<field>
		<name>resContext</name>
		<type>out</type>
		<value>NASA.PDS</value>
	</field>
	<field>
		<name>resClass</name>
		<type>out</type>
		<value>metadata.instrument</value>
	</field>
	<field>
		<name>resource_class</name>
		<type>out</type>
		<value>Instrument_Description</value>
	</field>
</product>
