<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<servlet>
		<servlet-name>dataServiceImpl</servlet-name>
		<servlet-class>gov.nasa.arc.pds.visualizer.server.DataServiceImpl</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>dataServiceImpl</servlet-name>
		<url-pattern>/visualizer/dataService</url-pattern>
	</servlet-mapping>
	
	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>Visualizer.html</welcome-file>
	</welcome-file-list>

</web-app>
