<?xml version="1.0" encoding="UTF-8"?>

<!--
  Copyright 2018, by the California Institute of Technology.
  ALL RIGHTS RESERVED. United States Government Sponsorship acknowledged.
  Any commercial use must be negotiated with the Office of Technology Transfer
  at the California Institute of Technology.

  This software is subject to U. S. export control laws and regulations
  (22 C.F.R. 120-130 and 15 C.F.R. 730-774). To the extent that the software
  is subject to U.S. export control laws and regulations, the recipient has
  the responsibility to obtain export licenses or other export authority as
  may be required before exporting such information to foreign countries or
  providing access to foreign nationals.

  $Id$
-->

<document>
  <properties>
    <title>Installation</title>
    <author email="Sean.Hardman@jpl.nasa.gov">Sean Hardman</author>
  </properties>

  <body>
    <section name="Installation">
      <p>This section describes how to install the Data Search software contained in the <i>${project.artifactId}</i> package. The following topics can be found in this section:
      </p>

      <ul>
        <li><a href="#System_Requirements">System Requirements</a></li>
        <li><a href="#Deploying_the_Database">Deploying the Database</a></li>
        <li><a href="#Deploying_the_Application">Deploying the Application</a></li>
        <li><a href="#Configuring_the_Application">Configuring the Application</a></li>
        <li><a href="#Populating_the_Database">Populating the Database</a></li>
      </ul>
    </section>

    <section name="System Requirements">
      <p>The Data Search software was developed using Ajax Solr and jQuery. The application must reside within a PDS web site deployment because it depends on the CSS configuration and server side includes provided by the site. The software also requires a local MySQL database server to be installed. If installing a new instance of MySQL, consult the local system administrator for installation of this software. For the do-it-yourself crowd, the MySQL software can be downloaded from the <a href="http://www.mysql.com/downloads/mysql/" target="_blank">MySQL Community Server Download</a> page. Choose the appropriate package (version 5.5.X) for the target environment.
      </p>
    </section>

    <section name="Deploying the Database">
      <p>The scripts for creating, loading, dropping and cleaning the database can be found in the source code repository. In order to make a local copy of these scripts, perform the following command:
      </p>

      <source>
% svn export https://starcell.jpl.nasa.gov/repo/2010/trunk/portal/data-search/src/main/resources/schema/
      </source>

      <p>If this is a new installation of the database, perform the following commands (password will be different in operations) in order to create and load the database schema:
      </p>

      <source>
% cd schema
% mysqladmin -u root -p create search
% mysql -u root -p -e "GRANT ALL ON search.* TO registry@localhost IDENTIFIED BY 'p@ssw0rd'"
% mysql -u registry -p -D search &lt; create-schema.sql
% mysql -u registry -p -D search &lt; load-schema.sql
      </source>

      <p>If the database already exists but the database schema has been modified, perform the following commands in order to drop, create and load the database schema:
      </p>

      <source>
% mysql -u registry -p -D search &lt; drop-schema.sql
% mysql -u registry -p -D search &lt; create-schema.sql
% mysql -u registry -p -D search &lt; load-schema.sql
      </source>

      <p>If the database content just needs to be updated, perform the following commands in order to clean and load the database schema:
      </p>

      <source>
% mysql -u registry -p -D search &lt; clean-schema.sql
% mysql -u registry -p -D search &lt; load-schema.sql
      </source>

      <p>See the <a href="#Populating_the_Database">Populating the Database</a> section below for details on populating the content.
      </p>
    </section>

    <section name="Deploying the Application">
      <p>The software is not compiled but can instead be deployed with a Subversion "external" directory configuration within the PDS Home site directory structure. The desired end point is <i>datasearch/data-search</i> within the site. From within the top directory of the PDS site deployment (e.g., /data/www/pds/htdocs), change directories to the <i>datasearch</i> directory and perform the following commands to configure and retrieve the "external" directory:
      </p>

      <source>
% svn propset svn:externals \
'data-search https://starcell.jpl.nasa.gov/repo/2010/trunk/portal/data-search/src/main/webapp' .
% svn update
      </source>
    </section>

    <section name="Configuring the Application">
      <p>The application defaults to accessing the <i>search</i> database in the local MySQL database. If this needs to be modified for a given deployment, edit the following files in the root directory of the application:
      </p>

      <ul>
        <li>getInvestigation.php</li>
        <li>getInvestigations.php</li>
        <li>getTarget.php</li>
        <li>getTargets.php</li>
      </ul>

      <p>Modify the following block accordingly:
      </p>

      <source>
$servername = "localhost";
$dbname = "search";
$username = "registry";
$password = "p@ssw0rd";
      </source>
    </section>

    <section name="Populating the Database">
      <p>This section details how to populate and update the content of the database for the Data Search application. The content is defined in SQL and contained in the <i>load-schema.sql</i> script.
      </p>

      <subsection name="Populate Content for Investigations">
        <p>The search tools and resources categorized by investigation, are captured in the <i>investigation_tools</i> table of the <i>search</i> database. The following is an example SQL statement for an entry:
        </p>

        <source>
insert into investigation_tools (investigation, title, description, url, rank) values 
('Apollo', 'Apollo Analyst''s Notebook at the Geosciences Node', 
 'Provides access to data from the Apollo program''s six manned missions to the lunar surface.', 
 'http://an.rsl.wustl.edu/apollo/', 1);
        </source>

        <p>The <i>title</i>, <i>description</i> and <i>url</i> fields are specific to the search tool or resource being described. The <i>investigation</i> field must be identical to the other search tools and/or resources for the specific investigation. This allows the software to populate the pull-down menu properly and to sort the entries for a specific investigation. The <i>rank</i> field specifies the sort order. Search tools are ranked from 1 to 100 and the resources are ranked from 101 and greater.
        </p>
      </subsection>

      <subsection name="Populate Content for Targets">
        <p>The search tools and resources categorized by target, are captured in the <i>target_tools</i> table of the <i>search</i> database. The following is an example SQL statement for an entry:
        </p>

        <source>
insert into target_tools (target, title, description, url, rank) values 
('Comets/Asteroids', 'Small Bodies Image Browser at the Small Bodies Node', 
 'Supports Dawn, NEAR Shoemaker product browse and download for Ceres, Vesta and Eros data.', 
 'https://sbib.psi.edu/', 1);
        </source>

        <p>The <i>title</i>, <i>description</i> and <i>url</i> fields are specific to the search tool or resource being described. The <i>target</i> field must be identical to the other search tools and/or resources for the specific target. This allows the software to populate the pull-down menu properly and to sort the entries for a specific target. The <i>rank</i> field specifies the sort order. Search tools are ranked from 1 to 100 and the resources are ranked from 101 and greater.
        </p>
      </subsection>
    </section>
  </body>
</document>
