#pbPager-header{
	padding-bottom: 5px;
}

#pbPager li,
.links li {
	display: inline;
}

#pbPager{
	padding:0;
	list-style-type:none;
}

#pbToggleSearchingMethodSearch {cursor: pointer;}
#pbToggleSearchingMethodMatch {cursor: pointer;}

#radioOptionsTable tbody tr td{
	padding-right: 20px;
}

/**Override SSI styles**/
.formp{
	max-width:none;
}

.tw-bs .clearfix:after, .tw-bs .dl-horizontal dd:after, .tw-bs .container:after, .tw-bs .container-fluid:after, .tw-bs .row:after, .tw-bs .form-horizontal .form-group:after, .tw-bs .btn-toolbar:after, .tw-bs .btn-group-vertical > .btn-group:after, .tw-bs .nav:after, .tw-bs .navbar:after, .tw-bs .navbar-header:after, .tw-bs .navbar-collapse:after, .tw-bs .pager:after, .tw-bs .panel-body:after, .tw-bs .modal-footer:after {
	clear: none;
}

.tw-bs input[type="radio"], .tw-bs input[type="checkbox"] {
	margin: 0 0 0;
	margin-top: 1px \9;
	line-height: normal;
}
