body, table {
  font-size: small;
}
body {
  font-family: Helvetica, Arial, sans-serif;
  color: #000;
  background: #fff;
  cursor: default;
}
a:link, a:visited, a:hover, a:active {
  color: #000;
}

/* Dialog boxes */
.gwt-DialogBox {
  background: #d0e4f6;
  border:2px solid #a1a1a1;
  border-radius:20px;
  -moz-border-radius:20px; 
  z-index: 2;  /*needed for close*/
}

 .gwt-DialogBox .Caption {
  font-weight: bold;
  text-shadow: #fff 0 2px 2px;
  cursor: default;
  padding-top: 5px;
  padding-left: 14px;
  text-align: left;
}

.gwt-DialogBox .dialogContent {
	padding: 14px;
}

.gwt-DialogBox .gwt-Button {
  margin: 5px;
}

.gwt-PopupPanelGlass {
  background-color: #000;
  opacity: 0.3;
  filter: literal("alpha(opacity=30)");
  z-index: 2;
}

/* GWT Tree */
.gwt-Tree {
}
.gwt-Tree .gwt-TreeItem {
  padding: 0;
  display: block !important;
}
.gwt-Tree .gwt-TreeItem-selected {
  background: #ccc;
}

/* Splitters */
.gwt-SplitLayoutPanel-HDragger, .gwt-SplitLayoutPanel-VDragger {
  background: #F9FCC6;
  border-top: 1px solid black;
  border-left: 1px solid black;  
  width: 6px;
}

.gwt-SplitLayoutPanel-HDragger {
  cursor: col-resize;
}

.gwt-SplitLayoutPanel-VDragger {
  cursor: row-resize;
}

