<?xml version="1.0" encoding="UTF-8"?>

<!-- 
  Copyright 2012, by the California Institute of Technology.
  ALL RIGHTS RESERVED. United States Government Sponsorship acknowledged.
  Any commercial use must be negotiated with the Office of Technology 
  Transfer at the California Institute of Technology.

  This software is subject to U. S. export control laws and regulations 
  (22 C.F.R. 120-130 and 15 C.F.R. 730-774). To the extent that the software 
  is subject to U.S. export control laws and regulations, the recipient has 
  the responsibility to obtain export licenses or other export authority as 
  may be required before exporting such information to foreign countries or 
  providing access to foreign nationals.

  $Id$
-->

<document>
  <properties>
    <title>Operation</title>
    <author email="Sean.Hardman@jpl.nasa.gov">Sean Hardman</author>
  </properties>

  <body>
    <section name="Operation">
      <p>This document describes how to operate the Product Query software contained in the <i>${project.artifactId}</i> package. The Product Query software is a web application for retrieving product files from the the Product Servers that are located at the various Discipline Nodes. The following topics can be found in this section:
      </p>

      <ul>
        <li><a href="#Interface">Interface</a></li>
        <li><a href="#Product_Query">Product Query</a></li>
      </ul>
    </section>

    <section name="Interface">
      <p>The Product Query provides a REST-based interface accessible via HTTP for interacting with the service. Because the REST-based interface operates over HTTP, there are several options for interacting with the Product Service:
      </p>

      <ul>
        <li>Web Browser<br/>
          <p>Any standard web browser (e.g., Firefox, Safari, Internet Explorer, etc.) will allow interaction with the service.
          </p>
        </li>
        <li>cURL<br/>
          <p>The <a href="http://curl.haxx.se/" target="_blank">cURL</a> utility offers the most flexible means for interacting with the application. The utility comes installed on most UNIX-based platforms and is available for download for the Windows platform. The examples in the sections that follow utilize <i>cURL</i> to interact with the application. If <i>cURL</i> is not installed on the local machine but <i>Wget</i> is, see the <a href="index-wget.html">Using Wget</a> section for converting <i>cURL</i> commands to <i>Wget</i> commands.
          </p>
        </li>
      </ul>

      <p>The examples below use <i>http://localhost:8080</i> as the default base endpoint for the service.
      </p>
    </section>

    <section name="Product Query">
      <p>The Product Query web application provides functionality for retrieving directory listings and files from a Product Server instance. The following table details the parameters available:
      </p>

      <table>
        <tr><th>Parameter</th><th>Description</th></tr>
        <tr><td>object</td><td>The identifier of the Product Server specified as a full URN (i.e., urn:eda:rmi:PDS.CN.Product) or just the name (i.e., PDS.CN.Product). This parameter is required.</td></tr>
        <tr><td>keywordQuery</td><td>The DIS-Style query string. This parameter is required.</td></tr>
        <tr><td>id</td><td>The identifier of the product to return in the case where multiple products match the query criteria. This parameter is optional.</td></tr>
        <tr><td>mimeType</td><td>The desired MIME type of the product to return. This parameter may be specified multiple times to show an in-order preference for MIME types. This parameter is optional.</td></tr>
      </table>

      <p>The The following is an example query:
      </p>

      <source>
% curl -X GET -o product.out -v \
http://localhost:8080/prod?object=&lt;object&gt;&amp;keywordQuery=&lt;keywordQuery&gt;
      </source>

      <p>Note: If the above example generates a <i>302 Moved Temporarily</i> message, an additional "/" is likely required after "/prod" and before the question mark in the example above.
      </p>
    </section>
  </body>
</document>
