<?xml version="1.0" encoding="UTF-8"?>

<!--
  Copyright 2016, by the California Institute of Technology.
  ALL RIGHTS RESERVED. United States Government Sponsorship acknowledged.
  Any commercial use must be negotiated with the Office of Technology Transfer
  at the California Institute of Technology.

  This software is subject to U. S. export control laws and regulations
  (22 C.F.R. 120-130 and 15 C.F.R. 730-774). To the extent that the software
  is subject to U.S. export control laws and regulations, the recipient has
  the responsibility to obtain export licenses or other export authority as
  may be required before exporting such information to foreign countries or
  providing access to foreign nationals.

  $Id$
-->

<document>
  <properties>
    <title>Operation</title>
    <author email="Sean.Hardman@jpl.nasa.gov">Sean Hardman</author>
  </properties>

  <body>
    <section name="Operation">
      <p>This document describes how to operate the Migrate Tools. The following topics can be found in this document:
      </p>

      <ul>
        <li><a href="#ADS_Loader">ADS Loader</a></li>
        <li><a href="#Tool_Registry">Tool Registry</a></li>
      </ul>

      <p>Note: The command-line examples in this section have been broken into multiple lines for readability. The commands should be reassembled into a single line prior to execution.
      </p>
    </section>

    <section name="ADS Loader">
      <p>This software migrates the content from the Profile Server supporting references from the Astrophysics Data System (ADS) to a Registry Service. The software that queries for this content is contained in the Data Set View component. This software does have a dependency on the <i>profile2Registry</i> package which must be deployed to the local Python environment prior to operation of this software. The ADS Loader software consists of two Python scripts:
      </p>

      <ul>
        <li>ads-cleaner.py<br/>This script removes the duplicate entries from the sorted <i>identifiers-sort.txt</i> input file. The input files can be found in the <i>resources</i> directory. The output from the this script is contained in the <i>identifiers-sort-clean.txt</i> file.
        </li>
        <li>ads-loader.py<br/>This script takes the cleaned input file, <i>identifiers-sort-clean.txt</i>, and queries the Profile Server for each entry and ingests those entries with the Registry Service.
        </li>
      </ul>

      <p>The scripts referenced above can be found in the <i>bin/ads-loader</i> directory.
      </p>
    </section>

    <section name="Tool Registry">
      <p>This software migrates tool and service descriptions from multiple sources so that they can be ingested into the Registry Service and then served up to the Tool Registry application. This software does have a dependency on the <i>pds.registry</i> package which must be deployed to the local Python environment prior to operation of this software. The Tool Registry software consists of two Python scripts:
      </p>

      <ul>
        <li>ipda-tools-to-product.py<br/>This script queries the IPDA Registry Service for Service entries and outputs a Product_Service label in XML for each of those entries. Those labels can then be ingested in a Registry Service instance.
        </li>
        <li>search-tools-to-product.py<br/>This script reads the Search Service Search Tools XML file that describes the PDS search tools and outputs a Product_Service label in XML for each of those entries. Those labels can then be ingested in a Registry Service instance.
    </section>
  </body>
</document>
