<?xml version="1.0" encoding="UTF-8"?>

<!--
    Copyright 2011, by the California Institute of Technology.
    ALL RIGHTS RESERVED. United States Government Sponsorship acknowledged.
    Any commercial use must be negotiated with the Office of Technology Transfer
    at the California Institute of Technology.
    
    This software is subject to U. S. export control laws and regulations
    (22 C.F.R. 120-130 and 15 C.F.R. 730-774). To the extent that the software
    is subject to U.S. export control laws and regulations, the recipient has
    the responsibility to obtain export licenses or other export authority as
    may be required before exporting such information to foreign countries or
    providing access to foreign nationals.
    
    $Id: index-win.xml.vm 8779 2011-03-24 17:03:04Z mcayanan $
-->

<document>
    <properties>
        <title>Harvesting of PDS3 Data Products</title>
        <author email="Michael.Cayanan@jpl.nasa.gov">Michael Cayanan</author>
        <author email="Sean.Hardman@jpl.nasa.gov">Sean Hardman</author>
    </properties>
    
    <body>
        <section name="Harvesting of PDS3 Data Products">
            <p>This section details how the Harvest Tool behaves when registering PDS3 data products. The tool does the following when it registers a PDS3 data product:
            </p>

            <ul>
                <li>Create a LIDVID</li>
                <li>Create a Name</li>
                <li>Ingest Default Metadata</li>
            </ul>
            
            <subsection name="Create a LIDVID">
                <p>The LIDVID for a PDS3 data product is made up of the following: given prefix (from the policy file) + <i>DATA_SET_ID</i> + <i>PRODUCT_ID</i> + :: + <i>PRODUCT_VERSION</i>. If a prefix is not specified in the policy file or the <i>DATA_SET_ID</i> is not found in the label, then they are not included in the formation of the LIDVID. If the <i>PRODUCT_ID</i> is not found in the label, then the tool will default to using the file name (without the extension) as part of the LIDVID. If the <i>PRODUCT_VERSION</i> is not found in the label, then the tool will default to using <i>1.0</i>.
                </p>
                
                <p><b><i>Example</i></b></p>
                
                <p>Suppose a label named <i>PDS3LABEL.LBL</i> contains the following metadata:
                </p>
                
                <source>
DATA_SET_ID     = "MRO-M-HIRISE-3-RDR-V1.0"
PRODUCT_ID      = "PSP_001332_2620_RED"
PRODUCT_VERSION = "1.0"
                </source>
                
                <p>If the policy file specified a LID prefix of <i>URN:NASA:PDS</i>, then the LIDVID of this product would be <i>URN:NASA:PDS:MRO-M-HIRISE-3-RDR-V1.0:PSP_001332_2620_RED::1.0</i>. Now, if for example, the <i>PRODUCT_ID</i> was missing from the label, the tool will use the file name and the LIDVID would become <i>URN:NASA:PDS:MRO-M-HIRISE-3-RDR-V1.0:PDS3LABEL::1.0</i>. 
                </p>
                
            </subsection>
            
            <subsection name="Create a Name">
                <p>Each registered product in the PDS Registry has a <i>name</i> attribute, which maps to the <i>title</i> tag in the <i>Identification_Area</i> of a PDS4 product label. When a PDS3 product is registered, the tool has to dynamically generate a title (or name) to ingest into the PDS Registry.
                </p>
                
                <p>The name is made up of the following fields: <i>INSTRUMENT_HOST_NAME</i> + <i>INSTRUMENT_NAME</i> (or <i>INSTRUMENT_ID</i>). <i>INSTRUMENT_ID</i> is used only if <i>INSTRUMENT_NAME</i> is not found in the label. If none of these elements are found in the label, then the title will default to <i>PDS3 Data Product</i>.
                </p>
                
                <p><b><i>Example</i></b></p>
                
                <p>Suppose a label contained the following metadata:
                </p>
                
                <source>
INSTRUMENT_HOST_NAME    =   "MARS RECONNAISSANCE ORBITER"
INSTRUMENT_ID           =   "HIRISE"
INSTRUMENT_NAME         =   "HIGH RESOLUTION IMAGING SCIENCE EXPERIMENT"
                </source>
                
                <p>The resulting name becomes <i>MARS RECONNAISSANCE ORBITER HIGH RESOLUTION IMAGING SCIENCE EXPERIMENT</i>. If <i>INSTRUMENT_NAME</i> is not found in the label, then the name ends up being <i>MARS RECONNAISSANCE ORBITER HIRISE</i>.
                </p>
            </subsection>
            
            <subsection name="Ingest Default Metadata">
                <p>For each PDS3 data product that gets registered, the tool will automatically ingest a set of metadata. The following table shows what elements the tool looks for in a PDS3 product label and what slot name it uses when ingesting the metadata into the registry:
                </p>
                
                <table>
                    <tr><th>Element Name</th><th>Slot Name</th></tr>
                    <tr><td>PRODUCT_CREATION_TIME</td><td>last_modification_date_time</td></tr>
                    <tr><td>TARGET_NAME</td><td>target_name</td></tr>
                    <tr><td>INSTRUMENT_NAME</td><td>instrument_name</td></tr>
                    <tr><td>INSTRUMENT_ID</td><td>instrument_name</td></tr>
                    <tr><td>INSTRUMENT_HOST_NAME</td><td>instrument_host_name</td></tr>
                </table>
                
                <p>For the most part, the slot name is the element name in lowercase form with the exception of <i>PRODUCT_CREATION_TIME</i> and <i>INSTRUMENT_ID</i>.
                </p>
            </subsection>
        </section>
    </body>
</document>

