<?xml version="1.0" encoding="UTF-8"?>

<!--
  Copyright 2010-2012, by the California Institute of Technology.
  ALL RIGHTS RESERVED. United States Government Sponsorship acknowledged.
  Any commercial use must be negotiated with the Office of Technology Transfer
  at the California Institute of Technology.

  This software is subject to U. S. export control laws and regulations
  (22 C.F.R. 120-130 and 15 C.F.R. 730-774). To the extent that the software
  is subject to U.S. export control laws and regulations, the recipient has
  the responsibility to obtain export licenses or other export authority as
  may be required before exporting such information to foreign countries or
  providing access to foreign nationals.

  $Id$
-->

<document>
  <properties>
    <title>Operation</title>
    <author email="Michael.Cayanan@jpl.nasa.gov">Michael Cayanan</author>
    <author email="Sean.Hardman@jpl.nasa.gov">Sean Hardman</author>
  </properties>

  <body>
    <section name="Operation">
      <p>This document describes how to operate the Harvest Tool software. The following topics can be found in this document:
      </p>

      <ul>
        <li><a href="#Tool_Execution">Tool Execution</a></li>
        <li><a href="#Harvest_Policy_File">Harvest Policy File</a></li>
        <li><a href="#Report_Format">Report Format</a></li>
        <li><a href="#Common_Errors">Common Errors</a></li>
      </ul>

      <p>Note: The command-line examples in this section have been broken into multiple lines for readability. The commands should be reassembled into a single line prior to execution.
      </p>
    </section>

    <section name="Tool Execution">
      <p>Harvest Tool can be executed in various ways. This section describes how to run the tool, as well as its behaviors and caveats.
      </p>

      <subsection name="Command-Line Options">
        <p>The following table describes the command-line options available:
        </p>

        <table>
          <tr><th>Command-Line Option</th><th>Description</th></tr>
          <tr><td>-u, --username</td><td>Specify a username for authentication with the PDS Security Service.</td></tr>
          <tr><td>-p, --password</td><td>Specify a password associated with the username.</td></tr>
          <tr><td>-k, --keystore-pass</td><td>Specify a keystore password associated with the keystore file being passed into the tool.</td></tr>
          <tr><td>-l, --log-file</td><td>Specify a log file name. Default is standard out.</td></tr>
          <tr><td>-v, --verbose</td><td>Specify the message severity level and above to include in the log (0=Debug, 1=Info, 2=Warning, 3=Error). Default is Info and above (level 1).</td></tr>
          <tr><td>-e, --regexp</td><td>Specify file patterns to look for when registering products from a target directory.</td></tr>
          <tr><td>-D, --pds3-directory</td><td>Specify a target directory to register PDS3 products.</td></tr>
          <tr><td>-P, --port</td><td>Specify a port number to use if running the tool in persistence mode. See the <a href="#Persistence_Mode">Persistence Mode</a> section for more details.</td></tr>
          <tr><td>-w, --wait</td><td>Specify the time, in seconds, to wait in between the crawls if running the tool in persistence mode. See the <a href="#Persistence_Mode">Persistence Mode</a> section for more details.</td></tr>
          <tr><td>-V, --version</td><td>Display the release number and copyright information.</td></tr>
          <tr><td>-h, --help</td><td>Display <i>harvest</i> usage.</td></tr>
        </table>
      </subsection>

      <subsection name="Execute Harvest Tool">
        <p>The Harvest Tool operates with a policy file to register product metadata. Details on how to create this policy file can be found in the <a href="#Harvest_Policy_File">Harvest Policy File</a> section.
        </p>

        <p>This section demonstrates some of the ways that the tool can be executed:
        </p>

        <ul>
          <li>Registering Products From a Single Target</li>
          <li>Registering Products From Multiple Targets</li>
          <li>Registering Products From Targets Specified In The Policy File</li>
          <li>Registering Products To A Secured Registry Instance</li>
        </ul>

        <p><b><i>Registering Products From a Single Target</i></b></p>

        <p>The following command demonstrates how to register products to a non-secured registry instance from a target product label, <i>product.xml</i>, using the policy file, <i>policy.xml</i>, where the output is going to standard out:
        </p>

        <source>
% harvest product.xml -c policy.xml
        </source>

        <p>The following command demonstrates how to register products to a non-secured registry instance from a target directory, <i>$HOME/pds4Directory</i>, where only files that end with a <i>.xml</i> file extension, will be processed:
        </p>

        <source>
% harvest $HOME/pds4Directory -e "*.xml" -c policy.xml
        </source>

        <p><b><i>Registering Products From Multiple Targets</i></b></p>

        <p>The following command demonstrates how to register products to a non-secured registry instance from two target product labels, <i>product1.xml</i> and <i>product2.xml</i>, using the policy file, <i>policy.xml</i>. The output will go to a log file, <i>log-file.txt</i>:
        </p>

        <source>
% harvest product1.xml, product2.xml -c policy.xml -l log-file.txt
        </source>

        <p><b><i>Registering Products From Targets Specified In The Policy File</i></b></p>

        <p>Targets can either be specified on the command-line or in in the policy file. Any targets specified on the command-line will overwrite any targets specified in the policy file. The following command demonstrates registering products based on targets specified in the policy file, <i>policy.xml</i>:
        </p>

        <source>
% harvest -c policy.xml
        </source>

        <p><b><i>Registering Products To A Secured Registry Instance</i></b></p>

        <p>The following command demonstrates how to register products to a secured registry instance from a target product label, <i>product.xml</i>, using the policy file, <i>policy.xml</i>:
        </p>

        <source>
% harvest product.xml -c policy.xml -u {username} -p {password} \
  -k {keystorePassword}
        </source>

        <p>In each scenario above, the target product(s) were the equivalent of observational or document products. The data model also consists of bundle and collection products, which in turn reference other products. When the Harvest Tool encounters one of these products, it traverses the inventory associated with that product and registers each product referenced as well as the target product.
        </p>
      </subsection>

      <subsection name="Persistence Mode">
        <p>The Harvest Tool can be run in persistence mode through an XML-RPC accessible web service called a daemon. Under this scenario, the Harvest Tool wakes up periodically, inspects a target directory or directories, and registers the latest products. This section details how to set this up.
        </p>

        <p>In order to run the tool through the daemon, the command-line option flags <i>-P</i> and <i>-w</i> need to be used. This tells the Harvest Tool the port number to use and how long to sleep in between crawls, respectively. When the daemon is running, it can be accessed through the following url: <i>http://localhost:{port number}/xmlrpc</i>. The following command demonstrates launching the Harvest Tool through the daemon on port <i>9001</i>, where it will wait 120 seconds in between crawls:
        </p>

        <source>
% harvest -c policy.xml -u {username} -p {password} \
  -k {keystorePassword} -l log.txt -P 9001 -w 120
        </source>

        <p>After running the above command, the daemon will be accessible at <i>http://localhost:9001/xmlrpc</i>.
        </p>

        <p>In order to stop the daemon from running, a daemon controller is needed. The <i>bin/</i> directory of the Harvest Tool release package contains a shell script, <i>harvest-ctrl</i>, and a batch file, <i>harvest-ctrl.bat</i>, which are used to gracefully shut down the daemon service on a UNIX-like and Windows system, respectively. In addition, they can provide a few additional statistics about the crawling.
        </p>

        <p>The following table describes the command-line options available for <i>harvest-ctrl</i>:
        </p>

        <table>
          <tr><th>Command-Line Option</th><th>Description</th></tr>
          <tr><td>--url</td><td>Specify the URL of the daemon service running the Harvest Tool.</td></tr>
          <tr><td>--operation</td><td>Specify a single operation to perform. List of valid operations can be found in the next table.</td></tr>
        </table>

        <p>The following table describes the operation names available to pass with the <i>--operation</i> command-line option:
        </p>

        <table>
          <tr><th>Operation Option</th><th>Description</th></tr>
          <tr><td>--stop</td><td>Specify this operation to shut down the daemon service.</td></tr>
          <tr><td>--isRunning</td><td>Gives an indication whether the daemon service is running.</td></tr>
          <tr><td>--getNumCrawls</td><td>Returns the number of crawls that have occurred.</td></tr>
          <tr><td>--getWaitInterval</td><td>Returns the time, in seconds, that the crawler has to wait in between crawls.</td></tr>
          <tr><td>--getMilisCrawling</td><td>Returns the amount of milliseconds spent crawling.</td></tr>
          <tr><td>--getAverageCrawlTime</td><td>Returns the average amount of time, in milliseconds, spent during each crawl.</td></tr>
        </table>

        <p>The following examples demonstrate how to run <i>harvest-ctrl</i> using a few of the different operations. For demonstration purposes, assume that the daemon service is located at the following url: <i>http://localhost:9001/xmlrpc</i>.
        </p>

        <p><b><i>Determine the Status of the Daemon Service</i></b></p>

        <p>The following command is used to find out if the daemon service is still running:
        </p>

        <source>
% harvest-ctrl --url http://localhost:9001/xmlrpc --operation --isRunning
        </source>

        <p><b><i>Shutdown the Daemon Service</i></b></p>

        <p>The following command demonstrates shutting down the daemon service:
        </p>

        <source>
% harvest-ctrl --url http://localhost:9001/xmlrpc --operation --stop
        </source>
      </subsection>
   </section>

   <section name="Harvest Policy File">
     <p>The Harvest policy file is an XML-based configuration file that the tool uses to find products and register their metadata. The schema for the policy file can be found in the <a href="index-policy-schema.html">Harvest Policy Schema</a> section. If viewing this document in PDF form, see the appendix for details. This section details how to setup the policy file to do PDS data product registration.
     </p>

     <subsection name="PDS4 Data Product Registration">
       <p>The following is an example of a policy file to perform registration of PDS4 data products:
       </p>

       <source>
&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;policy&gt;
  &lt;registryPackage&gt;
    &lt;name&gt;Harvest Package Example&lt;/name&gt;
    &lt;description&gt;This is an example of a Harvest run.&lt;/description&gt;
  &lt;/registryPackage&gt;

  &lt;bundles&gt;
    &lt;file&gt;/home/pds4/context-bundle/bundle.xml&lt;/file&gt;
  &lt;/bundles&gt;

  &lt;collections&gt;
    &lt;file&gt;/home/pds4/insthost/collection_instrument_host.xml&lt;/file&gt;
  &lt;/collections&gt;

  &lt;directories&gt;
    &lt;path&gt;/home/dph_examples/dph_example_products&lt;/path&gt;
    &lt;filePattern&gt;*.xml&lt;/filePattern&gt;
  &lt;/directories&gt;

  &lt;storageIngestion&gt;
    &lt;serverUrl&gt;http://localhost:9000&lt;/serverUrl&gt;
  &lt;/storageIngestion&gt;

  &lt;accessUrls registerFileUrls="true"&gt;
    &lt;accessUrl&gt;
      &lt;baseUrl&gt;http://pds.nasa.gov/pds4&lt;/baseUrl&gt;
      &lt;offset&gt;/home/pds4&lt;/offset&gt;
    &lt;/accessUrl&gt;
  &lt;/accessUrls&gt;

  &lt;candidates&gt;
    &lt;namespace prefix="dph" uri="http://pds.nasa.gov/schema/pds4/dph/v01"/&gt;

    &lt;productMetadata objectType="Product_Observational"&gt;
      &lt;xPath slotName="information_model_version"&gt;
        //Identification_Area/information_model_version
      &lt;/xPath&gt;
      &lt;xPath slotName="product_class"&gt;
        //Identification_Area/product_class
      &lt;/xPath&gt;
      &lt;xPath slotName="alternate_id"&gt;
        //Identification_Area/Alias_List/Alias/alternate_id
      &lt;/xPath&gt;
      &lt;xPath slotName="alternate_title"&gt;
        //Identification_Area/Alias_List/Alias/alternate_title
      &lt;/xPath&gt;
      &lt;xPath slotName="modification_date"&gt;
        //Identification_Area/Modification_History/Modification_Detail/modification_date
      &lt;/xPath&gt;
      &lt;xPath slotName="modification_version_id"&gt;
        //Identification_Area/Modification_History/Modification_Detail/version_id
      &lt;/xPath&gt;
      &lt;xPath slotName="modification_description"&gt;
        //Identification_Area/Modification_History/Modification_Detail/description
      &lt;/xPath&gt;
      &lt;xPath slotName="spacecraft_clock_start_count"&gt;
        //Observation_Area/Mission_Area/dph:spacecraft_clock_start_count
      &lt;/xPath&gt;
      &lt;xPath slotName="spacecraft_clock_stop_count"&gt;
        //Observation_Area/Mission_Area/dph:spacecraft_clock_stop_count
      &lt;/xPath&gt;
    &lt;/productMetadata&gt;

    &lt;productMetadata objectType="Product_Document"&gt;
      &lt;xPath slotName="information_model_version"&gt;
        //Identification_Area/information_model_version
      &lt;/xPath&gt;
      &lt;xPath slotName="product_class"&gt;
        //Identification_Area/product_class
      &lt;/xPath&gt;
      &lt;xPath slotName="alternate_id"&gt;
        //Identification_Area/Alias_List/Alias/alternate_id
      &lt;/xPath&gt;
      &lt;xPath slotName="alternate_title"&gt;
        //Identification_Area/Alias_List/Alias/alternate_title
      &lt;/xPath&gt;
      &lt;xPath slotName="modification_date"&gt;
        //Identification_Area/Modification_History/Modification_Detail/modification_date
      &lt;/xPath&gt;
      &lt;xPath slotName="modification_version_id"&gt;
        //Identification_Area/Modification_History/Modification_Detail/version_id
      &lt;/xPath&gt;
      &lt;xPath slotName="modification_description"&gt;
        //Identification_Area/Modification_History/Modification_Detail/description
      &lt;/xPath&gt;
      &lt;xPath slotName="document_revision_id"&gt;
        //Document_Description/revision_id
      &lt;/xPath&gt;
      &lt;xPath slotName="document_name"&gt;
        //Document_Description/document_name
      &lt;/xPath&gt;
      &lt;xPath slotName="document_doi"&gt;
        //Document_Description/doi
      &lt;/xPath&gt;
      &lt;xPath slotName="document_author_list"&gt;
        //Document_Description/author_list
      &lt;/xPath&gt;
      &lt;xPath slotName="document_editor_list"&gt;
        //Document_Description/editor_list
      &lt;/xPath&gt;
      &lt;xPath slotName="document_acknowledgement_text"&gt;
        //Document_Description/acknowledgement_text
      &lt;/xPath&gt;
      &lt;xPath slotName="document_copyright"&gt;
        //Document_Description/copyright
      &lt;/xPath&gt;
      &lt;xPath slotName="document_description"&gt;
        //Document_Description/description
      &lt;/xPath&gt;
      &lt;xPath slotName="document_publication_date"&gt;
        //Document_Description/publication_date
      &lt;/xPath&gt;
    &lt;/productMetadata&gt;
  &lt;/candidates&gt;
&lt;/policy&gt;
       </source>

       <p>The policy file is made up of the following complex type elements: <i>registryPackage</i>, <i>bundles</i>, <i>collections</i>, <i>directories</i>, <i>validation</i>, <i>storageIngestion</i>, <i>accessUrls</i>, <i>candidates</i>, and <i>productMetadata</i>.
       </p>

       <p><b><i>registryPackage</i></b></p>

       <p>Each time the Harvest Tool runs, it creates a package in the registry to group the product registrations together. Specify this element to give a registry package a name and/or description. The following table describes the elements that are allowed:
       </p>

       <table>
         <tr><th>Element Name</th><th>Description</th></tr>
         <tr><td>name</td><td>Specify a package name. If this element is not specified, the default is to create a package with the name <i>Harvest-Package_&lt;current datetimestamp&gt;</i>.</td></tr>
         <tr><td>description</td><td>Specify a package description.If this element is not specified, the default is to create a description that lists the targets that were specified in the policy config file.</td></tr>
       </table>

       <p><b><i>bundles</i></b></p>

       <p>Specify this element to tell the Harvest Tool to register and crawl a bundle file. The following table describes the elements that are allowed:
       </p>

       <table>
         <tr><th>Element Name</th><th>Description</th></tr>
         <tr><td>file</td><td>Specify a bundle file. Specify this element tag more than once to point to multiple bundle files.</td></tr>
       </table>

       <p>In the example above, the Harvest Tool will register the bundle file named <i>/home/pds4/context-bundle/bundle.xml</i>. It will then crawl the bundle file, looking for collection files to register and process.
       </p>

       <p><b><i>collections</i></b></p>

       <p>Specify this element to tell the Harvest Tool to register and crawl a collection file. Crawling only occurs when the collection file is a primary collection. This is indicated by a value of <i>true</i> in the <i>is_primary_collection</i> element tag within the collection.
       </p>

       <p>The following table describes the elements that are allowed:
       </p>

       <table>
         <tr><th>Element Name</th><th>Description</th></tr>
         <tr><td>file</td><td>Specify a collection file. Specify this element tag more than once to point to multiple collection files.</td></tr>
       </table>

       <p>In the example above, the Harvest Tool will register the collection file named <i>/home/pds4/insthost/collection_instrument_host.xml</i>. It will then crawl the file, looking for products to register if it is a primary collection.
       </p>

       <p><b><i>directories</i></b></p>

       <p>Specify this element to tell the Harvest Tool where to crawl for data products. The following table describes the elements that are allowed:
       </p>

       <table>
         <tr><th>Element Name</th><th>Description</th></tr>
         <tr><td>path</td><td>Specify a directory path to start crawling. Specify this element tag more than once to point to multiple directories to crawl.</td></tr>
         <tr><td>filePattern</td><td>Specify a file pattern to look for specific files. If omitted, the default is to get all files within a directory.</td></tr>
       </table>

       <p>In the example above, the Harvest tool will crawl the directory location, <i>/home/user/pds4/geo/product_files</i>, looking for files that have a <i>.xml</i> file extension. The default is to touch all files in the directory if the <i>filePattern</i> element is omitted from the policy file.
       </p>

       <p><b><i>storageIngestion</i></b></p>

       <p>Specify this element to tell the Harvest Tool to ingest data products to the PDS Storage Service. The following table describes the elements that are allowed:
       </p>

       <table>
         <tr><th>Element Name</th><th>Description</th></tr>
         <tr><td>serverUrl</td><td>Specify the url to the PDS Storage Service.</td></tr>
       </table>

       <p>In the example above, the Harvest Tool will ingest data products to the PDS Storage Service at <i>http://localhost:9000</i>. When a data product is ingested to the PDS Storage, it returns a product id which is a reference to the ingested product. This id is placed as a slot in the registry under the slot name <i>storageServiceProductId</i>.
       </p>

       <p><b><i>accessUrls</i></b></p>

       <p>Specify this element to provide links to the physical data products. The links will be placed in the registry as slots under the slot name <i>accessUrl</i>. An optional attribute can be specified named <i>registerFileUrls</i>, which if set to <i>true</i>, will create <i>file</i> url links.
       </p>

       <p>The <i>accessUrls</i> element can contain multiple <i>accessUrl</i> element tags. The following table describes the elements that are allowed within the <i>accessUrl</i> tag:
       </p>

       <table>
         <tr><th>Element Name</th><th>Description</th></tr>
         <tr><td>baseUrl</td><td>Specify a base url.</td></tr>
         <tr><td>offset</td><td>Optionally specify an offset to nix from the absolute path of each product before appending it to the base url. Can be specified more than once.</td></tr>
       </table>

       <p>In the policy example above, the Harvest Tool will nix any absolute path of a product starting with <i>/home/pds4</i> before appending it to the starting base url of <i>http://pds.nasa.gov/pds4</i>. The following example demonstrates what the resulting access url will be for a registered product located at <i>/home/pds4/context-bundle/bundle.xml</i>:
       </p>

       <source>
http://pds.nasa.gov/pds4/context-bundle/bundle.xml
       </source>

       <p>The provided base urls will be prepended to the path of the registered data product. As an example, if a data product is located in /data/product/label.xml, using the base urls from the policy example above, the following access urls will be formed: <i>http://pds.nasa.gov/pds4/data/product/label.xml</i> and <i>file://pds4/data/product/label.xml</i>.
       </p>

       <p><b><i>candidates</i></b></p>

       <p>Specify this element to tell the Harvest Tool what product types to register and what metadata to extract from a data product. This is a required element in the policy file. The following table describes the elements that are allowed:
       </p>

       <table>
         <tr><th>Element Name</th><th>Description</th></tr>
         <tr><td>namespace</td><td>Specify to allow the Harvest Tool to extract metadata that is in a namespace other than the default PDS namespace.</td></tr>
         <tr><td>productMetadata</td><td>Specify to tell the tool what object types and what metadata to register.</td></tr>
       </table>

       <p>By default, the Harvest Tool defines the default namespace to be the PDS namespace. To override this default, specify the <i>default</i> attribute in the namespace element and give it a value of <i>true</i>. The following sets the <i>dph</i> namespace to be the default namespace in Harvest:
       </p>

       <source>
&lt;candidates&gt;
  &lt;namespace prefix="dph" uri="http://pds.nasa.gov/schema/pds4/dph/v01" default="true"/&gt;
          ...
       </source>

       <p>Namespaces need to be defined in the Harvest policy file only if the metadata to be extracted exists in a namespace other than the PDS namespace. In the example above, a namespace with the prefix <i>dph</i> and uri <i>http://pds.nasa.gov/schema/pds4/dph/v01</i> has been defined. This means that any xPath expressions defined in the policy file will be able to use the <i>dph</i> prefix to be able to extract metadata that are within the dph namespace. xPaths will be explained in greater detail in the <i>productMetadata</i> section.
       </p>

       <p><b><i>productMetadata</i></b></p>

       <p>Specify this element to tell the Harvest Tool what metadata to register. It requires an attribute called <i>objectType</i> that tells the Harvest Tool what product types to register. The following table describes the elements that are allowed:
       </p>

       <table>
         <tr><th>Element Name</th><th>Description</th></tr>
         <tr><td>xPath</td><td>Specify an XPath expression to extract metadata.</td></tr>
       </table>

       <p>In the example above, the policy file tells the Harvest Tool to look for and register the <i>Product_Observational</i> and <i>Product_Document</i> object types.
       </p>

       <p>Also in the example is a set of <i>xPath</i> elements found under each <i>productMetadata</i> element. This defines what metadata to extract from the different products. XPath is a query language that uses path expressions to select nodes in an XML document. These path expressions look very much like expressions in a traditional computer file system. In its simplest form, prepending a <i>//</i> before a name will find the element no matter where it is in the XML file.
       </p>

       <p>The following XPath expression will find the <i>start_date_time</i> element within the default namespace, no matter where this element is located in the file:
       </p>

       <source>
//start_date_time
       </source>

       <p>The following XPath expression will find the <i>spacecraft_clock_start_count</i> element within the dph namespace, no matter where this element is located in the file:
       </p>

       <source>
//dph:spacecraft_clock_start_count
       </source>


       <p>The following XPath expression will find all <i>information_model_version</i> elements that are children of <i>Identification_Area</i> within the default namespace:
       </p>

       <source>
//Identification_Area/information_model_version
       </source>

       <p>The following XPath expression will find all <i>name</i> elements that are children of <i>Target_Identification</i> and that have a value of <i>MARS</i>:
       </p>

       <source>
//Target_Identification/name[text()="MARS"]
       </source>

       <p>For a more detailed explanation on XPath, go to your favorite search engine and type <i>XPath tutorial</i>.
       </p>

       <p>The <i>slotName</i> attribute within the <i>xPath</i> element allows the renaming of metadata element names when they are registered as slots in the registry. By default, the slot name is set to the element name that results from an xpath expression. For example, for the xpath expression, //Target_Identification/name, the slot name will be set to <i>name</i>.
       </p>

       <p>The following demonstrates setting the policy file to find any <i>name</i> elements that are children of <i>Target_Identification</i> and setting the slot name to <i>target_identification_name</i>:
       </p>

       <source>
&lt;xPath slotName="target_identification_name"&gt;//Target_Identification/name&lt;/xPath&gt;
       </source>
     </subsection>

    <subsection name="PDS3 Product Registration">
      <p>By default, the tool registers discovered PDS3 products under the <i>Product_Proxy_PDS3</i> objectType in the registry. Additionally, the tool has to dynamically create certain metadata in order to support ingestion of PDS3 data products into the registry. The <a href="index-pds3Harvesting.html">Harvesting of PDS3 Data Products</a> section details how the Harvest Tool behaves when registering PDS3 data products. If viewing this document in PDF form, see the appendix for details.
      </p>

      <p>The following is an example of a policy file to perform product registration of PDS3 data products:
      </p>

      <source>
&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;!-- Example of a Harvest policy configuration file that will do PDS3 data
    product registration  --&gt;
&lt;policy&gt;
  &lt;!-- Specify a single directory containing the PDS3 data products to
    register --&gt;
  &lt;pds3Directory&gt;
    &lt;path&gt;/data/pds3/dataset&lt;/path&gt;
    &lt;filePattern&gt;*.LBL&lt;/filePattern&gt;
  &lt;/pds3Directory&gt;
  &lt;candidates&gt;
    &lt;!-- Harvest will register PDS3 data products under the objectType
      'Product_Proxy_PDS3' --&gt;
    &lt;pds3ProductMetadata&gt;
        &lt;!-- Prefix to add to the LID of a PDS3 product registration --&gt;
        &lt;lidPrefix&gt;urn:nasa:pds&lt;/lidPrefix&gt;
        &lt;!-- Associations to register with discovered PDS3 products --&gt;
        &lt;associations&gt;
          &lt;!-- Specify either a LID or LIDVID reference --&gt;
          &lt;association&gt;
            &lt;referenceType&gt;has_target&lt;/referenceType&gt;
            &lt;lidVidReference&gt;urn:nasa:pds:target.MARS::1.0&lt;/lidVidReference&gt;
          &lt;/association&gt;
          &lt;association&gt;
            &lt;referenceType&gt;has_mission&lt;/referenceType&gt;
            &lt;lidReference&gt;urn:nasa:pds:mission.MER&lt;/lidReference&gt;
          &lt;/association&gt;
        &lt;/associations&gt;
        &lt;!-- Register any additional metadata. They will be registered as
          slots with their element names in lowercase form. Default is to
          register metadata defined in the identification area of the
          Product_Proxy_PDS3 schema. --&gt;
        &lt;ancillaryMetadata&gt;
          &lt;elementName&gt;START_TIME&lt;/elementName&gt;
          &lt;elementName&gt;STOP_TIME&lt;/elementName&gt;
        &lt;/ancillaryMetadata&gt;
        &lt;includePaths&gt;
          &lt;path&gt;/data/pds3/label&lt;/path&gt;
        &lt;/includePaths&gt;
    &lt;/pds3ProductMetadata&gt;
  &lt;/candidates&gt;
&lt;/policy&gt;
      </source>

      <p>This policy file is made up of the following complex type elements: <i>pds3Directory</i>, <i>pds3ProductMetadata</i>, <i>association</i>, <i>ancillaryMetadata</i>, <i>includePaths</i>.
      </p>

      <p><b><i>pds3Directory</i></b></p>

      <p>Specify this element to tell the Harvest Tool the directory location to crawl. The following table describes the elements that are allowed:
      </p>

      <table>
        <tr><th>Element Name</th><th>Description</th></tr>
        <tr><td>path</td><td>Specify a directory location containing the PDS3 data products to register. Only one directory location is allowed per executable run.</td></tr>
        <tr><td>filePattern</td><td>Specify a file pattern to look for specific files. If omitted, the default is to get all files within a directory.</td></tr>
      </table>

      <p>In the example above, the Harvest Tool will crawl for PDS3 data products starting at the location <i>/data/pds3/dataset</i>, looking for files with a <i>.LBL</i> file extension.
      </p>

      <p><b><i>pds3ProductMetadata</i></b></p>

      <p>Specify this element to tell the Harvest Tool what metadata to ingest into the registry when registering PDS3 data products. This element must be specified within the <i>candidates</i> tag as shown in the example. The following table describes the elements that are allowed:
      </p>

      <table>
        <tr><th>Element name</th><th>Description</th></tr>
        <tr><td>lidPrefix</td><td>Specify a prefix to add to the logical identifier.</td></tr>
        <tr><td>associations</td><td>Specify one or more associations.</td></tr>
        <tr><td>ancillaryMetadata</td><td>Specify ancillary metadata to ingest into the registry for every discovered PDS3 data product.</td></tr>
      </table>

      <p>In the example above, the logical identifiers of every discovered PDS3 data product will be prefixed with <i>urn:nasa:pds</i>.
      </p>

      <p><b><i>association</i></b></p>

      <p>Specify this element to tell the Harvest Tool what associations belong to each discovered PDS3 data product. Specifying one or more <i>association</i> elements is allowed and they must be within the <i>associations</i> tag as shown in the example. The following table describes the elements that are allowed:
      </p>

      <table>
        <tr><th>Element name</th><th>Description</th></tr>
        <tr><td>referenceType</td><td>Specify the association type.</td></tr>
        <tr><td>lidVidReference</td><td>Specify a lidvid reference.</td></tr>
        <tr><td>lidReference</td><td>Specify a lid reference.</td></tr>
      </table>

      <p>Note that <i>lidVidReference</i> and <i>lidReference</i> cannot be used together within the same <i>association</i> tag. Only one can be chosen.
      </p>

      <p>In the example above, each discovered PDS3 product will have two references: one with a LIDVID of <i>urn:nasa:pds:target.MARS::1.0</i> and reference type of <i>has_target</i>, and one with a LID of <i>urn:nasa:pds:mission.MER</i> and reference type of <i>has_mission</i>.
      </p>

      <p><b><i>ancillaryMetadata</i></b></p>

      <p>Specify this element to tell the Harvest tool what additional metadata to register. The following table describes the elements that are allowed:
      </p>

      <table>
        <tr><th>Element name</th><th>Description</th></tr>
        <tr><td>elementName</td><td>Specify an element name found in the PDS3 data product label.</td></tr>
      </table>

      <p>In the example above, the values from the following elements will be extracted from a PDS3 product label: <i>START_TIME</i> and <i>STOP_TIME</i>. If they are found in the label, they will be registered as slots in the registry, using their element names in lowercase form as the slot names. In this case, <i>start_date_time</i> and <i>stop_date_time</i> will be used as slot names in the registry.
      </p>

      <p><b><i>includePaths</i></b></p>

      <p>Specify this element to tell the Harvest tool the locations of where to find file references specified in a label. By default, the tool will look for the file reference in the location of the label file. The following table describes the elements that are allowed:
      </p>

      <table>
        <tr><th>Element name</th><th>Description</th></tr>
        <tr><td>path</td><td>Specify the directory location of where to find the file references in a label. This element can be specified more than once to specify multiple search paths.</td></tr>
      </table>

      <p>In the example above, the tool will look at the <i>/data/pds3/label</i> directory for file references if they cannot be found in the same location as the label file.
      </p>

    </subsection>
  </section>

  <section name="Report Format">
    <p>This section describes the contents of the Harvest Tool report. At this time, the Harvest Tool only outputs a series of log messages. The log will report the success or failure of a discovered product attempting to be registered. Additionally, any syntactical errors in a discovered product are reported. A log consists of a severity level, file name, and a message. The following is an example of some of the log messages that can be expected from the Harvest Tool:
     </p>

     <source>
PDS Harvest Tool Log

Version                     Version 1.2.0
Time                        Fri, Jun 08 2012 at 12:22:05 PM
Severity Level              INFO
Registry Location           http://localhost:8080/registry
Registry Package Name       Harvest-Package_20120608122203
Registration Package GUID   urn:uuid:010e1f84-8b90-47f9-b8ef-ff802019712b

INFO:   XML extractor set to the following default namespace: \
http://pds.nasa.gov/pds4/pds/v08
INFO:   [/Users/shardman/test/pds/2010/collections/VG2PLS/Product_Bundle.xml] \
Begin processing.
INFO:   [/Users/shardman/test/pds/2010/collections/VG2PLS/Product_Bundle.xml] \
line 70: Mapping reference type 'bundle_has_browse_collection' to 'collection_ref'.
INFO:   [/Users/shardman/test/pds/2010/collections/VG2PLS/Product_Bundle.xml] \
line 76: Mapping reference type 'bundle_has_context_collection' to 'collection_ref'.
INFO:   [/Users/shardman/test/pds/2010/collections/VG2PLS/Product_Bundle.xml] \
line 82: Mapping reference type 'bundle_has_data_collection' to 'collection_ref'.
INFO:   [/Users/shardman/test/pds/2010/collections/VG2PLS/Product_Bundle.xml] \
line 88: Mapping reference type 'bundle_has_document_collection' to 'collection_ref'.
INFO:   [/Users/shardman/test/pds/2010/collections/VG2PLS/Product_Bundle.xml] \
line 94: Mapping reference type 'bundle_has_schema_collection' to 'collection_ref'.
INFO:   [/Users/shardman/test/pds/2010/collections/VG2PLS/Product_Bundle.xml] \
Setting LID-based association, 'urn:nasa:pds:example.DPH.sampleArchive:browse', \
under slot name 'collection_ref'.
INFO:   [/Users/shardman/test/pds/2010/collections/VG2PLS/Product_Bundle.xml] \
Setting LID-based association, 'urn:nasa:pds:example.DPH.sampleArchive:context', \
under slot name 'collection_ref'.
INFO:   [/Users/shardman/test/pds/2010/collections/VG2PLS/Product_Bundle.xml] \
Setting LID-based association, 'urn:nasa:pds:example.DPH.sampleArchive:data', \
under slot name 'collection_ref'.
INFO:   [/Users/shardman/test/pds/2010/collections/VG2PLS/Product_Bundle.xml] \
Setting LID-based association, 'urn:nasa:pds:example.DPH.sampleArchive:document', \
under slot name 'collection_ref'.
INFO:   [/Users/shardman/test/pds/2010/collections/VG2PLS/Product_Bundle.xml] \
Setting LID-based association, 'urn:nasa:pds:example.DPH.sampleArchive:schema', \
under slot name 'collection_ref'.
SUCCESS:   [/Users/shardman/test/pds/2010/collections/VG2PLS/Product_Bundle.xml] \
Successfully registered product: urn:nasa:pds:example.DPH.sampleArchive::1.0
INFO:   [/Users/shardman/test/pds/2010/collections/VG2PLS/Product_Bundle.xml] \
Product has the following GUID: urn:uuid:f78f7bdf-782e-4b81-a6fd-4848bd91f38f
INFO:   [/Users/shardman/test/pds/2010/collections/VG2PLS/Product_Bundle.xml] \
Capturing file information for Product_Bundle.xml
INFO:   [/Users/shardman/test/pds/2010/collections/VG2PLS/Product_Bundle.xml] \
Capturing file object metadata for README.TXT
WARNING:   [/Users/shardman/test/pds/2010/collections/VG2PLS/Product_Bundle.xml] \
Generated checksum '5ef7af310b99d8189e670830c954a290' does not match supplied \
checksum 'af2dcac26018a73c50ea6014a0c033d8' for file object 'README.TXT'.
SUCCESS:   [/Users/shardman/test/pds/2010/collections/VG2PLS/Product_Bundle.xml] \
Successfully registered product: \
urn:nasa:pds:example.DPH.sampleArchive:Product_Bundle.xml::1.0
INFO:   [/Users/shardman/test/pds/2010/collections/VG2PLS/Product_Bundle.xml] \
Product has the following GUID: urn:uuid:6728ed5e-b260-4fd9-b46d-4c7a1adf7e91
SUCCESS:   [/Users/shardman/test/pds/2010/collections/VG2PLS/Product_Bundle.xml] \
Successfully registered product: \
urn:nasa:pds:example.DPH.sampleArchive:README.TXT::1.0
INFO:   [/Users/shardman/test/pds/2010/collections/VG2PLS/Product_Bundle.xml] \
Product has the following GUID: urn:uuid:ddbfbe3e-d74f-472d-bf37-7c265cfda324

...

Summary:

15 of 17 file(s) processed, 0 other file(s) skipped
2 error(s), 9 warning(s)

15 of 15 products registered.
81 of 81 ancillary products registered.

Product Types Registered:
1 Product_Target_PDS3
2 Product_Document
1 Product_Instrument_PDS3
1 Product_Mission_PDS3
1 Product_Browse
1 Product_Observational
2 Product_File_Text
1 Product_Bundle
1 Product_Instrument_Host_PDS3
4 Product_Collection
81 Product_File_Repository

60 of 66 generated checksums matched their supplied value, \
15 generated value(s) not checked.

91 of 91 associations registered.


End of Log
     </source>
    </section>

    <section name="Common Errors">
      <p>Execution of the Harvest Tool may result in the following message appearing in the log:
      </p>

      <source>
INFO:   XML extractor set to the following default namespace: \
http://pds.nasa.gov/schema/pds4/pds
INFO:   [/pds4/VG2PLS_archive/Product_Bundle.xml] Begin processing.
SKIP:   [/pds4/VG2PLS_archive/Product_Bundle.xml] No product_class element found.
      </source>

      <p>The message above is normally the result of a namespace mismatch between the Harvest Tool configuration and the product labels being registered. See the <a href="#PDS4_Data_Product_Registration">PDS4 Data Product Registration</a> section above for details on specifying the namespace in the configuration file. By the way, the message could be telling the truth where the product label does not contain the &lt;product_class&gt; element. If this is the case, then the file is not a valid PDS product label.
      </p>
    </section>
  </body>
</document>
