<?xml version="1.0" encoding="UTF-8"?>

<!--
  Copyright 2016-2017, by the California Institute of Technology.
  ALL RIGHTS RESERVED. United States Government Sponsorship acknowledged.
  Any commercial use must be negotiated with the Office of Technology Transfer
  at the California Institute of Technology.

  This software is subject to U. S. export control laws and regulations
  (22 C.F.R. 120-130 and 15 C.F.R. 730-774). To the extent that the software
  is subject to U.S. export control laws and regulations, the recipient has
  the responsibility to obtain export licenses or other export authority as
  may be required before exporting such information to foreign countries or
  providing access to foreign nationals.

  $Id$
-->

<document>
  <properties>
    <title>Installation</title>
    <author email="Sean.Hardman@jpl.nasa.gov">Sean Hardman</author>
  </properties>

  <body>
    <section name="Installation">
      <p>This document describes how to install the Search Analytics software contained in the <i>${project.artifactId}</i> package. The following topics can be found in this section:
      </p>

      <ul>
        <li><a href="#System_Requirements">System Requirements</a></li>
        <li><a href="#Unpacking_the_Package">Unpacking the Package</a></li>
        <li><a href="#Deploying_the_Application">Deploying the Application</a></li>
        <li><a href="#Configuring_the_Application">Configuring the Application</a></li>
      </ul>
    </section>

    <section name="System Requirements">
      <p>The Search Analytics software was developed using JavaScript. This section details the system requirements for installing and operating the Search Analytics software.
      </p>
      
      <subsection name="Java Application Server">
        <p>The Search Analytics software requires a Java application server for hosting the web application. The suggested application server for this release is Apache Tomcat with a minimal version of 7.0.X. Consult the local system administrator for installation of this software. For the do-it-yourself crowd, see the <a href="../../../release/index-tomcat.html" target="_blank">Tomcat Deployment</a> document for installation and configuration details. If viewing this document from the ${project.artifactId} package, view the <a href="http://pds-engineering.jpl.nasa.gov/development/pds4/current/release/index-tomcat.html" target="_blank">Tomcat Deployment</a> document from the Engineering Node site.
        </p>

        <p>The top-level directory where Apache Tomcat is installed (i.e. the directory containing the <i>webapps</i> and <i>conf</i> sub-directories) will be referenced in these instructions as $TOMCAT_HOME.
        </p>
      </subsection>
    </section>

    <section name="Unpacking the Package">
      <p>Download the <i>${project.artifactId}</i> package from the PDS <a href="ftp://pds.nasa.gov/pub/toplevel/2010/search/" target="_blank">FTP</a> site. The binary distribution is available in identical zip or tar/gzip packages. The installation directory may vary from environment to environment but in UNIX-based environments it is typical to install software packages in the <i>/usr/local</i> directory and in Windows-based environments it is typical to install software packages in the <i>C:\Program Files</i> directory. Unpack the selected binary distribution file with one of the following commands:
      </p>

      <source>
% unzip ${project.artifactId}-${project.version}-bin.zip
or
% tar -xzvf ${project.artifactId}-${project.version}-bin.tar.gz
      </source>

      <p>Note: Depending on the platform, the native version of <i>tar</i> may produce an error when attempting to unpack the distribution file because many of the file paths are greater than 100 characters. If available, the GNU version of tar will resolve this problem. If that is not available or cannot be installed, the zipped package will work just fine in a UNIX environment.
      </p>

      <p>The commands above result in the creation of the <i>${project.artifactId}-${project.version}</i> directory with the following directory structure:
      </p>

      <ul>
        <li><b>README.txt</b><br/>
          <p>A README file directing the user to the available documentation for the project.
          </p>
        </li>
        <li><b>LICENSE.txt</b><br/>
          <p>The copyright notice from the <a href="http://www.caltech.edu/" target="_blank">California Institute of Technology</a> detailing the restrictions regarding the use and distribution of this software. Although the license is strictly worded, the software has been classified as Technology and Software Publicly Available (TSPA) and is available for <i>anyone</i> to download and use.
          </p>
        </li>
        <li><b>${project.artifactId}.war</b><br/>
          <p>This is the Web ARchive (WAR) file containing the Search Analytics software including all dependent JAR files.
          </p>
        </li>
         <li><b>doc/</b><br/>
          <p>This directory contains a local web site with the Search Analytics documentation and other configuration management related information. Just point the desired web browser to the <i>index.html</i> file in this directory.
          </p>
        </li>
      </ul>
    </section>

    <section name="Deploying the Application">
      <p>The Search Analytics web application is packaged as a WAR file and is intended for installation under a standard Java Application Server. For a Tomcat server deployment, the WAR file is normally copied directly to the <i>webapps</i> directory within the Tomcat installation or installed via the Manager interface. Once this step is complete, the application is ready for operation.
      </p>
    </section>

    <section name="Configuring the Application">
      <p>
      </p>

      <subsection name="Search Service Configuration">
        <p>By default, the Search Analytics web application is configured to access the Search Service at <i>/search-service/</i> on the localhost. This works great in development and test environments but should be modified for an operations environment. For example to modify the configuration for the EN operations environment, edit the <i>$TOMCAT_HOME/webapps/${project.artifactId}/config.js</i> file as follows:
        </p>

        <source>
Replace:
    solr: "/search-service/",
With:
    solr: "https://pds.nasa.gov/services/search/",
        </source>

        <p>In addition, edit the <i>$TOMCAT_HOME/webapps/${project.artifactId}/app/dashboard/default.json</i> file as follows:
        </p>

        <source>
Replace:
    "server": "/search-service/",
With:
    "server": "https://pds.nasa.gov/services/search/",
        </source>
      </subsection>

      <subsection name="Dashboard Configuration">
        <p>By default, the Search Analytics web application comes with a dashboard configuration intended to be used with a Search Service populated with PDS Context products (<i>pds-context.json</i>). The application also includes a dashboard configuration intended to be used with PDS Data products (<i>pds-data.json</i>). To modify the configuration for PDS Data product content, copy the <i>pds-data.json</i> file located in the <i>$TOMCAT_HOME/webapps/${project.artifactId}/app/dashboards</i> directory to <i>default.json</i> and then refresh the page in your browser. If you changed the Search Service Configuration in the section above, you will need to do it again for the newly copied <i>default.json</i> file.
        </p>
      </subsection>
    </section>
  </body>
</document>
