<?xml version="1.0" encoding="UTF-8"?>

<!--
  Copyright 2016, by the California Institute of Technology.
  ALL RIGHTS RESERVED. United States Government Sponsorship acknowledged.
  Any commercial use must be negotiated with the Office of Technology Transfer
  at the California Institute of Technology.

  This software is subject to U. S. export control laws and regulations
  (22 C.F.R. 120-130 and 15 C.F.R. 730-774). To the extent that the software
  is subject to U.S. export control laws and regulations, the recipient has
  the responsibility to obtain export licenses or other export authority as
  may be required before exporting such information to foreign countries or
  providing access to foreign nationals.

  $Id$
-->

<document>
  <properties>
    <title>Installation</title>
    <author email="Sean.Hardman@jpl.nasa.gov">Sean Hardman</author>
  </properties>

  <body>
    <section name="Installation">
      <p>This section describes how to install the Profile-2-Registry software contained in the <i>${project.artifactId}</i> package. The following topics can be found in this section:
      </p>

      <ul>
        <li><a href="#System_Requirements">System Requirements</a></li>
        <li><a href="#Deploying_the_Application">Deploying the Application</a></li>
      </ul>
    </section>

    <section name="System Requirements">
      <p>The Profile-2-Registry software was developed using Python and will run on any platform with a supported Python installation. It is compatible with Python 2.6 or 2.7. It is not compatible with Python 2.5 or earlier versions, nor with Python 3 or later versions. The following commands test the local Python installation in a UNIX-based environment:
      </p>

      <source>
% which python
/usr/bin/python

% python --version
Python 2.7.2
      </source>

      <p>The first command above checks whether the <i>python</i> executable is in the environment's path and the second command reports the version. If Python is not installed or the version is not 2.6 or 2.7, Python will need to be downloaded and installed in the current environment. Consult the local system administrator for installation of this software.
      </p>
    </section>

    <section name="Deploying the Application">
      <p>Download the package from the PDS <a href="ftp://pds.nasa.gov/pub/toplevel/2010/migrate/" target="_blank">FTP</a> site. Unpack the selected distribution file with the following command:
      </p>

      <source>
% unzip pds.profile2registry-1.0.1.zip
      </source>

      <p>In the extracted directory, perform the following command as a privileged user to install the package:
      </p>

      <source>
% python setup.py install
      </source>

      <p>The package is now ready to utilize in your Python applications.
      </p>
    </section>
  </body>
</document>
