<?xml version="1.0" encoding="UTF-8"?>

<!--
  Copyright 2013, by the California Institute of Technology.
  ALL RIGHTS RESERVED. United States Government Sponsorship acknowledged.
  Any commercial use must be negotiated with the Office of Technology Transfer
  at the California Institute of Technology.

  This software is subject to U. S. export control laws and regulations
  (22 C.F.R. 120-130 and 15 C.F.R. 730-774). To the extent that the software
  is subject to U.S. export control laws and regulations, the recipient has
  the responsibility to obtain export licenses or other export authority as
  may be required before exporting such information to foreign countries or
  providing access to foreign nationals.

  $Id$
-->

<document>
  <properties>
    <title>Operation</title>
    <author email="Michael.Cayanan@jpl.nasa.gov">Paul Ramirez</author>
    <author email="Sean.Hardman@jpl.nasa.gov">Sean Hardman</author>
  </properties>

  <body>
    <section name="Operation">
      <p>This document describes how to operate the Extract Table tool. The software extracts tabular data from a PDS4 product and writes it to an output file or the console, in fixed-width or CSV format. It can also list the tables and fields present. If multiple tables are present in the product, a table can be selected. The output format can also be set to fixed-width text or CSV, and the output line and field separators can be set to desired values.
      </p>
      
      <p>The following topics can be found in this document:
      </p>

      <ul>
        <li><a href="#Quick_Start">Quick Start</a></li>
        <li><a href="#Command-Line_Options">Command-Line Options</a></li>
        <li><a href="#Advanced_Usage">Advanced Usage</a></li>
      </ul>
    </section>
    
    <p>The command-line examples below reference example PDS4 products which can be found in the <i>examples/data/</i> folder of the PDS4 Tools release package. Also, the command-line examples have been broken into multiple lines for readability. The commands should be reassembled into a single line prior to execution.
    </p>
    
    <section name="Quick Start">
      <p>This section is intended to give a quick and easy way to run the Extract Table Tool. For a more detailed explanation on other ways to run the tool, go to the <a href="#Advanced_Usage">Advanced Usage</a> section.
      </p>
           
      <p>The command below shows how to extract tabular data from a PDS4 product:
      </p>
      
      <source>
%> extract-table Product_Table_Character.xml
      </source>
      
      <p>To format the data into Comma-Separated Value (CSV) format and output the results into a file, run the command below using the <i>-c</i> and <i>-o</i> flag options:
      </p>
      
      <source>
%> extract-table Product_Table_Character.xml -c -o product_table_character.csv
      </source>
    </section>
    
    <section name="Command-Line Options">
      <p>The following table describes the command-line options available to the tool:
      </p>
      
      <table>
        <tr><th>Command-Line Option</th><th>Description</th></tr>
        <tr><td>-c, --csv</td><td>Output in CSV format</td></tr>
        <tr><td>-f, --fields &lt;FIELD_LIST&gt;</td><td>Comma-separated list of field names or numbers to extract. Default is to extract all fields.</td></tr>
        <tr><td>-l, --list-tables</td><td>List tables present in the product.</td></tr>
        <tr><td>-n, --index &lt;NUMBER&gt;</td><td>Select the table to extract if more than one table is present (1...N). Default is to extract data from the first table.</td></tr>
        <tr><td>-d, --data-file &lt;FILE&gt;</td><td>Specify the data file name of the table to extract. Default is to extract table data from the first data file specified in the product label.</td></tr>
        <tr><td>-a, --all</td><td>Specify to extract data from all tables and all data files found in the product label. Default is to extract data from the first table and first data file.</td></tr>
        <tr><td>-o, --output-file &lt;FILE&gt;</td><td>Specify the output file name. Default is to output the data to standard out.</td></tr>
        <tr><td>-P, --platform</td><td>Output the data using the target platform line separator. This is the default behavior.</td></tr>
        <tr><td>-q, --quote-character &lt;CHAR&gt;</td><td>Quote character for CSV output. Default is to use the double-quote, <i>"</i>, character.</td></tr>
        <tr><td>-t, --field-separator &lt;SEP&gt;</td><td>Specify the output field separator. Default is a space for fixed-with tables, or comma for CSV output.</td></tr>
        <tr><td>-U, --unix</td><td>Specify this flag to output the table using Unix line separator (LF).</td></tr>
        <tr><td>-w, --fixed-width</td><td>Specify this flag to output the table in fixed-width format. (default behavior)</td></tr>
        <tr><td>-W, --windows</td><td>Specify this flag to output the table using Windows line separators. (CRLF)</td></tr>
        <tr><td>-h, --help</td><td>Display Tool usage.</td></tr>
      </table>
    </section>
    
    <section name="Advanced Usage">
      <p>This section describes more advanced ways to run the tool, as well as its behaviors and caveats.
      </p>
      
      <subsection name="Tool Execution">
        <p>This section demonstrates some of the ways that the tool can be executed using the command-line option flags:
        </p>
        
        <ul>
          <li>Extracting Table Data From Multiple Tables</li>
          <li>Extracting Table Data From Multiple Data Files</li>
          <li>Extracting Specific Fields From a Table</li>
          <li>Specifying Another Field Separator</li>
        </ul>
        
        <p><b><i>Extracting Table Data From Multiple Tables</i></b></p>
        
        <p>For PDS4 data product labels containing more than 1 table, the default behavior of the tool is to extract the 1st table found. To select specific tables, use the <i>-n</i> flag option.
        </p>
        
        <p>The following command lists all tables found in the data product label:
        </p>
        
        <source>
% extract-table ~/transform-1.4.0-dev/examples/Product_Table_Multiple_Tables.xml -l
        
  file: PDS4_ATM_TABLE_CHAR_MULTIPLE.TAB
    table 1: fixed-width character table
      field 1: SOL (ASCII_Integer)
      field 2: LTST (ASCII_Real)
      field 3: LMST (ASCII_Real)
      field 4: V (ASCII_Real)
      field 5: DV+ (ASCII_Real)
      field 6: DV- (ASCII_Real)
      field 7: DIR (ASCII_Real)
      field 8: DDIR (ASCII_Real)
      field 9: EXPOSURE TIME (ASCII_Real)
      field 10: FILE NAME (ASCII_File_Name)
    table 2: fixed-width character table
      field 1: SOL (ASCII_Integer)
      field 2: LTST (ASCII_Real)
      field 3: LMST (ASCII_Real)
      field 4: V (ASCII_Real)
      field 5: DV+ (ASCII_Real)
      field 6: DV- (ASCII_Real)
      field 7: DIR (ASCII_Real)
      field 8: DDIR (ASCII_Real)
      field 9: EXPOSURE TIME (ASCII_Real)
      field 10: FILE NAME (ASCII_File_Name)
        </source>
        
        <p>The following command extracts the table data from the 2nd table:
        </p>
        
        <source>
% extract-table ~/transform-1.4.0-dev/examples/Product_Table_Multiple_Tables.xml -n 2
        </source>
        
        <p><b><i>Extracting Table Data From Multiple Data Files</i></b></p>
        
        <p>For PDS4 data product labels containing tables located in more than 1 data file, the default behavior of the tool is to extract the 1st table in the 1st data file found. To select a specific table from a specific data file, use the <i>-d</i> flag option.
        </p>
        
        <p>The following command lists all tables found in the data product label:
        </p>
        
        <source>
% extract-table Product_Table_Multiple_Datafiles.xml -l


file: PDS4_ATM_TABLE_CHAR.TAB
  table 1: fixed-width character table
    field 1: SOL (ASCII_Integer)
    field 2: LTST (ASCII_Real)
    field 3: LMST (ASCII_Real)
    field 4: V (ASCII_Real)
    field 5: DV+ (ASCII_Real)
    field 6: DV- (ASCII_Real)
    field 7: DIR (ASCII_Real)
    field 8: DDIR (ASCII_Real)
    field 9: EXPOSURE TIME (ASCII_Real)
    field 10: FILE NAME (ASCII_File_Name)

file: PDS4_TABLE_DELIMITED.csv
  table 1: delimited table
    field 1: CHANNEL_NUMBER (ASCII_Integer)
    field 2: SPECTRA_01 (ASCII_Integer)
    field 3: SPECTRA_02 (ASCII_Integer)
    field 4: SPECTRA_03 (ASCII_Integer)
    field 5: SPECTRA_04 (ASCII_Integer)
    field 6: SPECTRA_05 (ASCII_Integer)
    field 7: SPECTRA_06 (ASCII_Integer)
    field 8: SPECTRA_07 (ASCII_Integer)
    field 9: SPECTRA_08 (ASCII_Integer)
    field 10: SPECTRA_09 (ASCII_Integer)
    field 11: SPECTRA_10 (ASCII_Integer)
    field 12: SPECTRA_11 (ASCII_Integer)
    field 13: SPECTRA_12 (ASCII_Integer)

file: 2d234493326edratf3d2537n0m1.dat
  table 1: fixed-width binary table
    field 1: SCLK_SECONDS (UnsignedMSB4)
    field 2: SCLK_SUBSECONDS (UnsignedMSB2)
    field 3: SPARE (UnsignedMSB2)
    field 4: ROTATION_MOTOR_POSITION (IEEE754MSBDouble)
    field 5: ROTATION_MOTOR_CURRENT_SENSOR (IEEE754MSBDouble)
    field 6: REVOLUTION_MOTOR_POSITION (IEEE754MSBDouble)
    field 7: REVOLUTION_MOTOR_CURRENT_SENSOR (IEEE754MSBDouble)
    field 8: Z_MOTOR_POSITION (IEEE754MSBDouble)
    field 9: Z_MOTOR_CURRENT_SENSOR (IEEE754MSBDouble)
    field 10: TEMPERATURE_SENSOR (IEEE754MSBDouble)
    field 11: BUTTERFLY_SWITCH_1 (UnsignedMSB4)
    field 12: BUTTERFLY_SWITCH_2 (UnsignedMSB4)
    field 13: RAT_OVER_CURRENT_ALARM (UnsignedMSB4)
    field 14: Z_AXIS_MOTOR_CONTROLLER_STATUS (UnsignedByte)
    field 15: REVOLVE_MOTOR_CONTROLLER_STATUS (UnsignedByte)
    field 16: GRIND_MOTOR_CONTROLLER_STATUS (UnsignedByte)
    field 17: SPARE (UnsignedByte)
    field 18: ROVER_BUS_VOLTAGE (IEEE754MSBDouble)
    field 19: ALGORITHM_STATE (UnsignedMSB4)
    field 20: ANOMALY_FLAG (UnsignedMSB4)
        </source>
      
        <p>The following command extracts the table located in the data file <i>PDS4_TABLE_DELIMITED.csv</i>: 
        </p>
        
        <source>
% extract-table Product_Table_Multiple_Datafiles.xml -d PDS4_TABLE_DELIMITED.csv
        </source>
        
        <p>To extract all tables from all the data files, run the following command:
        </p>
        
        <source>
% extract-table Product_Table_Multiple_Datafiles.xml -a
        </source>
        
        <p><b><i>Extracting Specific Fields From a Table</i></b></p>
        
        <p>To extract specific fields from the table, use the <i>-f</i> flag option.
        </p>
        
        <p>The example table product consists of the following fields:
        </p>
        
        <source>
% extract-table Product_Table_Character.xml -l

file: PDS4_ATM_TABLE_CHAR.TAB
  table 1: fixed-width character table
    field 1: SOL (ASCII_Integer)
    field 2: LTST (ASCII_Real)
    field 3: LMST (ASCII_Real)
    field 4: V (ASCII_Real)
    field 5: DV+ (ASCII_Real)
    field 6: DV- (ASCII_Real)
    field 7: DIR (ASCII_Real)
    field 8: DDIR (ASCII_Real)
    field 9: EXPOSURE TIME (ASCII_Real)
    field 10: FILE NAME (ASCII_File_Name)
        </source>
        
        <p>The following command extracts field 5:
        </p>
        
        <source>
% extract-table Product_Table_Character.xml -f 5 
        </source>
        
        <p>Specify a comma-separated list to extract multiple fields. The following command extracts field 5 and field 9:
        </p>
        
        <source>
% extract-table Product_Table_Character.xml -f 5,9 
        </source>
        
        <p><b><i>Specifying Another Field Separator</i></b></p>
        
        <p>The <i>-t</i> flag option provides the capability to specify another field separator in the output. The default is to use a space for fixed-width tables and to use a comma for CSV output.
        </p>
        
        <p>The following command tells the tool to output the table using the vertical bar character as the field separator:
        </p>
        
        <source>
% extract-table ../examples/data/Product_Table_Character.xml -t '\|'
        </source>
        
        <p>Note that the backslash character preceding the vertical bar character is needed in order to pass in the vertical bar character properly into the tool. This, along with the single quotes surrounding the value, is needed so that the shell interpreter will treat this character as a string literal.
        </p>
        
      </subsection>
    </section>    
  </body>
</document>
