body {
  padding: 10px !important;
}

/*
 * ScrollTable
 */
 .title { font-weight: bold; padding: 4px 8px 4px 8px; color: #FFFFFF; background: #687EAE; border: 1px solid #A7B3CF; border-bottom-color: #546B9C; border-right-width: 0px; }
.gwt-ScrollTable {
  border-color: #E4E4E4;
  border-style: solid;
  border-width: 1px 0px 1px 1px;
}
.scrollTableWrapper { border: 1px solid #546B9C; }

.gwt-ScrollTable .headerWrapper {
  background: #F2F2F2;
}

.gwt-ScrollTable .footerWrapper {
  border-top: 1px solid #E4E4E4 !important;
  background: #F2F2F2;
}

.gwt-ScrollTable .dataTable td,
.gwt-ScrollTable .headerTable td,
.gwt-ScrollTable .footerTable td {
  white-space: nowrap;
  overflow: hidden;
  padding: 3px 5px 3px 5px;
}

.gwt-ScrollTable .dataTable td { border: 1px solid #E4E4E4; border-left-color: #FFFFFF; border-top-color: #FFFFFF; }

.gwt-ScrollTable .headerTable td,
.gwt-ScrollTable .footerTable td {
  color: #000000; font-weight: bold;
  border-bottom-style: none;
  border: 1px solid #DADADA; border-left-color: #FFFFFF; border-top-color: #FFFFFF;
}
	
.gwt-ScrollTable .dataTable tr.highlighted {
  background: #FFFFAA !important;
}

.gwt-ScrollTable .dataTable td.highlighted {
  /*background: #FFFFAA;*/
  cursor: hand;
  cursor: pointer;
}

.gwt-ScrollTable .dataTable tr.selected td {
  background: #F5EEB7;
}



/**
 * Applied to the options at the bottom of the page.
 */
.gwt-PagingOptions {
  background: #e8eef7;
  border: 1px solid #aaa;
  border-top: none;
  padding: 3px;
}

.gwt-PagingOptions .errorMessage {
	color: red;
}

.pagingOptionsFirstPage,
.pagingOptionsLastPage,
.pagingOptionsNextPage,
.pagingOptionsPrevPage {
  cursor: hand;
  cursor: pointer;
}

.recordCount { padding: 10px 0px 0px 5px; font-weight: bold; }

.detailBox { padding: 10px; }
.detailLabel { font-weight: bold; text-align: right; padding: 3px 10px 5px 10px; vertical-align: top;}
.detailValue { padding: 3px 10px 5px 0px; vertical-align: top; }
.button { margin-top: 10px; }

.label { font-weight: bold; }

.inputContainer { padding: 0px 10px 10px 0px; vertical-align: bottom; }
.inputLabel { font-weight: bold; }

/** Applied to AbstractOptions */
.AbstractOption-Label {
  font-weight: bold;
  text-align: right;
}
