<?xml version="1.0" encoding="UTF-8"?>

<!--
  Copyright 2012-2016, by the California Institute of Technology.
  ALL RIGHTS RESERVED. United States Government Sponsorship acknowledged.
  Any commercial use must be negotiated with the Office of Technology Transfer
  at the California Institute of Technology.

  This software is subject to U. S. export control laws and regulations
  (22 C.F.R. 120-130 and 15 C.F.R. 730-774). To the extent that the software
  is subject to U.S. export control laws and regulations, the recipient has
  the responsibility to obtain export licenses or other export authority as
  may be required before exporting such information to foreign countries or
  providing access to foreign nationals.

  $Id$
-->

<document>
  <properties>
    <title>Operation</title>
    <author email="Michael.Cayanan@jpl.nasa.gov">Paul Ramirez</author>
    <author email="Sean.Hardman@jpl.nasa.gov">Sean Hardman</author>
  </properties>

  <body>
    <section name="Operation">
      <p>This document describes how to operate the Transform Tool. The following topics can be found in this document:
      </p>

      <ul>
        <li><a href="#Quick_Start">Quick Start</a></li>
        <li><a href="#Command-Line Options">Command-Line Options</a></li>
        <li><a href="#Advanced_Usage">Advanced Usage</a></li>
        <li><a href="#PDS3_to_PDS4_Label_Transformation">PDS3 to PDS4 Label Transformation</a></li>
        <li><a href="#Known_Issues">Known Issues</a></li>
      </ul>

      <p>Note: The command-line examples in this section have been broken into multiple lines for readability. The commands should be reassembled into a single line prior to execution.
      </p>
      
      <subsection name="Example Products">
        <p>The Transform Tool package contains an <i>examples/</i> folder which contains example PDS3 and PDS4 data products. The intent is to provide example products to demonstrate the different transformations that can be performed by the tool. The table below lists the target inputs that can be passed into the tool and the <a href="#Format_Types">format types</a> that are valid for each target input listed:
        </p>
        
        <table>
          <tr><th>Target Input</th><th>Description</th><th>Valid Format Types</th></tr>
          <tr><td>20140804T205944Z_MAP_bias_V001.xml</td><td>PDS4 data product label of a FITS image.</td><td>jpg, gif, jp2, tif, png, pnm, pvl, html, html-structure-only</td></tr>
          <tr><td>BA03S183.IMG</td><td>PDS3 attached label of a 16-bit image.</td><td>jpg, gif, jp2, tif, png, pnm</td></tr>
          <tr><td>C000M5232T493378259EDR_F0000_0134M1.xml</td><td>PDS4 data product label of an Array 3D Image.</td><td>jpg, gif, jp2, tif, png, pnm, pvl, html, html-structure-only</td></tr>
          <tr><td>ELE_MOM.LBL</td><td>PDS3 label of an ascii character table.</td><td>pds4-label, csv</td></tr>
          <tr><td>FF01.LBL</td><td>PDS3 data product label of an 8-bit image.</td><td>jpg, gif, jp2, tif, png, pnm</td></tr>
          <tr><td>FHA01118.LBL</td><td>PDS3 attached label of an 8-bit image.</td><td>jpg, gif, jp2, tif, png, pnm</td></tr>
          <tr><td>N1727539187_1.LBL</td><td>PDS3 data product label of a 16-bit image.</td><td>pds</td></tr>
          <tr><td>PWR02176_01.LBL</td><td>PDS3 label of an ascii character table. Table object includes a ^STRUCTURE pointer to a set of column objects.</td><td>pds4-label, csv</td></tr>
          <tr><td>Product_Table_Binary.xml</td><td>PDS4 data product label of a binary table.</td><td>csv, html, html-structure-only</td></tr>
          <tr><td>Product_Table_Character.xml</td><td>PDS4 data product label of a character table.</td><td>csv, html, html-structure-only</td></tr>
          <tr><td>Product_Table_Delimited.xml</td><td>PDS4 data product label of a delimited table.</td><td>csv, html, html-structure-only</td></tr>
          <tr><td>Product_Table_Multiple_Datafiles.xml</td><td>PDS4 data product label that references multiple table data files.</td><td>csv, html, html-structure-only</td></tr>
          <tr><td>Product_Table_Multiple_Tables.xml</td><td>PDS4 data product label containing multiple table objects.</td><td>csv, html, html-structure-only</td></tr>
          <tr><td>b0090_p243401_01_01v02.xml</td><td>PDS4 data product label containing an Array 3D Specturm object followed by multiple Array 2D Image objects.</td><td>jpg, gif, jp2, tif, png, pnm, pvl, html, html-structure-only</td></tr>
          <tr><td>i943630r.xml</td><td>PDS4 data product label of an Array 2D Image.</td><td>jpg, gif, jp2, tif, png, pnm, pvl, html, html-structure-only</td></tr>
        </table>
        
      </subsection>
    </section>

    <section name="Quick Start">
      <p>This section is intended to give a quick and easy way to run the Transform Tool. For a more detailed explanation on other ways to run the tool, go to the <a href="#Advanced_Usage">Advanced Usage</a> section. In general, to run the tool, pass in a PDS3 or PDS4 label along with one of the format types described in the <a href="#Format_Types">Format Types</a> section to perform the desired transformation.
      </p>
      
      <p><b><i>Transform an image</i></b></p>
      
      <p>The command below shows how to do a PDS4 to JPEG transformation:
      </p>
      
      <source>
%> transform ../examples/i943630r.xml -f jpg
      </source>
      
      <p>Note that for image transformations, the tool performs normalization on the image for display purposes. This includes performing auto scaling in order to brighten or darken the image to an appropriate level.
      </p>      
      
      <p><b><i>Transform a table</i></b></p>
      
      <p>The command below shows how to do a PDS4 table to CSV transformation:
      </p>
      
      <source>
%> transform ../examples/Product_Table_Character.xml -f csv
      </source>
      
      <p>The command below shows how to do a PDS3 table to CSV transformation:
      </p>
      
      <source>
%> transform ../examples/ELE_MOM.LBL -f csv       
      </source>
      
      <p>For PDS3 table to CSV transformations, a PDS3 to PDS4 label transformation is performed first. The resulting PDS4 label is then used as the basis for transforming the table data to CSV.
      </p>
      
      <p>If the PDS3 table contains a ^STRUCTURE pointer, then the <i>-I</i> flag option can be used if the label fragment is not co-located with the label. This flag option tell the tool where to look for label fragments. The following command demonstrates transforming a PDS3 table to CSV, where the PDS3 label references a label fragment that is not co-located with the label:
      </p>
      
      <source>
%> transform ../examples/PWR02176_01.LBL -I ../examples/LABEL
      </source>
      
    </section>

    <section name="Command-Line Options">
      <p>The following table describes the command-line options available:
      </p>
      
      <table>
        <tr><th>Command-Line Option</th><th>Description</th></tr>
        <tr><td>-t, --target &lt;file&gt;</td><td>Explicitly specify a PDS3 or PDS4 product label that contains a reference to an image file to transform. The target can be specified implicitly as well. (example: transform i943630r.xml)</td></tr>
        <tr><td>-o, --output &lt;dir&gt;</td><td>Specify an output directory where the transformed images will reside. If this option is not specified on the command-line, the tool will default to placing the output files in the current working directory.</td></tr>
        <tr><td>-f, --format-type &lt;type&gt;</td><td>Specify the transformation format type to perform on the target(s). Please see the <a href="#Format_Types">Format Types</a> section for details on the valid format types available to the tool.</td></tr>
        <tr><td>-n, --index &lt;int value&gt;</td><td>Specify the index of the image or table to transform. The default is to transform the first one found. Please see the <a href="#Advanced_Use_Cases">Advanced Use Cases</a> section for details on using this flag option.</td></tr>
        <tr><td>-d, --datafile &lt;file&gt;</td><td>Specify the data file to transform. The default is to transform the first one found. Please see the <a href="#Advanced_Use_Cases">Advanced Use Cases</a> section for details on using this flag option.</td></tr>
        <tr><td>-a, --all</td><td>Specify to transform all images or tables found within a given target PDS label. Please see the <a href="#Advanced_Use_Cases">Advanced Use Cases</a> section for details on using this flag option.</td></tr>
        <tr><td>-O, --list-objects</td><td>List the table and image objects found within a given label that are currently supported by the tool.</td></tr>
        <tr><td>-I, --include &lt;paths&gt;</td><td>Specify paths to search for files referenced by pointers in a label. This flag is valid only for PDS3 to PDS4 label transformations and PDS3 table to CSV transformations. Separate each path with a comma. Default is to always look in the directory of the label, then search the specified directories.</td></tr>
        <tr><td>-V, --version</td><td>Display the release number and copyright information.</td></tr>
        <tr><td>-h, --help</td><td>Display tool usage.</td></tr>
      </table>

      <subsection name="Format Types">
        <p>The following table lists the output formats available to both PDS3 and PDS4 target inputs:
        </p>
        
        <table>
          <tr><th>Format Type</th><th>Description</th></tr>
          <tr><td>jpg or jpeg</td><td>Specify to transform to an image in a Joint Photographic Experts Group format.</td></tr>
          <tr><td>jp2</td><td>Transform an image to a JPEG 2000 format.</td></tr>
          <tr><td>gif</td><td>Transform an image to a Graphics Interchange Format.</td></tr>
          <tr><td>png</td><td>Transform an image to a Portable Network Graphics format.</td></tr>
          <tr><td>tif or tiff</td><td>Transform an image to a Tagged Image File Format.</td></tr>
          <tr><td>pnm</td><td>Transform an image to a Portable Any Map format.</td></tr>
          <tr><td>csv</td><td>Transform a given table into a comma-separated value file.</td></tr>
        </table>
                
        <p>The following table lists the output formats available to only PDS4 target inputs:
        </p>
        
        <table>
          <tr><th>Format Type</th><th>Description</th></tr>
          <tr><td>pvl</td><td>Transform a given PDS4 label into a Parameter Value Language file.</td></tr>
          <tr><td>html</td><td>Transform a given PDS4 label into an html representation of the label.</td></tr>
          <tr><td>html-structure-only</td><td>Transform a given PDS4 label into an html representation of the label structure. As a result, the element contents are stripped out in the resulting file.</td></tr>
        </table>
        
        <p>The following table lists the output formats available to only PDS3 target inputs:
        </p>
        
        <table>
          <tr><th>Format Type</th><th>Description</th></tr>
          <tr><td>pds</td><td>Transform a VICAR image into a PDS4 Array 2D image. Additionally, the given PDS3 label will be transformed into a PDS4 label. Note that this transformation currently applies to target VICAR images only. Please see the <a href="#PDS3_to_PDS4_Label_Transformation">PDS3 to PDS4 Label Transformation</a> section for more details on how the tool performs a PDS3 to PDS4 label transformation.</td></tr>
          <tr><td>pds4-label</td><td>Transform a given PDS3 data product label into a PDS4 Product Observational product label. Please see the <a href="#PDS3_to_PDS4_Label_Transformation">PDS3 to PDS4 Label Transformation</a> section for more details on how the tool performs a PDS3 to PDS4 label transformation. </td></tr>
        </table>
      </subsection>

    </section>

    <section name="Advanced Usage">
      <p>This section describes more advanced ways to run the tool, as well as its behaviors and caveats.
      </p>

      <subsection name="Running the Transform Tool">
        <p>The Transform Tool requires the passing in of a PDS3 or PDS4 product label that contains a reference to an image file. In addition, the tool assumes that the referenced image file is co-located with the product label. Other notable caveats with this version of the tool include:
        </p>

        <ul>
          <li>For PDS3 to TIFF transformations, the output tile size defaults to 8 lines by the image width.</li>
        </ul>

        <p>This section demonstrates some of the ways that the tool can be executed using the command-line option flags:
        </p>

        <ul>
          <li>Transform a Single PDS4 Array 2D Image</li>
          <li>Transform a Single PDS4 Label To Parameter Value Language (PVL) File</li>
          <li>Transform a Single 8-Bit PDS3 Image</li>
          <li>Transform a PDS3 Label to PDS4 Label</li>
          <li>List the Supported Objects</li>
        </ul>

        <p>The files used in the command-line examples below are packaged with the tool in the <i>examples</i> directory.
        </p>

        <p><b><i>Transform a Single PDS4 Array 2D Image</i></b></p>

        <p>The following command demonstrates transforming a PDS4 array 2D image referenced in the associated product label, <i>i943630r.xml</i>:
        </p>

        <source>
% transform ../examples/i943630r.xml -f jpg
        </source>

        <p>The tool creates an output file on the current working directory using the target image file name with the user-specified format as the file extension. Using the example above, the tool creates the output file <i>i943630r.jpg</i>.
        </p>
        
        <p>To write the output file in another directory location, use the <i>-o</i> flag option. The following command demonstrates writing the output to a location named <i>/home/pds/images</i>:
        </p>
        
        <source>
% transform ../examples/i943630r.xml -f jpg -o /home/pds/images          
        </source>

        <p><b><i>Transform a Single PDS4 Label To Parameter Value Language (PVL) File</i></b></p>

        <p>The following command demonstrates transforming a PDS4 label, <i>i943630r.xml</i>, to a PVL file, <i>i943630r.pvl</i>:
        </p>

        <source>
% transform ../examples/i943630r.xml -f pvl
        </source>

        <p><b><i>Transform a Single 8-Bit PDS3 Image</i></b></p>

        <p>The following command demonstrates transforming a PDS3, 8-bit image referenced in the associated attached label, <i>FHA01118.LBL</i>, into a gif image file named <i>FHA01118.gif</i>:
        </p>

        <source>
% transform ../examples/FHA01118.LBL -f gif
        </source>

        <p>The following command demonstrates transforming a PDS3, 8-bit image referenced in the associated detached label, <i>FF01.LBL</i>, into a portable network graphics file named <i>FF01.png</i>:
        </p>

        <source>
% transform ../examples/FF01.LBL -f png
        </source>

        <p><b><i>Transform a PDS3 Label to PDS4 Label</i></b></p>

        <p>The following command demonstrates transforming a PDS3 data product label, <i>ELE_MOM.LBL</i>, into a PDS4 Product Observational label named <i>ele_mom.xml</i>:
        </p>
        <source>
% transform ../examples/ELE_MOM.LBL -f pds4-label
        </source>
      </subsection>
    </section>
    
    <section name="Advanced Usage">
      <p>The section details some of the more advanced ways that the tool can be used.
      </p>
      
      <subsection name="Transforming Complex Labels">
        <p>A common use case scenario of the Transform Tool is to transform a label that points to a single data file containing a single image or table. A more advanced use case scenario is handling a label that points to multiple data files where each data file contains multiple images or tables. This section details how to tell the Transform Tool to transform a specific image or table if given a more complex label.
        </p>
        
        <p>Note: The flag options that allow control of which images to transform, <i>-n, -d, -a</i>, are not supported with PDS3 labels pointing to multiple, non-FITS, image transformations.
        </p>
        
        <p><b><i>Transform a Specific Table</i></b></p>
        
        <p>Use the <i>-O,--list-objects</i> flag option to first list the table objects being supported by the tool:
        </p>
        
        <source>
% transform ../examples/Product_Table_Multiple_Tables.xml -O
        </source>
        
        <p>This will display the supported table objects:
        </p>
        
        <source>
Supported Images: 

  None Found

Supported Tables: 

  Data file: PDS4_ATM_TABLE_CHAR_MULTIPLE.TAB

    index = 1
    object type = Table_Character
    name = null
    local identifier = TABLE_CHAR_1
    records = 23
    record length = 88
    groups = 0
    fields = 10

    index = 2
    object type = Table_Character
    name = null
    local identifier = TABLE_CHAR_2
    records = 23
    record length = 88
    groups = 0
    fields = 10

        </source>
        
        <p>To perform a table to CSV transformation of the 2nd table, run the following command:
        </p>
        
        <source>
% transform ../examples/Product_Table_Multiple_Tables.xml -f csv -n 2
        </source>
        
        <p><b><i>Transform a Specific Data File</i></b></p>
        
        <p>Use the <i>-O,--list-objects</i> flag option to first list the table objects being supported by the tool:
        </p>
        
        <source>
% transform ../examples/Product_Table_Multiple_Datafiles.xml -O
        </source>
        
        <p>This will display the supported table objects:
        </p>
        
        <source>
Supported Images: 

  None Found

Supported Tables: 

  Data file: PDS4_ATM_TABLE_CHAR.TAB

    index = 1
    object type = Table_Character
    name = null
    local identifier = PHX-M-TT-5-WIND-VEL-DIR_TABLE_CHAR
    records = 23
    record length = 88
    groups = 0
    fields = 10

  Data file: PDS4_TABLE_DELIMITED.csv

    index = 1
    object type = Table_Delimited
    name = null
    local identifier = null
    records = 3
    groups = 0
    fields = 13

  Data file: 2d234493326edratf3d2537n0m1.dat

    index = 1
    object type = Table_Binary
    name = null
    local identifier = null
    records = 336
    record length = 96
    groups = 1
    fields = 20
    
        </source>
        
        <p>The following command demonstrates transforming the table associated with the data file <i>PDS4_TABLE_DELIMTED.csv</i>:
        </p>
        
        <source>
% transform ../examples/Product_Table_Multiple_Datafiles.xml -f csv -d PDS4_TABLE_DELIMITED.csv
        </source>
        
        <p><b><i>Transform Everything</i></b></p>
        
        <p>Display the list of FITS images supported by the tool using the <i>-O, --list-objects</i> flag option:
        </p>
        
        <source>
% transform ../examples/20140804T205944Z_MAP_bias_V001.xml -O
        </source>
        
        <p>This will display the following:
        </p>
        
        <source>
Supported Images: 

  Data file: 20140804T205944Z_MAP_bias_V001.fits

    index = 1
    object type = Array_2D_Image
    name = Primary Data Unit
    local identifier = PDU
    data type = IEEE754LSBSingle
    lines = 1024
    samples = 1024

    index = 2
    object type = Array_2D_Image
    name = Secondary Data Unit (Full Detector Array
    local identifier = SDU
    data type = IEEE754LSBSingle
    lines = 1044
    samples = 1112

Supported Tables: 

  None Found

        </source>
        
        <p>The following command demonstrates transforming all FITS images found in the label:
        </p>
        
        <source>
% transform ../examples/20140804T205944Z_MAP_bias_V001.xml -f jpg -a
        </source>
        
        <p>The label points to a single data file that contains multiple images. So the tool ends up creating the following output files:
        </p>
        
        <ul>
          <li>20140804T205944Z_MAP_bias_V001_1.jpg</li>
          <li>20140804T205944Z_MAP_bias_V001_2.jpg</li>
        </ul>
        
        <p>Note that the tool appends an index value to the end of each output file name whenever the tool has to transform multiple images or tables contained within a single data file.
        </p>
      </subsection>
      
      <subsection name="Improving Tool Performance">
        <p>The Transform Tool uses the Java Advanced Imaging (JAI) library to perform image transformations. By default, the tool turns off JAI's acceleration layer since that requires installing platform-dependent libraries. The purpose of the acceleration layer is to improve image processing performance. This section details how to install the platform dependent libraries locally to enable the acceleration layer if needed. 
        </p>
        
        <p><b><i>Mac OS X Environment</i></b></p>
        
        <p>For Mac OS X platforms, they automatically ship with these dependency libraries. They should be found at the following location: <i>/System/Library/Java/Extensions</i> and should contain the following files:
        </p>
        
        <ul>
          <li>libmlib_jai.jnilib</li>
          <li>mlibwrapper_jai.jar</li>
        </ul>        
        
        <p>So, to enable JAI's native acceleration feature, open the <i>bin/transform</i> shell script file and remove the <i>-Dcom.sun.media.jai.disableMediaLib=true</i> setting from the command-line call in the script. The resulting command-line call should look like the following:
        </p>        
        
        <source>
"${JAVA_HOME}"/bin/java -Xms256m -Xmx1024m -Doverwrite.output=true -Dexternal.programs.home=${PARENT_DIR}/external-programs -jar ${TRANSFORM_JAR} "$@"    
        </source>
        
        <p>To check that the native acceleration feature is working, run an image transformation:
        </p>
        
        <source>
% transform ../examples/i943630r.xml -f jpg          
        </source>
        
        <p>Verify that an "Error: Could not find mediaLib accelerator wrapper classes. Continuing in pure Java mode." message does not appear during the transformation.
        </p>        
        
        <p><b><i>UNIX-Based Environment</i></b></p>
        
        <p>For Unix and Linux installations, download the appropriate installer located in the <i>Java Advanced Imaging Image I/O Tools 1.0_01</i> section from <a href="http://www.oracle.com/technetwork/java/javasebusiness/downloads/java-archive-downloads-java-client-419417.html#jaiio-1.0_01-oth-JPR">here</a>. Once the installer has finished downloading, double-click the file and follow the installation instructions.
        </p>

        <p>Once this installation step is complete, open the <i>bin/transform</i> shell script file and remove the <i>-Dcom.sun.media.jai.disableMediaLib=true</i> setting from the command-line call in the script. The resulting command-line call should look like the following:
        </p>
        
        <source>
"${JAVA_HOME}"/bin/java -Xms256m -Xmx1024m -Doverwrite.output=true -Dexternal.programs.home=${PARENT_DIR}/external-programs -jar ${TRANSFORM_JAR} "$@"    
        </source>
        
        <p>To check that the native acceleration feature is working, run an image transformation:
        </p>
        
        <source>
% transform ../examples/i943630r.xml -f jpg          
        </source>
        
        <p>Verify that an "Error: Could not find mediaLib accelerator wrapper classes. Continuing in pure Java mode." message does not appear during the transformation.
        </p>

        
        <p><b><i>Windows Environment</i></b></p>
        
        <p>Download the appropriate Windows installer located in the <i>Java Advanced Imaging Image I/O Tools 1.0_01</i> section from <a href="http://www.oracle.com/technetwork/java/javasebusiness/downloads/java-archive-downloads-java-client-419417.html#jaiio-1.0_01-oth-JPR">here</a>. Once the installer has finished downloading, double-click the file and follow the installation instructions.
        </p>
        
        <p>Once this installation step is complete, open the <i>bin/transform.bat</i> batch file and remove the <i>-Dcom.sun.media.jai.disableMediaLib=true</i> setting from the command-line call in the script. The resulting command-line call should look like the following:
        </p>

        <source>
"%JAVA_HOME%"\bin\java -Xms256m -Xmx1024m -Doverwrite.output=true -Dexternal.programs.home=%PARENT_DIR%\external-programs -jar "%TRANSFORM_JAR%" %*       
        </source>
        
        <p>To check that the native acceleration feature is working, run an image transformation:
        </p>
        
        <source>
% transform ../examples/i943630r.xml -f jpg          
        </source>
        
        <p>Verify that an "Error: Could not find mediaLib accelerator wrapper classes. Continuing in pure Java mode." message does not appear during the transformation.
        </p>
        
        
      </subsection>
      
    </section>

    <section name="PDS3 to PDS4 Label Transformation">
      <p>The intent of the PDS3 to PDS4 label transformation is to transform a PDS3 data product label into a PDS4 Product Observational product label with the minimum set of elements in order to be compliant with the PDS4 standards. Therefore, not all PDS3 keywords will map to the resulting label. This section details how the Transform tool populates some of the required elements of a PDS4 label. Please see the <a href="#Known_Issues">Known Issues</a> section for details on the limitations with PDS3 to PDS4 label transformations.
      </p>

      <subsection name="Populating PDS4 Elements">
        <p>This section describes how the tool leverages the PDS3 label in order to populate some of the PDS4 elements. Below is a list of PDS4 elements and a description of how the tool goes about populating that element.
        </p>

        <p><b><i>logical_identifier</i></b></p>

        <p>The tool will populate the <i>logical_identifier</i> element in the following mannner:
        </p>

        <source>
urn:nasa:pds:data:${DATA_SET_ID}:${PRODUCT_ID}
        </source>

        <p>If <i>PRODUCT_ID</i> does not exist in the PDS3 label, then the tool will default to using the label filename instead:
        </p>

        <source>
urn:nasa:pds:data:${DATA_SET_ID}:${labelFilename}
        </source>

        <p><b><i>title</i></b></p>

        <p>The tool will populate the <i>title</i> element in the PDS4 label based on the existence of one or more of the following keywords:
        </p>

        <ul>
          <li>OBSERVATION_NAME or</li>
          <li>OBSERVATION_ID or</li>
          <li>PRODUCT_NAME or</li>
          <li>DATA_SET_ID + PRODUCT_ID or</li>
          <li>DATA_SET_ID</li>
        </ul>

        <p>So if <i>OBSERVATION_NAME</i> exists in the PDS3 label, it will use that to populate the <i>title</i> element. If it does not exist, it will use <i>OBSERVATION_ID</i>. If that does not exist, then it will use <i>PRODUCT_NAME</i>, and so forth.
        </p>

        <p><b><i>Investigation_Area</i></b></p>

        <p>For the <i>Investigation_Area</i>, the tool will use <i>MISSION_NAME</i> to populate this element in the following manner:
        </p>

        <source>
&lt;name&gt;${MISSION_NAME}&lt;/name&gt;
&lt;type&gt;Mission&lt;/type&gt;
&lt;Internal_Reference&gt;
  &lt;lid_reference&gt;urn:nasa:pds:investigation.${MISSION_NAME}&lt;/lid_reference&gt;
  &lt;reference_type&gt;data_to_investigation&lt;/reference_type&gt;
&lt;/Internal_Reference&gt;
        </source>

        <p>If <i>MISSION_NAME</i> does not exist, then the tool will use <i>MISSION_PHASE_NAME</i> instead.
        </p>

        <p><b><i>Observing_System</i></b></p>

        <p>For the <i>Observing_System</i>, the tool will populate this element with <i>INSTRUMENT_HOST_NAME</i>, <i>INSTRUMENT_NAME</i>, and <i>INSTRUMENT_ID</i> in the following manner:
        </p>

        <source>
&lt;Observing_System_Component&gt;
  &lt;name&gt;${INSTRUMENT_HOST_NAME}&lt;/name&gt;
  &lt;type&gt;Spacecraft&lt;/type&gt;
&lt;/Observing_System_Component&gt;

&lt;Observing_System_Component&gt;
  &lt;name&gt;${INSTRUMENT_NAME}&lt;/name&gt;
  &lt;type&gt;Instrument&lt;/type&gt;
&lt;/Observing_System_Component&gt;

&lt;Observing_System_Component&gt;
  &lt;name&gt;${INSTRUMENT_ID}&lt;/name&gt;
  &lt;type&gt;Instrument&lt;/type&gt;
&lt;/Observing_System_Component&gt;
        </source>

      </subsection>
    </section>

    <section name="Known Issues">
      <p>This section describes some of the known issues and limitations with the Transform Tool.
      </p>
     
      <p><b><i>FITS Transformations</i></b></p>
      
      <p>When performing FITS transformations, the Transform Tool may output the following warning message:
      </p>
      
      <source>
Warning: multiple occurrences of key:      
      </source>
      
      <p>This message is coming out of the FITS dependency library. It does not appear to be of concern at this time as several FITS images were used in testing and a successful transformation has occurred each time in cases where this warning message has appeared.
      </p>
     
      <p><b><i>PDS3 Image Transformations</i></b></p>

      <ul>
        <li>MOC images are not supported.</li>
        <li>The flag options that allow control of which images to transform, <i>-n, -d, -a</i>, are only supported with FITS image transformations. If the tool is given a PDS3 product label pointing to multiple, non-FITS images, the current implementation is limited to the transformation of the first image only.</li>
      </ul>

      <p><b><i>PDS4 Image Transformations</i></b></p>

      <p>The tool currently supports images that have the following data types:
      </p>
      
      <ul>
        <li>SignedByte/UnsignedByte</li>
        <li>SignedLSB2/UnsignedLSB2</li>
        <li>SignedMSB2/UnsignedMSB2</li>
        <li>UnsignedMSB4</li>
        <li>UnsignedMSB8</li>
        <li>IEEE754MSBSingle</li>
        <li>IEEE754MSBDouble</li>
      </ul>

      <p>If a data type is not supported, the tool will throw the following error:
      </p>
      
      <source>
Array data type is not valid, null, or unsupported
      </source>

      <p>Due to lack of PDS4 image test data, it is unknown at this time what other data types are supported by the tool.
      </p>
      
      <p><b><i>Array_3D_Specturm Transformations</i></b></p>
      
      <p>For transformations of Array_3D_Specturm products, the tool currently displays the image using band 1. At this time, the tool does not provide the capability to display the image using another band.
      </p>

      <p><b><i>PDS3 to PDS4 Label Transformations</i></b></p>

      <p>At this time, the Transform tool will support PDS3 to PDS4 label transformations of the following object types:
      </p>

      <ul>
        <li>TABLE</li>
        <li>SERIES</li>
        <li>COLUMN</li>
        <li>BIT_COLUMN</li>
        <li>CONTAINER</li>
        <li>IMAGE</li>
        <li>SPREADSHEET</li>
      </ul>

      <p>QUBE objects are not supported by the tool at this time.
      </p>

    </section>
  </body>
</document>
