<?xml version="1.0" encoding="UTF-8"?>
<Product_Observational xmlns="http://pds.nasa.gov/schema/pds4/pds/v06"
    xmlns:pds="http://pds.nasa.gov/schema/pds4/pds/v06"
    xmlns:dph="http://pds.nasa.gov/schema/pds4/dph/v01"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://pds.nasa.gov/schema/pds4/dph/v01 http://pds.jpl.nasa.gov/repository/pds4/examples/dph_examples_6h/dph_example_archive_VG2PLS/schemas/Product_TableChar_tailored_0600h.xsd"
    xsi:type="dph:Product_Table_Character">
    
    <Identification_Area>
        <logical_identifier>urn:nasa:pds:example.DPH.sampleArchive:data:TableChar.$label.DATA_SET_ID</logical_identifier>
        <version_id>1.0</version_id>
        <title>Voyager Electron density and moment temperature Plasma Experiment</title>
        <information_model_version>0.6.0.0.h</information_model_version>
        <product_class>Product_Observational</product_class>
        <Modification_History>
            <Modification_Detail>
                <modification_date>2012-01-10</modification_date>
                <version_id>1.0</version_id>
                <description>
                    conversion of PDS3 PPI archive to comply with PDS4 Information Model
                </description>
            </Modification_Detail>
        </Modification_History>
    </Identification_Area>
    
    <Observation_Area>
        <comment>Observational Intent</comment>
        <Time_Coordinates>
            <start_date_time>$label.START_TIME</start_date_time>
            <stop_date_time>$label.STOP_TIME</stop_date_time>
            <local_mean_solar_time>not applicable</local_mean_solar_time>
            <local_true_solar_time>not applicable</local_true_solar_time>
        </Time_Coordinates>
        <Investigation_Area>
            <name>VOYAGER</name>
            <type>Mission</type>
            <Internal_Reference>
                <lidvid_reference>urn:nasa:pds:investigation.VOYAGER::1.0</lidvid_reference>
                <reference_type>has_investigation</reference_type>
            </Internal_Reference>
        </Investigation_Area>
        <Observing_System>
            <name>Observing System for VG+PLS</name>
            <Observing_System_Component>
                <name>VG2</name>
                <observing_system_component_type>Spacecraft</observing_system_component_type>
                <description>instrument_host VG2</description>
                <Internal_Reference>
                    <lid_reference>urn:nasa:pds:instrument_host.PHX</lid_reference>
                    <reference_type>has_instrument_host</reference_type>
                </Internal_Reference>
            </Observing_System_Component>
            <Observing_System_Component>
                <name>PLS</name>
                <observing_system_component_type>Instrument</observing_system_component_type>
                <description>instrument PLS</description>
                <Internal_Reference>
                    <lid_reference>urn:nasa:pds:instrument.PLS__VG2</lid_reference>
                    <reference_type>has_instrument</reference_type>
                </Internal_Reference>
            </Observing_System_Component>
        </Observing_System>       
        <Target_Identification>
            <name>$label.TARGET_NAME</name>
            <type>planet</type>
            <description>description of JUPITER goes here</description>
            <Internal_Reference>
                <lidvid_reference>urn:nasa:pds:target.JUPITER::1.0</lidvid_reference>
                <reference_type>has_target</reference_type>
            </Internal_Reference>
        </Target_Identification>
        
        <!-- ============================================================ -->
        <!-- Reference the attributes that were imported from the         -->
        <!-- local dictionary (using the local namespace (dph)            -->
        <!-- ============================================================ -->                   
        <Mission_Area>
            <dph:spacecraft_clock_start_count>$label.SPACECRAFT_CLOCK_START_COUNT</dph:spacecraft_clock_start_count>
            <dph:spacecraft_clock_stop_count>$label.SPACECRAFT_CLOCK_STOP_COUNT</dph:spacecraft_clock_stop_count>
        </Mission_Area>
        <Node_Area>
        </Node_Area>
    </Observation_Area>
    
     <File_Area_Observational>
        <File>
            <file_name>$label.PRODUCT_ID</file_name>
            <local_identifier>$label.PRODUCT_ID</local_identifier>
            <creation_date_time>1999-02-26T10:55</creation_date_time>
            <file_size>104788</file_size>
            <records>$label.FILE_RECORDS</records>
            <maximum_record_bytes>46</maximum_record_bytes>
            <md5_checksum>2b555c42a7e7b4981407c9a824237f4a</md5_checksum>
        </File>
        <Table_Character>
            <local_identifier>VG2-J-PLS-5-SUMM-ELE-MOM_TABLE_CHAR</local_identifier>
            <offset>0</offset>
            <records>$label.TABLE.ROWS</records>
              <encoding_type>CHARACTER</encoding_type>
            <Record_Character>
                <record_length>46</record_length>
                <fields>$label.TABLE.COLUMNS</fields>
				#set($columnList = $label.TABLE.COLUMN)
				#foreach($column in $columnList)
                <Field_Character>
                    <name>$column.NAME</name>
                    <field_number>$column.COLUMN_NUMBER</field_number>
                    <field_location>$column.START_BYTE</field_location>
                    <data_type>$column.DATA_TYPE</data_type>
                    <field_length>$column.BYTES</field_length>
                    <description>$column.DESCRIPTION</description>
                    #if ( $column.MISSING_CONSTANT )
                    <Special_Constants>
                       <missing_constant>$column.MISSING_CONSTANT</missing_constant>
                    </Special_Constants>
                    #end
                </Field_Character>
				#end
            </Record_Character>
        </Table_Character>
    </File_Area_Observational>
</Product_Observational>