<?xml version="1.0" encoding="UTF-8"?>

<!--
  Copyright 2016-2017, by the California Institute of Technology.
  ALL RIGHTS RESERVED. United States Government Sponsorship acknowledged.
  Any commercial use must be negotiated with the Office of Technology Transfer
  at the California Institute of Technology.

  This software is subject to U. S. export control laws and regulations
  (22 C.F.R. 120-130 and 15 C.F.R. 730-774). To the extent that the software
  is subject to U.S. export control laws and regulations, the recipient has
  the responsibility to obtain export licenses or other export authority as
  may be required before exporting such information to foreign countries or
  providing access to foreign nationals.

  $Id$
-->

<document>
  <properties>
    <title>Operation</title>
    <author email="Sean.Hardman@jpl.nasa.gov">Sean Hardman</author>
  </properties>

  <body>
    <section name="Operation">
      <p>This document describes how to operate the Registry Tools software. The following topics can be found in this document:
      </p>

      <ul>
        <li><a href="#Tool Execution">Tool Execution</a></li>
      </ul>

      <p>Note: The command-line examples in this section may have been broken into multiple lines for readability. The commands should be reassembled into a single line prior to execution.
      </p>
    </section>

    <section name="Tool Execution">
      <p>This software package consists of a set of Python scripts for interacting with a Registry Service instance. This software does have a dependency on the <i>pds.registry</i> package which must be deployed to the local Python environment prior to operation of this software.
      </p>

      <subsection name="extrinsic-slot-replace.py">
        <p>This script replaces a slot value where the source-string is replaced by the replace-string for a list of extrinsics filtered optionally by Object Type and LID wildcard.
        </p>

        <source>
% python extrinsic-slot-replace.py &lt;registry-url&gt; &lt;slot-name&gt; &lt;source-string&gt; &lt;replace-string&gt; [&lt;object-type&gt; [&lt;lid-prefix&gt;]]
        </source>

        <p>The following table describes the command-line options available:
        </p>

        <table>
          <tr><th>Command-Line Option</th><th>Description</th></tr>
          <tr><td>registry-url</td><td>The URL of the Registry Service instance (e.g., http://localhost:8080/registry). This option is required.</td></tr>
          <tr><td>slot-name</td><td>The name of the slot to have its value replaced.</td></tr>
          <tr><td>source-string</td><td>The string in the named slot value to be replaced.</td></tr>
          <tr><td>replace-string</td><td>The replacement string.</td></tr>
          <tr><td>object-type</td><td>The object type of the extrinsics to be queried (e.g., Product_Collection, Product_Observational, etc.). This option is optional.</td></tr>
          <tr><td>lid-prefix</td><td>A portion of the logical identifier (e.g., urn:nasa:pds:example) to further filter the results. This option is optional.</td></tr>
        </table>
      </subsection>

      <subsection name="list-extrinsics.py">
        <p>This script queries a registry service instance for a list of extrinsics filtered optionally by Object Type and LID wildcard. The extrinsics are listed in CSV format to standard out with fields: lid, version_id, name and status.
        </p>

        <source>
% python list-extrinsics.py &lt;registry-url&gt; [&lt;object-type&gt; [&lt;lid-prefix&gt;]]
        </source>

        <p>The following table describes the command-line options available:
        </p>

        <table>
          <tr><th>Command-Line Option</th><th>Description</th></tr>
          <tr><td>registry-url</td><td>The URL of the Registry Service instance (e.g., http://localhost:8080/registry). This option is required.</td></tr>
          <tr><td>object-type</td><td>The object type of the extrinsics to be queried (e.g., Product_Collection, Product_Observational, etc.). This option is optional.</td></tr>
          <tr><td>lid-prefix</td><td>A portion of the logical identifier (e.g., urn:nasa:pds:example) to further filter the results. This option is optional.</td></tr>
        </table>
      </subsection>

      <subsection name="report-extrinsics.py">
        <p>This script queries a registry service instance and generates a report of the extrinsics registered with that instance. 
        </p>

        <source>
% python report-extrinsics.py &lt;registry-url&gt;
        </source>

        <p>The following table describes the command-line options available:
        </p>

        <table>
          <tr><th>Command-Line Option</th><th>Description</th></tr>
          <tr><td>registry-url</td><td>The URL of the Registry Service instance (e.g., http://localhost:8080/registry). This option is required.</td></tr>
        </table>

      </subsection>

      <subsection name="test-extrinsics.py">
        <p>This script tests the various aspects of creating, putting, retrieving and deleting extrinsics. 
        </p>

        <source>
% python test-extrinsics.py &lt;registry-url&gt;
        </source>

        <p>The following table describes the command-line options available:
        </p>

        <table>
          <tr><th>Command-Line Option</th><th>Description</th></tr>
          <tr><td>registry-url</td><td>The URL of the Registry Service instance (e.g., http://localhost:8080/registry). This option is required.</td></tr>
        </table>

      </subsection>
    </section>
  </body>
</document>
