<?xml version="1.0" encoding="UTF-8"?>

<!--
  Copyright 2011-2013, by the California Institute of Technology.
  ALL RIGHTS RESERVED. United States Government Sponsorship acknowledged.
  Any commercial use must be negotiated with the Office of Technology Transfer
  at the California Institute of Technology.

  This software is subject to U. S. export control laws and regulations
  (22 C.F.R. 120-130 and 15 C.F.R. 730-774). To the extent that the software
  is subject to U.S. export control laws and regulations, the recipient has
  the responsibility to obtain export licenses or other export authority as
  may be required before exporting such information to foreign countries or
  providing access to foreign nationals.

  $Id$
-->

<document>
  <properties>
    <title>Operation</title>
    <author email="Paul.Ramirez@jpl.nasa.gov">Paul Ramirez</author>
    <author email="Jordan.Padams@jpl.nasa.gov">Jordan Padams</author>
    <author email="Sean.Hardman@jpl.nasa.gov">Sean Hardman</author>
  </properties>

  <body>
    <section name="Operation">
      <p>The Search Service tool operates as a standalone web application on a Tomcat server.  Once it is deployed, operations include modifying the configuration and leveraging the PDS and PDAP protocols to query data and metadata that has been extracted from the Registry (see the <a href="../../search-core">Search Core</a> for more information).  The following topics will be covered below:
      </p>
      <ul>
        <li><a href="#Admin_Interface">Admin Interface</a></li>
        <li><a href="#Configuration">Configuration</a></li>
        <ul>
          <li><a href="#Add_A_Facet">Add A Facet</a></li>
          <li><a href="#Update_Output_Format">Update Output Format</a></li>
          <li><a href="#Add_Field_To_Schema">Add Field To Schema</a></li>
        </ul>
        <li><a href="#Search_Protocols">Search Protocols</a></li>
        <li><a href="#Common_Errors">Common Errors</a></li>
      </ul>
    </section>

    <section name="Admin Interface">
      <p>The Admin Interface screen can be viewed from http://localhost:8080/search-service (or <a href="http://pdsops.jpl.nasa.gov/search-service">http://pdsops.jpl.nasa.gov//search-service</a>).  For the PDS core, go to http://localhost:8080/search-service/#/pds.  Go to <a href="http://searchhub.org/2013/01/22/lucenesolr-4-management-administrative-user-interface/">http://searchhub.org/2013/01/22/lucenesolr-4-management-administrative-user-interface/</a> and/or <a href="https://cwiki.apache.org/confluence/display/solr/Using+the+Solr+Administration+User+Interface">https://cwiki.apache.org/confluence/display/solr/Using+the+Solr+Administration+User+Interface</a> for more information on the various capabilities of the interface.</p>
      <p>From the query page, you can perform various queries against the available <a href="../../images/search-service-endpoints.png">end points</a>.  You can find out about what the query parameters mean at <a href="http://wiki.apache.org/solr/CommonQueryParameters">http://wiki.apache.org/solr/CommonQueryParameters</a>.  The most useful of these being the <i>wt</i> parameter.  When this is set <i>wt=xslt</i> you can view the output as it is queried from the Search UI and Product Search UI.</p>
    </section>

    <section name="Configuration">
      <p>See the <a href="http://lucene.apache.org/solr/">Apache Solr website</a> and <a href="http://wiki.apache.org/solr/">wiki</a> for more information on configuring Apache Solr.  More Search Service configuration changes TBD.
      </p>

      <subsection name="Add A Facet">
        <p>The following steps will allow a new facet to be added to the search service output.  The facets are the categories in the left sidebar of the Search UI that provide a means for browsing through the data.  The name for the facet should not yet be a field in the schema, because a new field specifically dedicated to the faceting will be created.  For instance, if you wanted to facet on <i>agency_name</i>, we will create a facet named <i>facet_agency</i>.  These steps assume that the Search Service was installed at /usr/local/search-service.  If not, substitute the installation directory as needed.  For the following example, we will be creating a facet on the <i>node_id</i> field.</p>
        <ol>
          <li><p>Add the following to /usr/local/search-service/pds/conf/xslt/facets.xml:</p>
            <source>
&lt;facet name="facet node" caption="Node" /&gt;

&lt;facet name="node id" caption="Node" /&gt;
            </source>
          </li>
          <li><p>Update /usr/local/search-service/pds/conf/xslt/add-hierarchy.xsl:</p>
            <source>
&lt;xsl:template match="field[@name = 'node_id']"&gt;
  &lt;xsl:copy-of select="." &gt;
  &lt;field name="facet_node_id"&gt;&lt;xsl:value-of select="concat('1,',.)" /&gt;&lt;/field&gt;
&lt;/xsl:template&gt;
            </source>
          </li>
          <li><p>Update /usr/local/search-service/pds/conf/solrconfig_defaults.xml:</p>
            <source>
&lt;str name="facet.field"&gt;facet_node_id&lt;/str&gt;

&lt;str name="f.facet_node_id.facet.prefix"&gt;1,&lt;/str&gt;
            </source>
          </li>
          <li><p>Update /usr/local/search-service/pds/conf/schema.xml by finding the area where facet fields are being declared (search for facet_) and adding the following:</p>
            <source>
&lt;field name="facet_node" type="string_lc" indexed="true" stored="false" \
  multiValued="false" /&gt;
            </source>
          </li>
          <li>Restart Tomcat</li>
        </ol>
      </subsection>

      <subsection name="Update Output Format">
        <ul>
          <li>To update the output queried through the Search UI (<i>archive-filter</i> endpoint), make updates to <i>/usr/local/search-service/pds/conf/xslt/data-search.xsl</i>.</li>
          <li>To update the output queried through the Product Search UI (<i>product-search</i> endpoint), make updates to <i>/usr/local/search-service/pds/conf/xslt/product-search.xsl</i>.</li>
        </ul>
      </subsection>

      <subsection name="Add Field To Schema">
        <p>Update /usr/local/search-service/pds/conf/schema.xml.  This example will add the field <i>my_field</i>:</p>
        <source>
&lt;field name="my_field" type="text_general" indexed="true" stored="false" \
multiValued="false" /&gt;
        </source>
        <p>See the <a href="http://wiki.apache.org/solr/SchemaXml">Solr Documentation</a> for more information on update the Solr schema.</p>
      </subsection>
    </section>

    <section name="Search Protocols">
      <subsection name="PDS Search Protocol">
        <p>See the <a href="../../docs/pds2010_pds_search_protocol.pdf">PDS Search Protocol Document</a> for more information on querying the Search Service for PDS data and metadata.
        </p>
      </subsection>

      <subsection name="PDAP Protocol">
        <p>TBD
        </p>
      </subsection>
    </section>

    <section name="Common Errors">
      <subsection name="org.xml.sax.SAXParseException: A pseudo attribute name is expected.">
        <p>This error usually means there is a typo in the Search Service Tomcat context file.  More specifically, make sure the first line in <i>$TOMCAT_HOME/conf/Catalina/localhost/${project.artifactId}.xml</i> matches this exactly:
        </p>
        <source>
&lt;?xml version="1.0" encoding="utf-8" ?&gt;
        </source>
        <p>See <a href="../install/index.html#Deploying_the_Application">Deploying the Application</a> in the Install Guide for more information on creating this file.
        </p>
      </subsection>

      <subsection name="Provider net.sf.saxon.TransformerFactoryImpl not found">
        <p>This error occurs when the saxon-9.jar is not in the classpath.  The following are mitigation strategies:</p>
        <ul>
          <li>Verify the following line is in <i>$TOMCAT_HOME/conf/Catalina/localhost/${project.artifactId}.xml</i>:
            <source>
&lt;Loader className="org.apache.catalina.loader.VirtualWebappLoader" 
    virtualClasspath="/usr/local/${project.artifactId}/lib/saxon-9.jar"/&gt;
            </source>
            <p>See <a href="../install/index.html#Deploying_the_Application">Deploying the Application</a> in the Install Guide for more information on creating this file.
            </p>
          </li>
          <li>Verify the path specified for virtualClasspath actually exists.</li>
        </ul>
      </subsection>

      <subsection name="XSLT transformation error java.io.IOException: XSLT transformation error">
        <p>This error occurs when the CATALINA_OPTS environment variable is not properly set, or set multiple times in /usr/local/tomcat/catalina.sh (or /etc/init.d):</p>
        <source>
export CATALINA_OPTS="${CATALINA_OPTS} -Dsolr.pds.home=/usr/local/${project.artifactId}"
        </source>
      </subsection>

      <subsection name="All Searches Return 0 Results">
        <p>This error occurs when the Search Service is not populated with data.  See the <a href="../../search-core">Search Core</a> for information on populating the Search Service.</p>
      </subsection>
    </section>
  </body>
</document>
