<?xml version="1.0" encoding="UTF-8"?>

<!--
  Copyright 2016 by the California Institute of Technology.
  ALL RIGHTS RESERVED. United States Government Sponsorship acknowledged.
  Any commercial use must be negotiated with the Office of Technology Transfer
  at the California Institute of Technology.

  This software is subject to U. S. export control laws and regulations
  (22 C.F.R. 120-130 and 15 C.F.R. 730-774). To the extent that the software
  is subject to U.S. export control laws and regulations, the recipient has
  the responsibility to obtain export licenses or other export authority as
  may be required before exporting such information to foreign countries or
  providing access to foreign nationals.

  $Id$
-->

<document>
  <properties>
    <title>Installation</title>
    <author email="Sean.Hardman@jpl.nasa.gov">Sean Hardman</author>
  </properties>

  <body>
    <section name="Installation">
      <p>This document describes how to install the Migrate Tools contained in the <i>${project.artifactId}</i> package. The following topics can be found in this document:
      </p>

      <ul>
        <li><a href="#System_Requirements">System Requirements</a></li>
        <li><a href="#Unpacking_the_Package">Unpacking the Package</a></li>
        <li><a href="#Configuring_the_Environment">Configuring the Environment</a></li>
      </ul>
    </section>

    <section name="System Requirements">
      <p>The Migrate Tools software was developed using Python and will run on any platform with a supported Python environment. It is compatible with Python 2.6 or 2.7. It is not compatible with Python 2.5 or earlier versions, nor with Python 3 or later versions. The following commands test the local Python installation in a UNIX-based environment:
      </p>

      <source>
% which python
/usr/bin/python

% python --version
Python 2.7.2
      </source>

      <p>The first command above checks whether the <i>python</i> executable is in the environment's path and the second command reports the version. If Python is not installed or the version is not 2.6 or 2.7, Python will need to be downloaded and installed in the current environment. Consult the local system administrator for installation of this software.
      </p>
    </section>

    <section name="Unpacking the Package">
      <p>Download the <i>${project.artifactId}</i> package from the PDS <a href="ftp://pds.nasa.gov/pub/toplevel/2010/migrate/" target="_blank">FTP</a> site. The distribution is available in identical zip or tar/gzip packages. The installation directory may vary from environment to environment but in UNIX-based environments it is typical to install software packages in the <i>/usr/local</i> directory and in Windows-based environments it is typical to install software packages in the <i>C:\Program Files</i> directory. Unpack the selected distribution file in the installation directory for the local environment with one of the following commands:
      </p>

      <source>
% unzip ${project.artifactId}-${project.version}-bin.zip
or
% tar -xzvf ${project.artifactId}-${project.version}-bin.tar.gz
      </source>

      <p>Note: Depending on the platform, the native version of <i>tar</i> may produce an error when attempting to unpack the distribution file because many of the file paths are greater than 100 characters. If available, the GNU version of tar will resolve this problem. If that is not available or cannot be installed, the zipped package will work just fine in a UNIX environment.
      </p>

      <p>The commands above result in the creation of the <i>${project.artifactId}-${project.version}</i> directory with the following directory structure:
      </p>

      <ul>
        <li><b>README.txt</b><br/>
          <p>A README file directing the user to the available documentation for the project.
          </p>
        </li>
        <li><b>LICENSE.txt</b><br/>
          <p>The copyright notice from the <a href="http://www.caltech.edu/" target="_blank">California Institute of Technology</a> detailing the restrictions regarding the use and distribution of this software. Although the license is strictly worded, the software has been classified as Technology and Software Publicly Available (TSPA) and is available for <i>anyone</i> to download and use.
          </p>
        </li>
        <li><b>bin/</b><br/>
          <p>This directory contains the Python scripts for launching and interacting with the software for UNIX-based and Windows environments.
          </p>
        </li>
        <li><b>doc/</b><br/>
          <p>This directory contains a local web site with the Migrate Tools documentation and other configuration management related information. Just point the desired web browser to the <i>index.html</i> file in this directory.
          </p>
        </li>
        <li><b>resources/</b><br/>
          <p>This directory contains associated support files for the Python scripts in the <i>bin</i> directory.
          </p>
        </li>
      </ul>
    </section>

    <section name="Configuring the Environment">
      <p>In order to manage and interact with the Migrate Tools, the local environment must first be configured appropriately. This section describes how to setup the user environment on UNIX-based and Windows machines.
      </p>

      <subsection name="UNIX-Based Environment">
        <p>This section details the environment setup for UNIX-based machines. The distribution includes Python scripts that must be executed from the command-line. Setting the <i>PATH</i> environment variable to the location of the scripts, enables the scripts to be executed from any location on the local machine.
        </p>

        <p>The following command demonstrates how to set the <i>PATH</i> environment variable (in Bourne shell), by appending to its current setting:
        </p>

        <source>
% export PATH=${PATH}:/usr/local/${project.artifactId}-${project.version}/bin
        </source>
      </subsection>
      
      <subsection name="Windows Environment">
        <p>This section details the environment setup for Windows machines. The distribution includes Python scripts that must be executed from the command-line. Setting the <i>PATH</i> environment variable to the location of the files, enables the scripts to be executed from any location on the local machine.
        </p>

        <p>The following command demonstrates how to set the <i>PATH</i> environment variable, by appending to its current setting:
        </p>

        <source>
C:\&gt; set PATH = %PATH%;C:\Program Files\\${project.artifactId}-${project.version}\bin
        </source>

        <p>Additional methods for setting Windows environment variables can be found in the <a href="index-win.html">Windows System Properties</a> document.
        </p>
      </subsection>
    </section>
  </body>
</document>
