<?xml version="1.0" encoding="UTF-8"?>

<!--
  Copyright 2010-2015, by the California Institute of Technology.
  ALL RIGHTS RESERVED. United States Government Sponsorship acknowledged.
  Any commercial use must be negotiated with the Office of Technology Transfer
  at the California Institute of Technology.

  This software is subject to U. S. export control laws and regulations
  (22 C.F.R. 120-130 and 15 C.F.R. 730-774). To the extent that the software
  is subject to U.S. export control laws and regulations, the recipient has
  the responsibility to obtain export licenses or other export authority as
  may be required before exporting such information to foreign countries or
  providing access to foreign nationals.

  $Id$
-->

<document>
  <properties>
    <title>Operation</title>
    <author email="Jordan.H.Padams@jpl.nasa.gov">Jordan Padams</author>
    <author email="Sean.Hardman@jpl.nasa.gov">Sean Hardman</author>
  </properties>

  <body>
    <section name="Operation">
      <p>This document describes how to operate the Search Core software for a generic environment, 
      see the <a href="./en-operate.html">Engineering Node Operation Procedures</a> for more detailed operation instruction for the 
      <a href="../install/en-install.html">Engineering Node installation</a>. The following topics can be found in this document:
      </p>

      <ul>
        <li><a href="#Tool_Execution">Tool Execution</a></li>
	<ul>
	  <li><a href="#Command-Line_Options"></a>Command-Line Options</li>
          <li><a href="#Execute Search Core Tool">Execute Search Core Tool</a></li>
	</ul>
        <li><a href="#Solr_Ingestion">Solr Ingestion</a></li>
        <li><a href="#Index_Generation_Examples">Index Generation Examples</a></li>
        <li><a href="#Search_Core_Configurations">Search Core Configurations</a></li>
	<ul>
	  <li><a href="#Defaults">Defaults</a></li>
	  <li><a href="#Layout">Layout</a></li>
	</ul>
	<li><a href="#Post_To_Operations">Post To Operations</a></li>
        <li><a href="#Common_Errors">Common Errors</a></li>
      </ul>

      <p>Note: The command-line examples in this section have been broken into multiple lines for readability. 
      The commands should be reassembled into a single line prior to execution.
      </p>
    </section>

    <section name="Tool Execution">
      <p>Search Core can be executed in various ways. This section describes how to run the tool, as well as its behaviors and caveats.
      </p>

      <subsection name="Command-Line Options">
        <p>The following table describes the command-line options available:
        </p>
	<source>

usage: search-core [options]


===========================================================
Command-line Options--------------Description---------------------------------------
===========================================================
 -a,--all                         Run all components of the Search Core
                                  [default]
 -c,--config-home &lt;directories&gt;   Specify the product class configuration home
                                  directory.Multiple directories can be
                                  specified to accompany multiple registries.
                                  (Default: $SEARCH_CORE_HOME/conf/pds/)
 -C,--clean-dirs                  Removal of all directories from previous
                                  Search Core execution output. These
                                  directories will still be backed up in the
                                  Search Home directory. (Default: True)
 -d,--debug                       Turn on developer debugger.
 -e,--extractor                   Execute component to extract data from
                                  registry
 -H,--search-home &lt;directory&gt;     Specify the Search Home directory. The tool
                                  will output the index files to this directory.
                                  When using the Search Service, this should be
                                  the  $SEARCH_SERVICE_HOME/pds directory
                                  (Default: $SEARCH_SERVICE_HOME/pds directory)
 -h,--help                        Display usage.
 -i,--solr-indexer                Execute component to generate a Solr Index
 -l,--log-file &lt;file name&gt;        Specify a log file name. Default is standard
                                  out.
 -m,--query-max &lt;integer&gt;         Specify the maximum number of registry values
                                  to be returned from query.(Default: 999999999)
 -P,--solr-post                   Execute component to post the index to the
                                  Search Service.
 -p,--properties-file &lt;files&gt;     Specify properties file containing Search
                                  Home, Registry URL, and search core
                                  configurations home directory. Multiple files
                                  can be specified.
 -r,--primary-registry &lt;urls&gt;     Specify the primary Registry Service
                                  instance(s) to query. Multiple registries can
                                  be specified. These registries will be used
                                  for all queries.
 -R,--secondary-registry &lt;urls&gt;   Specify secondary Registry Service instance(s)
                                  to query. Multiple registries can be
                                  specified. These registries will only be used
                                  after a query fails against all primary
                                  registries.
 -s,--service-url &lt;url>           Specify the Search Service URL
                                  endpoint.Default:
                                  http://localhost:8080/search-service
 -v,--verbose &lt;level>             Specify the severity level and above to
                                  include in the log: (0=Debug, 1=Info,
                                  2=Warning, 3=Error). Default is Info and above
                                  (level 1).
 -V,--version                     Display application version.
			  </source>
      </subsection>

      <subsection name="Execute Search Core Tool">
        <p>This section demonstrates execution of the tool using the command-line options. The examples below execute the tool via the batch/shell script.
        </p>

        <p>The Search Core requires, at minimum, a Search Home directory be specified via command-line.  The following is the format for the command:
        </p>

        <source>
% search-core -H &lt;search-home&gt; [options]
        </source>

        <p>Search Home refers to the home directory of the Solr Core we want to generate an index for. With the common Search Service installation, Search Home will be /usr/local/search-service/pds (SEARCH_SERVICE_HOME/pds).  The following demonstrates how to run the Search Core with a SEARCH_SERVICE_HOME=/usr/local/search-service, Primary Registry URL of http://localhost:8080/registry, an output log file of run.log, and config home of /usr/local/search-core/conf/pds/pds3  :
        </p>

        <source>
% search-core -H /usr/local/search-service/pds -r http://localhost:8080/registry \
-c /usr/local/search-core/conf/pds/pds3 -l run.log
        </source>

        <p>By default, the command above runs all components of the Search Core software and produces Solr XML Documents from the Registry Service data.  The Solr XML Documents are files formatted for addition to the Search Service index and will appear in the SEARCH_SERVICE_HOME/pds/index directory.</p>

	<p>The following does not specify a configuration home directory so the default is set to SEARCH_CORE_HOME/conf/pds/pds3 and output the logs to standard out:
	</p>
        <source>
% search-core -H /usr/local/search-service/pds -r http://localhost:8080/registry
        </source>

	<p>The Search Core Tool also provides the capability to run each component separately, however, they must be completed in the following order:
        </p>

        <ol>
          <li>
            <p>The following command will run the Registry Extractor component of the Search Core to generate temporary XML metadata files for each Registry context product type specified in the configurations.  By default, the output appears in the directory /usr/local/search-service/pds/solr-docs/&lt;config-title&gt;/:</p>
            <source>
% search-core -e -H /usr/local/search-service/pds -r http://localhost:8080/registry
            </source>
          </li>
          <li>
            <p>The following command will run the Solr Indexer component of the Search Core to parse the XML metadata files produced by the Registry Extractor, and generate Lucene Solr Documents  located in /usr/local/search-service/pds/index :</p>
            <source>
% search-core -i -H /usr/local/search-service/pds -r http://localhost:8080/registry
            </source>
          </li>

          <li>
            <p>The following command will run the Solr Post component of the Search Core to use HTTP Post and HTTP Get to submit the Lucene Solr Documents to the Search Service Solr Index. The default Search Service end point is http://localhost:8080/search-service/ and assumes the Solr Documents are in /usr/local/search-service/pds/index :</p>
            <source>
% search-core -P
            </source>
          </li>
        </ol>

        <p>The following command demonstrates how to test the Search Core with a SEARCH_SERVICE_HOME=/usr/local/search-service and only query 5 products for indexing (useful for testing purposes):
        </p>

        <source>
% search-core -H /usr/local/search-service/pds -r http://localhost:8080/registry \
-m 5
        </source>

        <p>The following command demonstrates how to specify a primary registry and configuration home via a Search Core properties file:
        </p>

        <source>
% search-core -H /usr/local/search-service/pds \
-p /usr/local/search-core/conf/pds/pds3/core.properties
        </source>

        <p>An example Search Core properties file looks like this:</p>

        <source>
search.core.primary-registry = http://localhost:8080/registry
search.core.config-home = /usr/local/search-core/conf/pds/pds3
        </source>

        <p>The following command demonstrates how to specify multiple registries:
        </p>

        <source>
% search-core -H /usr/local/search-service/pds -r http://localhost:8080/registry \
http://localhost:8080/registry-psa
        </source>

        <p>The following command demonstrates how to specify multiple Search Core property files:
        </p>

        <source>
% search-core -p /usr/local/search-core/conf/pds/pds3/core.properties \
/usr/local/search-core/conf/psa/pds3/core.properties
        </source>
      </subsection>
    </section>

    <section name="Index Generation Examples">
        <p>Most users will only require 1 registry and 1 set of configuration files for product classes to include in the index.  Using the default Search Service and Search Core installations specified in the documentation, here is an example of generating an index for a basic installation to generate an index for PDS3 Context Products:</p>
        <source>
% search-core -H /usr/local/search-service/pds \
-p /usr/local/search-core/conf/pds/pds3/core.properties
        </source>

        <p>For PDS4 Product Search:</p>

        <source>
% search-core -H /usr/local/search-service/pds \
-p /usr/local/search-core/conf/pds/pds4/core.properties
        </source>

        <p>For PSA Context Products:</p>

        <source>
% search-core -H /usr/local/search-service/pds \
-p /usr/local/search-core/conf/psa/pds3/core.properties
        </source>

        <p>For all available PDS3 and PDS4 data:</p>

        <source>
% search-core -H /usr/local/search-service/pds \
-p /usr/local/search-core/conf/pds/pds3/core.properties \
/usr/local/search-core/conf/psa/pds3/core.properties \
/usr/local/search-core/conf/pds/pds4/core.properties
        </source>

	<p>After you run the indexes, <a href="#Did_It_Work?">see if it worked</a>.</p>
    </section>

    <section name="Search Core Configurations">
      <p>Running the Search Core is based around XML configuration files that must include query information, data source specifications, and the fields to be included in the index.  The following sections will outline the basic schema for creating a configuration file.  Once a configuration file has been created, you can specify its location using the -c command-line option or in the properties file.
      </p>
      <subsection name="Defaults">
	<p>Default configurations are provided for the following data types <i>(assumes Search Core is installed at /usr/local/search-core, if not, update the file paths as needed)</i>:</p>
	<table>
	  <tr><th>Location</th><th>File Name</th><th>Object Type</th><th>Comments</th></tr>
	  <tr><td>/usr/local/search-core/conf/pds/pds3</td><td></td><td></td><td>Queries PDS3 versioned PDS products</td></tr>
	  <tr>
	    <td></td>
	    <td>archiveinfo.xml</td>
	    <td>Product_Context</td>
	    <td>Also filters where name="*Archive Information"</td>
	  </tr>
	  <tr>
	    <td></td>
	    <td>dataset.xml</td>
	    <td>Product_Data_Set_PDS3</td>
	    <td></td>
	  </tr>
	  <tr>
	    <td></td>
	    <td>instrument.xml</td>
	    <td>Product_Instrument_PDS3</td>
	    <td></td>
	  </tr>
	  <tr>
	    <td></td>
	    <td>instrumenthost.xml</td>
	    <td>Product_Instrument_Host_PDS3</td>
	    <td></td>
	  </tr>
	  <tr>
	    <td></td>
	    <td>investigation.xml</td>
	    <td>Product_Mission_PDS3</td>
	    <td></td>
	  </tr>
	  <tr>
	    <td></td>
	    <td>target.xml</td>
	    <td>Product_Target_PDS3</td>
	    <td></td>
	  </tr>
	  <tr><td>/usr/local/search-core/conf/pds/pds4</td><td></td><td></td><td>Queries PDS4 versioned PDS products</td></tr>
	  <tr>
	    <td></td>
	    <td>bundle.xml</td>
	    <td>Product_Bundle</td>
	    <td></td>
	  </tr>
	  <tr>
	    <td></td>
	    <td>collection.xml</td>
	    <td>Product_Collection</td>
	    <td></td>
	  </tr>
	  <tr>
	    <td></td>
	    <td>context.xml</td>
	    <td>Product_Context</td>
	    <td></td>
	  </tr>
	  <tr>
	    <td></td>
	    <td>observational.xml</td>
	    <td>Product_Observational</td>
	    <td></td>
	  </tr>
	  <tr><td>/usr/local/search-core/conf/psa/pds3</td><td></td><td></td><td>Queries PDS3 versioned PSA Products</td></tr>
	  <tr>
	    <td></td>
	    <td>psa-dataset.xml</td>
	    <td>Product_Data_Set_PDS3</td>
	    <td></td>
	  </tr>
	</table>
      </subsection>
      <subsection name="Layout">
	<source>
&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;product&gt;
  &lt;specification&gt;
    &lt;title&gt;DataSet&lt;/title&gt;
    &lt;registryObjectType&gt;Product_Data_Set_PDS3&lt;/registryObjectType&gt;
    &lt;/specification&gt;
  
  <!-- Fields displayed in default Search Service results -->
  &lt;indexFields&gt;
    <!-- Test required fields -->
    &lt;field name="identifier" type="required"&gt;
      &lt;registryPath&gt;lid&lt;/registryPath&gt;
      &lt;/field&gt;
    &lt;field name="title" type="required"&gt;
      &lt;registryPath&gt;name&lt;/registryPath&gt;
      &lt;/field&gt;
    &lt;field name="description" type="required"&gt;
      &lt;registryPath&gt;data_set_terse_description&lt;/registryPath&gt;
      &lt;/field&gt;
    &lt;field name="resLocation" type="required"&gt;
      &lt;outputString&gt;/ds-view/pds/viewDataset.jsp?dsid={data_set_id}&lt;/outputString&gt;
      &lt;/field&gt;
    &lt;field name="objectType" type="string"&gt;
      &lt;registryPath&gt;objectType&lt;/registryPath&gt;
      &lt;/field&gt;
    &lt;field name="agency_name" type="string" default="Unknown"&gt;
      &lt;registryPath&gt;node_ref.agency_ref.alternate_id&lt;/registryPath&gt;
    &lt;/field&gt;
  &lt;/indexFields&gt;
&lt;/product&gt;
	</source>
	<p>Description of schema TBD.</p>
      </subsection>
    </section>
	
    <section name="Did It Work?">
        <p>Once you run the Search Core with all components the data should be available through the Search Service interface. Go to <a href="http://localhost:8080/search-service/pds/search/?q=*:*">http://localhost:8080/search-service/pds/search/?q=*:*</a> to verify data is available (modify domain and port as needed).  See the <a href="../../search-service/operate">Search Service - Operate</a> page for more information on how to query data.
        </p>
    </section>

    <section name="Post To Operations">
      <p>Some installations require building an index to be replicated between multiple secured machines.  Secured machines, meaning POSTing data remotely is forbidden.  Instead of generating a new index on each machine, the <i>$SEARCH_CORE_HOME/bin/ops-index</i> script was developed to <a href="http://rsync.samba.org/">rsync</a> a previously generated index from a remote machine and POST the data to a local Search Service installation.  The following describes the how to use the script:</p>

      <subsection name="Using Environment Variables">
        <ul>
          <li>Update <i>$SEARCH_CORE_HOME/bin/env-vars</i> with, <b>at minimum</b>, the following information:
            <ul>
              <li>SEARCH_HOME - The path for the home directory of local instance of search service.</li>
              <li>SEARCH_SERVICE_URL - URL of the Search Service instance.</li>
              <li>SOURCE - Source machine name where initial index was generated</li>
              <li>SOURCE_USER - Username to connect source machine</li>
              <li>SOURCE_PATH - Optional variable. Path on source machine to directory containing <i>solr_index.xml.*</i>. Defaults to <i>$SEARCH_HOME/index</i>.</li>
            </ul>
          </li>
          <li>Run the <i>ops-index</i> script:
            <source>
% $SEARCH_CORE_HOME/ops-index
            </source>
          </li>
        </ul>
      </subsection>

      <subsection name="Using Command-Line Arguments">
        <p>The ops-index script can also be run using command-line arguments in lieu of updating <i>env-vars</i>:</p>
        <source>
% $SEARCH_CORE_HOME/ops-index &lt;SEARCH_HOME&gt; &lt;SEARCH_SERVICE_URL&gt; \
&lt;SOURCE&gt; &lt;SOURCE_USER&gt; [&lt;SOURCE_PATH&gt;]
        </source>

        <p>For example:</p>

        <source>
% ./ops-index /usr/local/search-service/pds http://localhost:8080/search-service/pds \
pdsbeta.jpl.nasa.gov root
        </source>
      </subsection>

      <subsection name="Test Search Service">
        <p>Once this script completes, the data should be available through the Search Service interface. Go to <a href="http://localhost:8080/search-service/pds/search/?q=*:*">http://localhost:8080/search-service/pds/search/?q=*:*</a> to verify data is available (modify domain and port as needed).  See the <a href="../../search-service/operate">Search Service - Operate</a> page for more information on how to query data.
        </p>
      </subsection>
    </section>

    <section name="Common Errors">
      <subsection name="Error running Registry Extractor">
        <p>This error arises when there is an error connecting with the Registry.  The following are potential mitigation strategies:</p>
        <ul>
          <li>Verify the Registry URL specified is correct and accessible.</li>
          <li>Verify the Registry is populated with data by going to $REGISTRY_URL/report.  See <a href="../../../registry">Registry Documentation</a> for more information.</li>
        </ul>
      </subsection>

      <subsection name="501 Method Not Implemented">
        <p>This error occurs when using <i>solr-post</i> script and the HTTP POST method to ingest data into Solr.  This usually means that the Search Service URL specified is either incorrect or attempting to access a port that is not open to the HTTP POST method.  The following are potential mitigation strategies:
        </p>
        <ul>
          <li>Verify Search Service URL is correct by navigating to the page.  The Solr Welcome screen should appear.</li>
          <li>Try changing the URL to access the localhost or an intranet-only accessible port (i.e. 8080).  Often servers do not allow the HTTP POST method through port 80 when accessing Tomcat.  For instance, if the Search Service URL used is http://my-host/search-service, try http://localhost:8080/search-service or http://my-host:8080/search-service (ports will differ according to Tomcat installation).</li>
        </ul>
      </subsection>

      <subsection name="search-core: command not found">
        <p>This error occurs when the system cannot find the <i>search-core</i> script in the PATH.  See <a href="../install">Installation Instructions</a> for more information on adding the <i>search-core</i> to the PATH.
        </p>
      </subsection>
    </section>
  </body>
</document>
